@import "../../_import/scss/__import";

#ULGN-div-top
{
    @include displayBk;
    @include widthFull;
    @include heightFull;
    background-color: rgba(255,255,255,1);
    overflow: auto;
}

#ULGN-span-version
{
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    @include fonts09;
    color: rgb(150,150,150);
}
#ULGN-span-version::before
{
    content: "v";
}

/* ================ */
/* logo */
/* ================ */
#ULGN-span-title
{
    @include displayBk;
    font-size: 3em;
    @include fontwN;
    color: $colorMain;
    @include fonth16;
}
.ULGN-div-titleAccent
{
    @include displayBk;
    width: 4em;
    height: $space02;
    @include marUD02;
    background-color: $colorSide;
}

/* ================ */
/* 로그인 input */
/* ================ */
.ULGN-input-text
{
    @include displayBk;
    width: 15em;
    height: auto;
    border: 0.05em solid $colorBody;
    @include fonts12;
    @include alignL;
    background: transparent;
    border-radius: $borderRadius;
    @include marUD05;
    @include marAuto;
    @include pad04;
}
.ULGN-input-text:focus
{
    border: 0.1em solid $colorMain;
    box-shadow: none;
}
.ULGN-img-input
{
    @include marUp04;
    height: 1.2em;
    vertical-align: top;
}

/* ================ */
/* 로그인 페이지 버튼들 */
/* ================ */
.ULGN-login-btn
{
    @include displayBk;
    @include marUD08;
    @include marAuto;
    width: 18em;
    height: 3em;
}

#ULGN-tbl-bottomRight
{
    position: absolute;
    bottom: 1em;
    right: 1em;
    @include alignR;
    @include fonts09;
}

/* ================ */
/* --- 또는 --- */
/* ================ */
.ULGN-div-divider
{
    display: flex;
    align-items: center;
    gap: 0.5em;
    @include marUp02;
    @include marUp04;
    @include marAuto;
    width: 15em;
}
.ULGN-div-divider > div:nth-child(1) { flex: 1; height: 0.05em; background: $colorLine; }
.ULGN-div-divider > div:nth-child(2) { color: $colorLine; }
.ULGN-div-divider > div:nth-child(3) { flex: 1; height: 0.05em; background: $colorLine; }


