@import "../../_import/scss/__import";

#ULGN-div-top
{
    @include displayBk;
    width: 100%;
    height: 100%;
    @include colorWhitBack;
    overflow: auto;
}

#ULGN-span-version
{
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    @include fonts09;
    @include colorBodyFont;
}
#ULGN-span-version::before
{
    content: "v";
}

/* ================ */
/* logo */
/* ================ */
#ULGN-span-title
{
    @include displayBk;
    font-size: 3em;
    @include fontwN;
    @include colorMainFont;
    @include fonth16;
}
.ULGN-div-titleAccent
{
    @include displayBk;
    width: 4em;
    height: 0.2em;
    @include marUD02;
    @include colorSideBackSolid;
}

/* ================ */
/* 로그인 input */
/* ================ */
.ULGN-input-text
{
    @include displayBk;
    width: 15em;
    height: auto;
    border: 0.05em solid $colorBody;
    @include fonts12;
    @include alignL;
    @include transparent;
    @include radiusCurv04;
    @include marUD05;
    @include marAuto;
    @include pad04;
}
.ULGN-input-text:focus
{
    border: 0.1em solid $colorMain;
    box-shadow: none;
}
.ULGN-img-input
{
    @include marUp04;
    height: 1.2em;
    vertical-align: top;
}

/* ================ */
/* 로그인 페이지 버튼들 */
/* ================ */
.ULGN-login-btn
{
    @include displayBk;
    @include marUD08;
    @include marAuto;
    width: 18em;
    height: 3em;
}

#ULGN-tbl-bottomRight
{
    position: absolute;
    bottom: 1em;
    right: 1em;
    @include alignR;
    @include fonts09;
}

/* ================ */
/* --- 또는 --- */
/* ================ */
.ULGN-div-divider
{
    display: flex;
    align-items: center;
    gap: 0.5em;
    @include marUp02;
    @include marUp04;
    @include marAuto;
    width: 15em;
}
.ULGN-div-divider > div:nth-child(1) { flex: 1; height: 0.05em; @include colorLine; }
.ULGN-div-divider > div:nth-child(2) { @include colorLineFont; }
.ULGN-div-divider > div:nth-child(3) { flex: 1; height: 0.05em; @include colorLine; }


