@use "sass:color";

/* ========================= */
/* font main */
/* ========================= */
@mixin fontDefault
{
    font-family: 'Nanum Gothic', sans-serif;
}

/* ========================= */
/* colors main */
/* ========================= */

/* ========================= */
/* colors */
/* ========================= */
/* #1B4BB8 */
@mixin transparent { background:transparent; }
$colorMain:#020654; /* rgb(2   , 6   , 84  ); #020654 */ $colorMainBack:color.scale($colorMain, $lightness:80%); @mixin colorMainShad { box-shadow:1px 1px 7px 2px color.scale($colorMain, $lightness:80%); } @mixin colorMainFont { color:$colorMain; } @mixin colorMainBackSolid { background:$colorMain; } @mixin colorMainBackTrans { background:rgba($colorMain,0.2); }
$colorDark:#020421; /* rgb(2   , 6   , 84  ); #020654 */ $colorDarkBack:color.scale($colorDark, $lightness:80%); @mixin colorDarkShad { box-shadow:1px 1px 7px 2px color.scale($colorDark, $lightness:80%); } @mixin colorDarkFont { color:$colorDark; } @mixin colorDarkBackSolid { background:$colorDark; } @mixin colorDarkBackTrans { background:rgba($colorDark,0.2); }
$colorHead:#1b2a6b; /* rgb(27  , 42  , 107 ); #1B2A6B */ $colorHeadBack:color.scale($colorHead, $lightness:80%); @mixin colorHeadShad { box-shadow:1px 1px 7px 2px color.scale($colorHead, $lightness:80%); } @mixin colorHeadFont { color:$colorHead; } @mixin colorHeadBackSolid { background:$colorHead; } @mixin colorHeadBackTrans { background:rgba($colorHead,0.2); }
$colorSide:#3d6bf5; /* rgb(61  , 107 , 245 ); #3D6BF5 */ $colorSideBack:color.scale($colorSide, $lightness:80%); @mixin colorSideShad { box-shadow:1px 1px 7px 2px color.scale($colorSide, $lightness:80%); } @mixin colorSideFont { color:$colorSide; } @mixin colorSideBackSolid { background:$colorSide; } @mixin colorSideBackTrans { background:rgba($colorSide,0.2); }
$colorBody:#3c435c; /* rgb(122 , 128 , 153 ); #7A8099 */ $colorBodyBack:color.scale($colorBody, $lightness:80%); @mixin colorBodyShad { box-shadow:1px 1px 7px 2px color.scale($colorBody, $lightness:80%); } @mixin colorBodyFont { color:$colorBody; } @mixin colorBodyBackSolid { background:$colorBody; } @mixin colorBodyBackTrans { background:rgba($colorBody,0.2); }
$colorCmmt:#7a7d84; /* rgb(122 , 128 , 153 ); #7A8099 */ $colorCmmtBack:color.scale($colorCmmt, $lightness:80%); @mixin colorCmmtShad { box-shadow:1px 1px 7px 2px color.scale($colorCmmt, $lightness:80%); } @mixin colorCmmtFont { color:$colorCmmt; } @mixin colorCmmtBackSolid { background:$colorCmmt; } @mixin colorCmmtBackTrans { background:rgba($colorCmmt,0.2); }
$colorSept:#c4c7ce; /* rgb(228 , 231 , 240 ); #E4E7F0 */ $colorSeptBack:color.scale($colorSept, $lightness:80%); @mixin colorSeptShad { box-shadow:1px 1px 7px 2px color.scale($colorSept, $lightness:80%); } @mixin colorSeptFont { color:$colorSept; } @mixin colorSeptBackSolid { background:$colorSept; } @mixin colorSeptBackTrans { background:rgba($colorSept,0.2); }
$colorLine:#e4e7f0; /* rgb(228 , 231 , 240 ); #E4E7F0 */ $colorLineBack:color.scale($colorLine, $lightness:80%); @mixin colorLineShad { box-shadow:1px 1px 7px 2px color.scale($colorLine, $lightness:80%); } @mixin colorLineFont { color:$colorLine; } @mixin colorLineBackSolid { background:$colorLine; } @mixin colorLineBackTrans { background:rgba($colorLine,0.2); }
$colorPstv:#3d6bf5; /* rgb(0   , 2   , 120 ); #000278 */ $colorPstvBack:color.scale($colorPstv, $lightness:80%); @mixin colorPstvShad { box-shadow:1px 1px 7px 2px color.scale($colorPstv, $lightness:80%); } @mixin colorPstvFont { color:$colorPstv; } @mixin colorPstvBackSolid { background:$colorPstv; } @mixin colorPstvBackTrans { background:rgba($colorPstv,0.2); }
$colorAllw:#009600; /* rgb(0   , 150 , 0   ); #009600 */ $colorAllwBack:color.scale($colorAllw, $lightness:80%); @mixin colorAllwShad { box-shadow:1px 1px 7px 2px color.scale($colorAllw, $lightness:80%); } @mixin colorAllwFont { color:$colorAllw; } @mixin colorAllwBackSolid { background:$colorAllw; } @mixin colorAllwBackTrans { background:rgba($colorAllw,0.2); }
$colorProg:#039a00; /* rgb(3   , 154 , 0   ); #039a00 */ $colorProgBack:color.scale($colorProg, $lightness:80%); @mixin colorProgShad { box-shadow:1px 1px 7px 2px color.scale($colorProg, $lightness:80%); } @mixin colorProgFont { color:$colorProg; } @mixin colorProgBackSolid { background:$colorProg; } @mixin colorProgBackTrans { background:rgba($colorProg,0.2); }
$colorNtce:#2865ff; /* rgb(40  , 101 , 255 ); #d9e4ff */ $colorNtceBack:color.scale($colorNtce, $lightness:80%); @mixin colorNtceShad { box-shadow:1px 1px 7px 2px color.scale($colorNtce, $lightness:80%); } @mixin colorNtceFont { color:$colorNtce; } @mixin colorNtceBackSolid { background:$colorNtce; } @mixin colorNtceBackTrans { background:rgba($colorNtce,0.2); }
$colorInfo:#3c435c; /* rgb(40  , 101 , 255 ); #d9e4ff */ $colorInfoBack:color.scale($colorInfo, $lightness:80%); @mixin colorInfoShad { box-shadow:1px 1px 7px 2px color.scale($colorInfo, $lightness:80%); } @mixin colorInfoFont { color:$colorInfo; } @mixin colorInfoBackSolid { background:$colorInfo; } @mixin colorInfoBackTrans { background:rgba($colorInfo,0.2); }
$colorDtil:#EAF0FF; /* rgb(234 , 240 , 255 ); #EAF0FF */ $colorDtilBack:color.scale($colorDtil, $lightness:80%); @mixin colorDtilShad { box-shadow:1px 1px 7px 2px color.scale($colorDtil, $lightness:80%); } @mixin colorDtilFont { color:$colorDtil; } @mixin colorDtilBackSolid { background:$colorDtil; } @mixin colorDtilBackTrans { background:rgba($colorDtil,0.2); }
$colorHold:#ffb300; /* rgb(212 , 173 , 0   ); #d4ad00 */ $colorHoldBack:color.scale($colorHold, $lightness:80%); @mixin colorHoldShad { box-shadow:1px 1px 7px 2px color.scale($colorHold, $lightness:80%); } @mixin colorHoldFont { color:$colorHold; } @mixin colorHoldBackSolid { background:$colorHold; } @mixin colorHoldBackTrans { background:rgba($colorHold,0.2); }
$colorCncl:#ff7415; /* rgb(255 , 116 , 21  ); #FF7415 */ $colorCnclBack:color.scale($colorCncl, $lightness:80%); @mixin colorCnclShad { box-shadow:1px 1px 7px 2px color.scale($colorCncl, $lightness:80%); } @mixin colorCnclFont { color:$colorCncl; } @mixin colorCnclBackSolid { background:$colorCncl; } @mixin colorCnclBackTrans { background:rgba($colorCncl,0.2); }
$colorWarn:#ff7415; /* rgb(255 , 116 , 21  ); #FF7415 */ $colorWarnBack:color.scale($colorWarn, $lightness:80%); @mixin colorWarnShad { box-shadow:1px 1px 7px 2px color.scale($colorWarn, $lightness:80%); } @mixin colorWarnFont { color:$colorWarn; } @mixin colorWarnBackSolid { background:$colorWarn; } @mixin colorWarnBackTrans { background:rgba($colorWarn,0.2); }
$colorErrr:#ce2727; /* rgb(206 , 39  , 39  ); #ce2727 */ $colorErrrBack:color.scale($colorErrr, $lightness:80%); @mixin colorErrrShad { box-shadow:1px 1px 7px 2px color.scale($colorErrr, $lightness:80%); } @mixin colorErrrFont { color:$colorErrr; } @mixin colorErrrBackSolid { background:$colorErrr; } @mixin colorErrrBackTrans { background:rgba($colorErrr,0.2); }
$colorNgtv:#780000; /* rgb(120 , 0   , 0   ); #780000 */ $colorNgtvBack:color.scale($colorNgtv, $lightness:80%); @mixin colorNgtvShad { box-shadow:1px 1px 7px 2px color.scale($colorNgtv, $lightness:80%); } @mixin colorNgtvFont { color:$colorNgtv; } @mixin colorNgtvBackSolid { background:$colorNgtv; } @mixin colorNgtvBackTrans { background:rgba($colorNgtv,0.2); }
$colorEndd:#717171; /* rgb(120 , 0   , 0   ); #780000 */ $colorEnddBack:color.scale($colorEndd, $lightness:80%); @mixin colorEnddShad { box-shadow:1px 1px 7px 2px color.scale($colorEndd, $lightness:80%); } @mixin colorEnddFont { color:$colorEndd; } @mixin colorEnddBackSolid { background:$colorEndd; } @mixin colorEnddBackTrans { background:rgba($colorEndd,0.2); }
$colorSnow:#ffffff; /* rgb(100 , 100 , 100 ); #636363 */ $colorSnowBack:color.scale($colorSnow, $lightness:80%); @mixin colorSnowShad { box-shadow:1px 1px 7px 2px color.scale($colorSnow, $lightness:80%); } @mixin colorSnowFont { color:$colorSnow; } @mixin colorSnowBackSolid { background:$colorSnow; } @mixin colorSnowBackTrans { background:rgba($colorSnow,0.2); }
@mixin backgroundTrans { background:transparent; }
@mixin borderAllNone   { border:none; }
@mixin borderTopNone   { border-top:none; }

/* ========================= */
/* spacing */
/* ========================= */
$spaceZZ:0.0em;
$space01:0.1em;
$space02:0.2em;
$space03:0.3em;
$space04:0.4em;
$space05:0.5em;
$space06:0.6em;
$space07:0.7em;
$space08:0.8em;
$space10:1.0em;
$space12:1.2em;
$space20:2.0em;
$space40:4.0em;
$spaceDw08:0em 0em $space08 0em;

/* ========================= */
/* styles */
/* ========================= */

$borderRadiusDefault:0.4em;
$borderRadiusDivCard:0.8em;

@mixin fonts08      { font-size:0.8em;          }
@mixin fonts09      { font-size:0.9em;          }
@mixin fonts10      { font-size:1.0em;          }
@mixin fonts11      { font-size:1.1em;          }
@mixin fonts12      { font-size:1.2em;          }
@mixin fonts14      { font-size:1.4em;          }
@mixin fonts30      { font-size:3.0em;          }
@mixin fontwN       { font-weight:normal;       }
@mixin fontwB       { font-weight:bold;         }
@mixin fonth12      { line-height:1.2;          }
@mixin fonth14      { line-height:1.4;          }
@mixin fonth16      { line-height:1.6;          }
@mixin alignC       { text-align:center;        }
@mixin alignR       { text-align:right;         }
@mixin alignL       { text-align:left;          }
@mixin verticalM    { vertical-align:middle;    }
@mixin boxsizeB     { box-sizing:border-box;    }
@mixin boxsizeC     { box-sizing:content-box;   }
@mixin overflowX    { overflow-x:auto;          }


/* ========================= */
/* margin / padding */
/* ========================= */
$marHuge:2em;   /* 마진 - 꽉 */
$marFull:1em;   /* 마진 - 꽉 */
$marMore:0.8em; /* 마진 - 많음 */
$marBase:0.6em; /* 마진 - 기본 */
$marHalf:0.4em; /* 마진 - 반 */
$marLite:0.2em; /* 마진 - 약간 */
$marTiny:0.2em; /* 마진 - 아주 약간 */
$marNano:0.1em; /* 마진 - 아주 더 약간 */

$padUDbtn:0.3em; $padLRbtn:0.4em; /* 패딩 - 버튼 */
$padHuge:2em;   /* 패딩 - 꽉 */
$padFull:1em;   /* 패딩 - 꽉 */
$padMore:0.8em; /* 패딩 - 큰 */
$padBase:0.6em; /* 패딩 - 기본 */
$padHalf:0.4em; /* 패딩 - 반 */
$padLite:0.2em; /* 패딩 - 약간 */
$padTiny:0.2em; /* 패딩 - 아주 약간 */
$padNano:0.1em; /* 패딩 - 아주 더 약간 */

@mixin paddingForm { padding: 1em 2em; }
