/* ========================= */
/* MPaymentQueue */
/* ========================= */

/* --------------- */
/* forPayment */
/* --------------- */
.MPaymentQueue-makeForPayment-table-top
{
    font-size:1.1em;
    width:100%;
}
.MPaymentQueue-makeForPayment-table-top > tbody > tr > td
{
    padding:0.3em 0.1em;
    text-align: center;
}

/* ========================= */
/* MAddressSigungu */
/* ========================= */
.MAddressSigungu-makeInline-div-top
{
    display:inline-block;
    font-size:1em;
    padding:0.2em 0.3em;
    line-height:1.4;
    border: 1px solid rgba(2, 6, 84, 1.0);
    color:rgba(2, 6, 84, 1.0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
    background-color: white;
    margin:0.2em 0.1em;
}