/* ------------------------------ */
/* p 타이틀 */
/* ------------------------------ */
.common-p-subtitle
{
    display: block;
    padding : 0.0em 0.0em 0.0em 0.6em; /* 왼쪽 */
    margin  : 1.0em 0.0em 0.3em 0.0em; /* 위 아래 */
    color:rgb(2,6,84);
    font-weight: 900;
    line-height:1.4em;
    font-size:1.1em;
}

.common-p-thankyou
{
    margin:0.5em 0em 0.5em 0em;
    text-align: center;
    font-size:1.2em;
    color:rgba(2, 6, 84, 1.0);
    font-weight: bold;
}

.common-p-title
{
    margin:0.4em 0em 0.4em 0em;
    text-align: left;
    color:rgba(2, 6, 84, 1.0);
    font-weight: bold;
    font-size:1.1em;
}
.common-p-titlesub
{
    margin:0.4em 0em 0.4em 0em;
    text-align: left;
    color:rgba(2, 6, 84, 1.0);
    font-weight: normal;
    font-size:1em;
}
.common-div-card       > .common-p-title { margin-top:0em; }
.common-div-cushion    > .common-p-title { margin-top:0em; }
.common-div-cushionLRD > .common-p-title { margin-top:0em; }
.common-div-cushionTop > .common-p-title { margin-top:0em; }

/* ------------------------------ */
/* insert 페이지의 타이틀 */
/* ------------------------------ */
.common-p-insertTitle > span { display:block; margin:0em auto; text-align:center; }
.common-p-insertTitle > span:nth-child(1) { font-size:1.1em; color:rgba(2, 6, 84, 1.0); }
.common-p-insertTitle > span:nth-child(2) { font-size:0.9em; }
.common-p-insertTitle > span:nth-child(3) { font-size:0.9em; }

/* ------------------------------ */
/* card div 의 타이틀 */
/* ------------------------------ */
.common-p-cardTitle
{
    margin-top:0em;
    margin-bottom:0.7em;
}
.common-p-cardTitle > span { display:block; margin:0em auto; text-align:center; }
.common-p-cardTitle > span:nth-child(1) { font-size:1.1em; color:rgba(2, 6, 84, 1.0); }
.common-p-cardTitle > span:nth-child(2) { font-size:0.9em; }
.common-p-cardTitle > span:nth-child(3) { font-size:0.9em; }

/* ------------------------------ */
/* 부드러운 대화형 p 타이틀 */
/* ------------------------------ */
.common-p-smoothTitle
{
    margin:0em 0em 0.5em;
    color:rgb(2,6,84);
    line-height: 1.6em;
}