/* ==================== */
/* ==================== */
.MBankaccount-make-div-top
{
    position: relative;
}
.MBankaccount-make-table-top
{
    display:block;
    border-collapse: collapse;
    white-space: normal;
}
