@charset "UTF-8";
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #020654 */
/* #1B2A6B */
/* #3D6BF5 */
/* #7A8099 */
/* #cfd2e1 */
/* #7A8099 */
/* #000278 */
/* #009600 */
/* #039a00 */
/* #374B9B */
/* #d4ad00 */
/* #FF7415 */
/* #FF7415 */
/* #ce2727 */
/* #780000 */
/* #000000 */
/* #ffffff */
/* #636363 */
/* #e6e6e6 */
/* #bebebe */
/* #969696 */
/* #808080 */
/* #646464 */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
/* ========================= */
/* btns */
/* ========================= */
/* ============================== */
/* main button */
/* ============================== */
.common-btn-light,
.common-btn-outline,
.common-btn-inline,
.common-btn-round,
.common-btn-radio {
  display: inline-block;
  padding: 0.4em;
  line-height: 1.4;
  text-decoration: none;
  box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  border-radius: 0.4em;
}

.common-btn-round {
  border-radius: 100%;
}

.common-btn-light:hover,
.common-btn-outline:hover,
.common-btn-inline:hover,
.common-btn-round:hover,
.common-btn-radio:hover {
  outline: none;
  cursor: pointer;
}

/* round */
.common-btn-round {
  border: 1px solid rgb(2, 6, 84);
  color: rgb(2, 6, 84);
}

.common-btn-round[btn-type=choosed] {
  border: 1px solid rgb(2, 6, 84);
  color: rgb(2, 6, 84);
}

.common-btn-round[btn-type=cancel] {
  border: 1px solid rgb(255, 116, 21);
  color: rgb(255, 116, 21);
}

.common-btn-round[btn-type=warning] {
  border: 1px solid rgb(255, 116, 21);
  color: rgb(255, 116, 21);
}

.common-btn-round[btn-type=error] {
  border: 1px solid rgb(206, 39, 39);
  color: rgb(206, 39, 39);
}

.common-btn-round[btn-type=error] {
  border: 1px solid rgb(206, 39, 39);
  color: rgb(206, 39, 39);
}

.common-btn-round:active {
  border-color: rgba(2, 6, 84, 0.3);
  background: rgba(2, 6, 84, 0.3);
}

.common-btn-round[btn-type=choosed]:active {
  border-color: rgba(2, 6, 84, 0.3);
  background: rgba(2, 6, 84, 0.3);
}

.common-btn-round[btn-type=cancel]:active {
  border-color: rgba(255, 116, 21, 0.3);
  background: rgba(255, 116, 21, 0.3);
}

.common-btn-round[btn-type=warning]:active {
  border-color: rgba(255, 116, 21, 0.3);
  background: rgba(255, 116, 21, 0.3);
}

.common-btn-round[btn-type=error]:active {
  border-color: rgba(206, 39, 39, 0.3);
  background: rgba(206, 39, 39, 0.3);
}

.common-btn-round[btn-type=error]:active {
  border-color: rgba(206, 39, 39, 0.3);
  background: rgba(206, 39, 39, 0.3);
}

/* outline */
.common-btn-outline {
  border: 1px solid rgb(2, 6, 84);
  color: rgb(2, 6, 84);
}

.common-btn-outline[btn-type=choosed] {
  border: 1px solid rgb(2, 6, 84);
  color: rgb(2, 6, 84);
}

.common-btn-outline[btn-type=cancel] {
  border: 1px solid rgb(255, 116, 21);
  color: rgb(255, 116, 21);
}

.common-btn-outline[btn-type=warning] {
  border: 1px solid rgb(255, 116, 21);
  color: rgb(255, 116, 21);
}

.common-btn-outline[btn-type=error] {
  border: 1px solid rgb(206, 39, 39);
  color: rgb(206, 39, 39);
}

.common-btn-outline[btn-type=delete] {
  border: 1px solid rgb(206, 39, 39);
  color: rgb(206, 39, 39);
}

.common-btn-outline:active {
  border-color: rgba(2, 6, 84, 0.3);
  background: rgba(2, 6, 84, 0.3);
}

.common-btn-outline[btn-type=choosed]:active {
  border-color: rgba(2, 6, 84, 0.3);
  background: rgba(2, 6, 84, 0.3);
}

.common-btn-outline[btn-type=cancel]:active {
  border-color: rgba(255, 116, 21, 0.3);
  background: rgba(255, 116, 21, 0.3);
}

.common-btn-outline[btn-type=warning]:active {
  border-color: rgba(255, 116, 21, 0.3);
  background: rgba(255, 116, 21, 0.3);
}

.common-btn-outline[btn-type=error]:active {
  border-color: rgba(206, 39, 39, 0.3);
  background: rgba(206, 39, 39, 0.3);
}

.common-btn-outline[btn-type=delete]:active {
  border-color: rgba(206, 39, 39, 0.3);
  background: rgba(206, 39, 39, 0.3);
}

.common-btn-outline:disabled {
  border: 1px solid rgb(2, 6, 84);
  background: rgb(255, 255, 255);
  color: rgb(2, 6, 84);
}

/* outline */
.common-btn-light {
  border: 1px solid rgb(122, 128, 153);
  color: rgb(122, 128, 153);
}

.common-btn-light:active {
  border-color: rgba(122, 128, 153, 0.3);
  background: rgba(122, 128, 153, 0.3);
}

.common-btn-light:disabled {
  border: 1px solid rgb(122, 128, 153);
  background: rgb(255, 255, 255);
  color: rgb(122, 128, 153);
}

/* inline */
.common-btn-inline {
  border: 1px solid rgb(2, 6, 84);
  background: rgb(2, 6, 84);
  color: rgb(255, 255, 255);
}

.common-btn-inline[btn-type=cancel] {
  border: 1px solid rgb(255, 116, 21);
  background: rgb(255, 116, 21);
  color: rgb(255, 255, 255);
}

.common-btn-inline[btn-type=delete] {
  border: 1px solid rgb(206, 39, 39);
  background: rgb(206, 39, 39);
  color: rgb(255, 255, 255);
}

.common-btn-inline:active {
  border-color: rgba(2, 6, 84, 0.3);
  background: rgba(2, 6, 84, 0.3);
}

.common-btn-inline[btn-type=cancel]:active {
  border-color: rgba(255, 116, 21, 0.3);
  background: rgba(255, 116, 21, 0.3);
}

.common-btn-inline[btn-type=delete]:active {
  border-color: rgba(206, 39, 39, 0.3);
  background: rgba(206, 39, 39, 0.3);
}

.common-btn-inline:disabled {
  border: 1px solid rgb(2, 6, 84);
  background: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
}

/* radio */
.common-btn-radio[tab=""] {
  border: 1px solid rgb(2, 6, 84);
  color: rgb(2, 6, 84);
}

.common-btn-radio[tab=tab] {
  border: 1px solid rgb(2, 6, 84);
  background: rgb(2, 6, 84);
  color: rgb(255, 255, 255);
}

.common-btn-radio[btn-type=cancel][tab=""] {
  border: 1px solid rgb(255, 116, 21);
  color: rgb(255, 116, 21);
}

.common-btn-radio[btn-type=cancel][tab=tab] {
  border: 1px solid rgb(255, 116, 21);
  background: rgb(255, 116, 21);
  color: rgb(255, 255, 255);
}

.common-btn-radio:disabled[tab=""] {
  border: 1px solid rgb(2, 6, 84);
  background: rgb(255, 255, 255);
  color: rgb(2, 6, 84);
}

.common-btn-radio:disabled[tab=tab] {
  border: 1px solid rgb(2, 6, 84);
  background: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
}

.common-btn-radio:disabled[btn-type=cancel][tab=""] {
  border: 1px solid rgb(255, 116, 21);
  background: rgb(255, 255, 255);
  color: rgb(255, 116, 21);
}

.common-btn-radio:disabled[btn-type=cancel][tab=tab] {
  border: 1px solid rgb(255, 116, 21);
  background: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
}

/* button size */
.common-btn-outline[btn-size=large] {
  display: block;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8em;
  min-width: 12em;
  max-width: 90%;
}

.common-btn-inline[btn-size=large] {
  display: block;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8em;
  min-width: 12em;
  max-width: 90%;
}

.common-btn-outline[btn-size=search] {
  display: inline-block;
  padding: 0.4em;
}

/* -------------------- */
/* noline */
/* -------------------- */
.common-btn-noline,
.common-btn-nolineSave {
  display: inline-block;
  padding: 0.5em;
  background: transparent;
  border: none;
  line-height: 1.4;
}

.common-btn-nolineSave:hover,
.common-btn-noline:hover {
  outline: none;
  cursor: pointer;
}

.common-btn-noline {
  color: rgb(2, 6, 84);
}

.common-btn-noline[btn-type=cancel] {
  color: rgb(255, 116, 21);
}

.common-btn-noline[btn-type=warning] {
  color: rgb(255, 116, 21);
}

.common-btn-noline[btn-type=error] {
  color: rgb(206, 39, 39);
}

.common-btn-noline:active {
  background: rgb(172.1720930233, 176.1162790698, 253.0279069767);
}

.common-btn-noline:active[btn-type=cancel] {
  background: rgb(255, 227.2, 208.2);
}

.common-btn-noline:active[btn-type=warning] {
  background: rgb(255, 227.2, 208.2);
}

.common-btn-noline:active[btn-type=error] {
  background: rgb(246.5632653061, 210.4367346939, 210.4367346939);
}

/* -------------------- */
/* 페이지 바닥에 깔리는 버튼 */
/* -------------------- */
.common-btn-footer {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: rgb(2, 6, 84);
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  line-height: 1.6;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border: none;
}

.common-btn-footer:hover {
  cursor: pointer;
}

.common-btn-footer:active {
  background: rgb(172.1720930233, 176.1162790698, 253.0279069767);
}