/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #020654 */
/* #1B2A6B */
/* #3D6BF5 */
/* #7A8099 */
/* #cfd2e1 */
/* #7A8099 */
/* #000278 */
/* #009600 */
/* #039a00 */
/* #374B9B */
/* #d4ad00 */
/* #FF7415 */
/* #FF7415 */
/* #ce2727 */
/* #780000 */
/* #000000 */
/* #ffffff */
/* #636363 */
/* #e6e6e6 */
/* #bebebe */
/* #969696 */
/* #808080 */
/* #646464 */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
/* ========================= */
/* btns */
/* ========================= */
/* Customize the label (the container) */
.common-label-radio {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  height: 26px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.common-label-radio > input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.common-label-radio > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background: #fafafa;
  border-radius: 50%;
}

/* On mouse-over, add a gray background color */
.common-label-radio:hover input[type=radio] ~ span {
  background: #f2f2f2;
}

/* When the radio button is checked, add a blue background */
.common-label-radio > input[type=radio]:checked ~ span {
  background: rgb(172.1720930233, 176.1162790698, 253.0279069767);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.common-label-radio > span:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.common-label-radio > input[type=radio]:checked ~ span:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.common-label-radio > span:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
}