@charset "UTF-8";
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
/* ========================= */
/* btns */
/* ========================= */
/* ========================= */
/* 각 인풋박스 */
/* ========================= */
.common-div-formField > .common-input-field {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  outline: none;
  background: transparent;
}

.common-input-field {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid #ccc;
  text-align: left;
  background: transparent;
}

.common-input-field:focus {
  border: none;
  border-bottom: 3px solid #020654;
}

.common-div-formField > .common-textarea-field {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  outline: none;
  background: transparent;
}

.common-textarea-field {
  padding: 0.3em;
  font-size: 1.1em;
  border: 1px solid #ccc;
  background: transparent;
}

.common-textarea-field:focus {
  border: 1px solid #020654;
  border-bottom: 3px solid #020654;
}

/* ========================= */
/* 각 인풋박스 (기존) */
/* ========================= */
.common-input-text {
  /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  /* @include boxsizeC; */
  padding: 0.3em;
  font-size: 1.1em;
  border: 1px solid #ccc;
}

.common-input-text:focus {
  /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  border: 1px solid #020654;
  box-shadow: 0px 0px 5px #020654;
}

.common-text {
  /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  box-sizing: initial;
  padding: 0.3em;
  font-size: 1.1em;
  border: none;
}

.common-textarea {
  /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  /* @include boxsizeC; */
  padding: 0.3em;
  font-size: 1.1em;
  border: 1px solid #ccc;
}

.common-textarea:focus {
  /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  border: 1px solid #020654;
  box-shadow: 0px 0px 5px #020654;
}