@charset "UTF-8";
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #1B4BB8 */
/* rgb(2   , 6   , 84  ); #020654 */
.common-colorFont[font-color=main] {
  color: #020654;
}

.common-colorMain {
  color: #020654;
}

.common-card[card-color=main] {
  color: #020654;
  border: 2px solid #020654;
  background: #020654;
}

/* rgb(2   , 6   , 84  ); #020654 */
.common-colorFont[font-color=dark] {
  color: #020421;
}

.common-colorDark {
  color: #020421;
}

.common-card[card-color=dark] {
  color: #020421;
  border: 2px solid #020421;
  background: #020421;
}

/* rgb(27  , 42  , 107 ); #1B2A6B */
.common-colorFont[font-color=head] {
  color: #1b2a6b;
}

.common-colorHead {
  color: #1b2a6b;
}

.common-card[card-color=head] {
  color: #1b2a6b;
  border: 2px solid #1b2a6b;
  background: #1b2a6b;
}

/* rgb(61  , 107 , 245 ); #3D6BF5 */
.common-colorFont[font-color=side] {
  color: #3d6bf5;
}

.common-colorSide {
  color: #3d6bf5;
}

.common-card[card-color=side] {
  color: #3d6bf5;
  border: 2px solid #3d6bf5;
  background: #3d6bf5;
}

/* rgb(122 , 128 , 153 ); #7A8099 */
.common-colorFont[font-color=body] {
  color: #3c435c;
}

.common-colorBody {
  color: #3c435c;
}

.common-card[card-color=body] {
  color: #3c435c;
  border: 2px solid #3c435c;
  background: #3c435c;
}

/* rgb(228 , 231 , 240 ); #E4E7F0 */
.common-colorFont[font-color=line] {
  color: #e4e7f0;
}

.common-colorLine {
  color: #e4e7f0;
}

.common-card[card-color=line] {
  color: #e4e7f0;
  border: 2px solid #e4e7f0;
  background: #e4e7f0;
}

/* rgb(0   , 2   , 120 ); #000278 */
.common-colorFont[font-color=pstv] {
  color: #000278;
}

.common-colorPstv {
  color: #000278;
}

.common-card[card-color=pstv] {
  color: #000278;
  border: 2px solid #000278;
  background: #000278;
}

/* rgb(0   , 150 , 0   ); #009600 */
.common-colorFont[font-color=allw] {
  color: #009600;
}

.common-colorAllw {
  color: #009600;
}

.common-card[card-color=allw] {
  color: #009600;
  border: 2px solid #009600;
  background: #009600;
}

/* rgb(3   , 154 , 0   ); #039a00 */
.common-colorFont[font-color=prog] {
  color: #039a00;
}

.common-colorProg {
  color: #039a00;
}

.common-card[card-color=prog] {
  color: #039a00;
  border: 2px solid #039a00;
  background: #039a00;
}

/* rgb(40  , 101 , 255 ); #d9e4ff */
.common-colorFont[font-color=ntce] {
  color: #2865ff;
}

.common-colorNtce {
  color: #2865ff;
}

.common-card[card-color=ntce] {
  color: #2865ff;
  border: 2px solid #2865ff;
  background: #2865ff;
}

/* rgb(40  , 101 , 255 ); #d9e4ff */
.common-colorFont[font-color=info] {
  color: #2865ff;
}

.common-colorInfo {
  color: #2865ff;
}

.common-card[card-color=info] {
  color: #2865ff;
  border: 2px solid #2865ff;
  background: #2865ff;
}

/* rgb(234 , 240 , 255 ); #EAF0FF */
.common-colorFont[font-color=dtil] {
  color: #EAF0FF;
}

.common-colorDtil {
  color: #EAF0FF;
}

.common-card[card-color=dtil] {
  color: #EAF0FF;
  border: 2px solid #EAF0FF;
  background: #EAF0FF;
}

/* rgb(212 , 173 , 0   ); #d4ad00 */
.common-colorFont[font-color=hold] {
  color: #d4ad00;
}

.common-colorHold {
  color: #d4ad00;
}

.common-card[card-color=hold] {
  color: #d4ad00;
  border: 2px solid #d4ad00;
  background: #d4ad00;
}

/* rgb(255 , 116 , 21  ); #FF7415 */
.common-colorFont[font-color=cncl] {
  color: #ff7415;
}

.common-colorCncl {
  color: #ff7415;
}

.common-card[card-color=cncl] {
  color: #ff7415;
  border: 2px solid #ff7415;
  background: #ff7415;
}

/* rgb(255 , 116 , 21  ); #FF7415 */
.common-colorFont[font-color=warn] {
  color: #ff7415;
}

.common-colorWarn {
  color: #ff7415;
}

.common-card[card-color=warn] {
  color: #ff7415;
  border: 2px solid #ff7415;
  background: #ff7415;
}

/* rgb(206 , 39  , 39  ); #ce2727 */
.common-colorFont[font-color=errr] {
  color: #ce2727;
}

.common-colorErrr {
  color: #ce2727;
}

.common-card[card-color=errr] {
  color: #ce2727;
  border: 2px solid #ce2727;
  background: #ce2727;
}

/* rgb(120 , 0   , 0   ); #780000 */
.common-colorFont[font-color=ngtv] {
  color: #780000;
}

.common-colorNgtv {
  color: #780000;
}

.common-card[card-color=ngtv] {
  color: #780000;
  border: 2px solid #780000;
  background: #780000;
}

/* rgb(100 , 100 , 100 ); #636363 */
.common-colorFont[font-color=whit] {
  color: #ffffff;
}

.common-colorWhit {
  color: #ffffff;
}

.common-card[card-color=whit] {
  color: #ffffff;
  border: 2px solid #ffffff;
  background: #ffffff;
}

/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
.common-displayIn {
  display: inline-block;
}

.common-displayBk {
  display: block;
}

.common-heightFull {
  height: 100%;
}

.common-fonts08 {
  font-size: 0.8em;
}

.common-fonts09 {
  font-size: 0.9em;
}

.common-fonts10 {
  font-size: 1em;
}

.common-fonts11 {
  font-size: 1.1em;
}

.common-fonts12 {
  font-size: 1.2em;
}

.common-fonts14 {
  font-size: 1.4em;
}

.common-fonts30 {
  font-size: 3em;
}

.common-fontwN {
  font-weight: normal;
}

.common-fontwB {
  font-weight: bold;
}

.common-fonth12 {
  line-height: 1.2;
}

.common-fonth14 {
  line-height: 1.4;
}

.common-fonth16 {
  line-height: 1.6;
}

.common-alignC {
  text-align: center;
}

.common-alignR {
  text-align: right;
}

.common-alignL {
  text-align: left;
}

.common-verticalM {
  vertical-align: middle;
}

.common-boxsizeB {
  box-sizing: border-box;
}

.common-boxsizeC {
  box-sizing: content-box;
}

.common-overflowX {
  overflow-x: auto;
}

/* ========================= */
/* margin / padding */
/* ========================= */
.common-mar03 {
  margin: 0.3em;
}

.common-mar04 {
  margin: 0.4em;
}

.common-mar05 {
  margin: 0.5em;
}

.common-mar06 {
  margin: 0.6em;
}

.common-mar08 {
  margin: 0.8em;
}

.common-mar10 {
  margin: 1em;
}

.common-marZZ {
  margin: 0em;
}

.common-marAuto {
  margin-left: auto;
  margin-right: auto;
}

.common-marUpZZ {
  margin-top: 0em;
}

.common-marUp02 {
  margin-top: 0.2em;
}

.common-marUp04 {
  margin-top: 0.4em;
}

.common-marUp05 {
  margin-top: 0.5em;
}

.common-marUp06 {
  margin-top: 0.6em;
}

.common-marUp08 {
  margin-top: 0.8em;
}

.common-marUp10 {
  margin-top: 1em;
}

.common-marUp20 {
  margin-top: 2em;
}

.common-marUp40 {
  margin-top: 4em;
}

.common-marUDZZ {
  margin-top: 0em;
  margin-bottom: 0em;
}

.common-marUD01 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.common-marUD02 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.common-marUD03 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.common-marUD04 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.common-marUD05 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.common-marUD06 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.common-marUD07 {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.common-marUD08 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.common-marUD10 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.common-marUD20 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.common-marLRZZ {
  margin-left: 0em;
  margin-right: 0em;
}

.common-marLR03 {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.common-marLR04 {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.common-marLR06 {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.common-marLR08 {
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.common-marLR10 {
  margin-left: 1em;
  margin-right: 1em;
}

.common-marLR20 {
  margin-left: 2em;
  margin-right: 2em;
}

.common-marDwZZ {
  margin-bottom: 0em;
}

.common-marDw02 {
  margin-bottom: 0.2em;
}

.common-marDw03 {
  margin-bottom: 0.3em;
}

.common-marDw04 {
  margin-bottom: 0.4em;
}

.common-marDw06 {
  margin-bottom: 0.6em;
}

.common-marDw08 {
  margin-bottom: 0.8em;
}

.common-marDw10 {
  margin-bottom: 1em;
}

.common-marDw20 {
  margin-bottom: 2em;
}

.common-marLtZZ {
  margin-left: 0em;
}

.common-marLt02 {
  margin-left: 0.2em;
}

.common-marLt03 {
  margin-left: 0.3em;
}

.common-marLt04 {
  margin-left: 0.4em;
}

.common-marLt05 {
  margin-left: 0.5em;
}

.common-marLt08 {
  margin-left: 0.8em;
}

.common-marLt10 {
  margin-left: 1em;
}

.common-marLt12 {
  margin-left: 1.2em;
}

.common-marLt20 {
  margin-left: 2em;
}

.common-marRt03 {
  margin-right: 0.3em;
}

.common-marRt10 {
  margin-right: 1em;
}

.common-span-strong {
  font-size: 1.2em;
  font-weight: bold;
}

.common-span-block {
  display: block;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.common-span-content {
  color: #1b2a6b;
}

.common-span-subcontent {
  font-size: 0.9em;
  color: #3c435c;
  line-height: 1.4;
}

/* ============================== */
/* 유효성검사 안내문 span */
/* ============================== */
.common-span-validationAnnounce {
  display: block;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
}

/* ============================== */
/* 시합기록에 사용되는 각 다이어로그의 서브타이틀 */
/* ============================== */
.common-span-color {
  color: #020654;
}

/* ============================== */
/* 시합기록에 사용되는 각 다이어로그의 서브타이틀 */
/* ============================== */
.common-span-label {
  display: inline-block;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0em;
  margin-right: 0em;
  padding: 0.5em;
  background: transparent;
  border-radius: 0.4em;
  font-size: 0.9em;
  line-height: 1.4;
  /* @include boxsizeB; */
}

.common-span-label[label_type=outer],
.common-span-label {
  color: #020654;
  background: transparent;
  border: 1px solid #020654;
}

.common-span-label[label_type=inline] {
  color: #ffffff;
  background: rgba(2, 6, 84, 0.2);
  border: 1px solid #020654;
}

/* ============================== */
/* 카드 형태의 span */
/* ============================== */
.common-span-card {
  display: inline-block;
  font-weight: normal;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.common-span-mini {
  display: inline-block;
  font-weight: normal;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.common-span-mini[span-type=succeed], .common-span-card[span-type=succeed] {
  color: blue;
  border: 2px solid rgb(110, 110, 255);
  background: rgb(200, 200, 255);
}

.common-span-mini[span-type=warning], .common-span-card[span-type=warning] {
  color: darkorange;
  border: 2px solid rgb(255, 163, 26);
  background: rgb(255, 224, 179);
}

.common-span-mini[span-type=failed], .common-span-card[span-type=failed] {
  color: red;
  border: 2px solid lightcoral;
  background: rgb(255, 200, 200);
}

.common-span-mini[span-type=nodata], .common-span-card[span-type=nodata] {
  color: darkorange;
  border: 2px solid rgb(255, 163, 26);
  background: rgb(255, 224, 179);
}

/* 주문상태에 따른 표시 */
.common-span-card[orderstatus=apply] {
  color: rgb(212, 173, 0);
  border: 2px solid rgb(212, 173, 0);
  background: rgba(212, 173, 0, 0.3);
} /* 견적의뢰작성중 */
.common-span-card[orderstatus=estimate] {
  color: rgb(170, 182, 0);
  border: 2px solid rgb(170, 182, 0);
  background: rgba(170, 182, 0, 0.3);
} /* 견적중 */
.common-span-card[orderstatus=deciding] {
  color: rgb(118, 182, 0);
  border: 2px solid rgb(118, 182, 0);
  background: rgba(118, 182, 0, 0.3);
} /* 견적마감 */
.common-span-card[orderstatus=decided] {
  color: rgb(64, 154, 0);
  border: 2px solid rgb(64, 154, 0);
  background: rgba(64, 154, 0, 0.3);
} /* 업체확정 */
.common-span-card[orderstatus=working] {
  color: rgb(3, 154, 0);
  border: 2px solid rgb(3, 154, 0);
  background: rgba(3, 154, 0, 0.3);
} /* 공사중 */
.common-span-card[orderstatus=workend] {
  color: rgb(10, 95, 0);
  border: 2px solid rgb(10, 95, 0);
  background: rgba(10, 95, 0, 0.3);
} /* 공사완료 */
.common-span-card[orderstatus=claim] {
  color: rgb(144, 19, 0);
  border: 2px solid rgb(144, 19, 0);
  background: rgba(144, 19, 0, 0.3);
} /* 클레임확인대기 */
.common-span-card[orderstatus=adminworking] {
  color: rgb(175, 76, 0);
  border: 2px solid rgb(175, 76, 0);
  background: rgba(175, 76, 0, 0.3);
} /* 관리자공사중 */
.common-span-card[orderstatus=reworking] {
  color: rgb(175, 76, 0);
  border: 2px solid rgb(175, 76, 0);
  background: rgba(175, 76, 0, 0.3);
} /* 재공사중 */
.common-span-card[orderstatus=reconfirm] {
  color: rgb(175, 76, 0);
  border: 2px solid rgb(175, 76, 0);
  background: rgba(175, 76, 0, 0.3);
} /* 고객재확인중 */
.common-span-card[orderstatus=complete] {
  color: rgb(0, 2, 120);
  border: 2px solid rgb(0, 2, 120);
  background: rgba(0, 2, 120, 0.3);
} /* 확인완료 */
.common-span-card[orderstatus=cancel] {
  color: rgb(120, 0, 0);
  border: 2px solid rgb(120, 0, 0);
  background: rgba(120, 0, 0, 0.3);
} /* 취소 */
/* 견적상태에 따른 표시 */
.common-span-card[eststatus=ing] {
  color: rgb(3, 154, 0);
  border: 2px solid rgb(3, 154, 0);
  background: rgba(3, 154, 0, 0.3);
} /* 공사중 */
.common-span-card[eststatus=submit] {
  color: rgb(0, 2, 120);
  border: 2px solid rgb(0, 2, 120);
  background: rgba(0, 2, 120, 0.3);
} /* 확인완료 */
/* rgb( 173 , 216 , 230 ) Light Blue */
/* rgb( 135 , 206 , 235 ) Sky Blue */
/* rgb( 0   , 150 , 255 ) Bright Blue */
/* rgb( 65  , 105 , 225 ) Royal Blue */
/* rgb( 4   , 55  , 242 ) Ultramarine */
/* rgb( 34  , 139 , 34  ) Forest Green */
/* rgb( 210 , 43  , 43  ) Cadmium Red */