@charset "UTF-8";
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
/* ========================= */
/* btns */
/* ========================= */
/*
    よく使われるHTMLのCSSを定義する
*/
* {
  font-family: -apple-system, "higashiome", "SCDream3", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  /* font-size: inherit; */
  vertical-align: middle;
}

/* ============================== */
/* 클릭 시, 백그라운드 색으로 액션을 표현 */
/* ============================== */
.common-tap:active {
  background: rgba(220, 220, 220, 0.5);
}

.common-text-insertPage {
  width: 70%;
  text-align: center;
}

.common-text-insertPage[device_kind=web] {
  width: 50%;
}

/* ============================== */
/* INPUT */
/* ============================== */
.common-text {
  text-align: center;
}

pre, xmp {
  display: inline-block;
  margin: 0em;
  line-height: 1.6;
  word-break: break-all;
  white-space: pre-wrap;
  font-family: -apple-system, "higashiome", "SCDream3", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}

textarea {
  font-family: -apple-system, "higashiome", "SCDream3", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}

table {
  border-collapse: collapse;
}