@charset "UTF-8";
/* ========================= */
/* font main */
/* ========================= */
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #1B4BB8 */
/* rgb(2   , 6   , 84  ); #020654 */
.common-colorFont[font-color=main] {
  color: #020654;
}

.common-colorMain {
  color: #020654;
}

.common-card[card-color=main] {
  color: #020654;
  border: 2px solid #020654;
  background-color: rgba(2, 6, 84, 0.2);
}

/* rgb(2   , 6   , 84  ); #020654 */
.common-colorFont[font-color=dark] {
  color: #020421;
}

.common-colorDark {
  color: #020421;
}

.common-card[card-color=dark] {
  color: #020421;
  border: 2px solid #020421;
  background-color: rgba(2, 4, 33, 0.2);
}

/* rgb(27  , 42  , 107 ); #1B2A6B */
.common-colorFont[font-color=head] {
  color: #1b2a6b;
}

.common-colorHead {
  color: #1b2a6b;
}

.common-card[card-color=head] {
  color: #1b2a6b;
  border: 2px solid #1b2a6b;
  background-color: rgba(27, 42, 107, 0.2);
}

/* rgb(61  , 107 , 245 ); #3D6BF5 */
.common-colorFont[font-color=side] {
  color: #3d6bf5;
}

.common-colorSide {
  color: #3d6bf5;
}

.common-card[card-color=side] {
  color: #3d6bf5;
  border: 2px solid #3d6bf5;
  background-color: rgba(61, 107, 245, 0.2);
}

/* rgb(122 , 128 , 153 ); #7A8099 */
.common-colorFont[font-color=body] {
  color: #3c435c;
}

.common-colorBody {
  color: #3c435c;
}

.common-card[card-color=body] {
  color: #3c435c;
  border: 2px solid #3c435c;
  background-color: rgba(60, 67, 92, 0.2);
}

/* rgb(228 , 231 , 240 ); #E4E7F0 */
.common-colorFont[font-color=edge] {
  color: #c4c7ce;
}

.common-colorSept {
  color: #c4c7ce;
}

.common-card[card-color=edge] {
  color: #c4c7ce;
  border: 2px solid #c4c7ce;
  background-color: rgba(196, 199, 206, 0.2);
}

/* rgb(228 , 231 , 240 ); #E4E7F0 */
.common-colorFont[font-color=line] {
  color: #e4e7f0;
}

.common-colorLine {
  color: #e4e7f0;
}

.common-card[card-color=line] {
  color: #e4e7f0;
  border: 2px solid #e4e7f0;
  background-color: rgba(228, 231, 240, 0.2);
}

/* rgb(0   , 2   , 120 ); #000278 */
.common-colorFont[font-color=pstv] {
  color: #000278;
}

.common-colorPstv {
  color: #000278;
}

.common-card[card-color=pstv] {
  color: #000278;
  border: 2px solid #000278;
  background-color: rgba(0, 2, 120, 0.2);
}

/* rgb(0   , 150 , 0   ); #009600 */
.common-colorFont[font-color=allw] {
  color: #009600;
}

.common-colorAllw {
  color: #009600;
}

.common-card[card-color=allw] {
  color: #009600;
  border: 2px solid #009600;
  background-color: rgba(0, 150, 0, 0.2);
}

/* rgb(3   , 154 , 0   ); #039a00 */
.common-colorFont[font-color=prog] {
  color: #039a00;
}

.common-colorProg {
  color: #039a00;
}

.common-card[card-color=prog] {
  color: #039a00;
  border: 2px solid #039a00;
  background-color: rgba(3, 154, 0, 0.2);
}

/* rgb(40  , 101 , 255 ); #d9e4ff */
.common-colorFont[font-color=ntce] {
  color: #2865ff;
}

.common-colorNtce {
  color: #2865ff;
}

.common-card[card-color=ntce] {
  color: #2865ff;
  border: 2px solid #2865ff;
  background-color: rgba(40, 101, 255, 0.2);
}

/* rgb(40  , 101 , 255 ); #d9e4ff */
.common-colorFont[font-color=info] {
  color: #2865ff;
}

.common-colorInfo {
  color: #2865ff;
}

.common-card[card-color=info] {
  color: #2865ff;
  border: 2px solid #2865ff;
  background-color: rgba(40, 101, 255, 0.2);
}

/* rgb(234 , 240 , 255 ); #EAF0FF */
.common-colorFont[font-color=dtil] {
  color: #EAF0FF;
}

.common-colorDtil {
  color: #EAF0FF;
}

.common-card[card-color=dtil] {
  color: #EAF0FF;
  border: 2px solid #EAF0FF;
  background-color: rgba(234, 240, 255, 0.2);
}

/* rgb(212 , 173 , 0   ); #d4ad00 */
.common-colorFont[font-color=hold] {
  color: #d4ad00;
}

.common-colorHold {
  color: #d4ad00;
}

.common-card[card-color=hold] {
  color: #d4ad00;
  border: 2px solid #d4ad00;
  background-color: rgba(212, 173, 0, 0.2);
}

/* rgb(255 , 116 , 21  ); #FF7415 */
.common-colorFont[font-color=cncl] {
  color: #ff7415;
}

.common-colorCncl {
  color: #ff7415;
}

.common-card[card-color=cncl] {
  color: #ff7415;
  border: 2px solid #ff7415;
  background-color: rgba(255, 116, 21, 0.2);
}

/* rgb(255 , 116 , 21  ); #FF7415 */
.common-colorFont[font-color=warn] {
  color: #ff7415;
}

.common-colorWarn {
  color: #ff7415;
}

.common-card[card-color=warn] {
  color: #ff7415;
  border: 2px solid #ff7415;
  background-color: rgba(255, 116, 21, 0.2);
}

/* rgb(206 , 39  , 39  ); #ce2727 */
.common-colorFont[font-color=errr] {
  color: #ce2727;
}

.common-colorErrr {
  color: #ce2727;
}

.common-card[card-color=errr] {
  color: #ce2727;
  border: 2px solid #ce2727;
  background-color: rgba(206, 39, 39, 0.2);
}

/* rgb(120 , 0   , 0   ); #780000 */
.common-colorFont[font-color=ngtv] {
  color: #780000;
}

.common-colorNgtv {
  color: #780000;
}

.common-card[card-color=ngtv] {
  color: #780000;
  border: 2px solid #780000;
  background-color: rgba(120, 0, 0, 0.2);
}

/* rgb(100 , 100 , 100 ); #636363 */
.common-colorFont[font-color=whit] {
  color: #ffffff;
}

.common-colorSnow {
  color: #ffffff;
}

.common-card[card-color=whit] {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
.common-displayIn {
  display: inline-block;
}

.common-displayBk {
  display: block;
}

.common-heightFull {
  height: 100%;
}

.common-fonts08 {
  font-size: 0.8em;
}

.common-fonts09 {
  font-size: 0.9em;
}

.common-fonts10 {
  font-size: 1em;
}

.common-fonts11 {
  font-size: 1.1em;
}

.common-fonts12 {
  font-size: 1.2em;
}

.common-fonts14 {
  font-size: 1.4em;
}

.common-fonts30 {
  font-size: 3em;
}

.common-fontwN {
  font-weight: normal;
}

.common-fontwB {
  font-weight: bold;
}

.common-fonth12 {
  line-height: 1.2;
}

.common-fonth14 {
  line-height: 1.4;
}

.common-fonth16 {
  line-height: 1.6;
}

.common-alignC {
  text-align: center;
}

.common-alignR {
  text-align: right;
}

.common-alignL {
  text-align: left;
}

.common-verticalM {
  vertical-align: middle;
}

.common-boxsizeB {
  box-sizing: border-box;
}

.common-boxsizeC {
  box-sizing: content-box;
}

.common-overflowX {
  overflow-x: auto;
}

/* ========================= */
/* margin / padding */
/* ========================= */
.common-mar03 {
  margin: 0.3em;
}

.common-mar04 {
  margin: 0.4em;
}

.common-mar05 {
  margin: 0.5em;
}

.common-mar06 {
  margin: 0.6em;
}

.common-mar08 {
  margin: 0.8em;
}

.common-mar10 {
  margin: 1em;
}

.common-marZZ {
  margin: 0em;
}

.common-marAuto {
  margin-left: auto;
  margin-right: auto;
}

.common-marUpZZ {
  margin-top: 0em;
}

.common-marUp02 {
  margin-top: 0.2em;
}

.common-marUp04 {
  margin-top: 0.4em;
}

.common-marUp05 {
  margin-top: 0.5em;
}

.common-marUp06 {
  margin-top: 0.6em;
}

.common-marUp08 {
  margin-top: 0.8em;
}

.common-marUp10 {
  margin-top: 1em;
}

.common-marUp20 {
  margin-top: 2em;
}

.common-marUp40 {
  margin-top: 4em;
}

.common-marUDZZ {
  margin-top: 0em;
  margin-bottom: 0em;
}

.common-marUD01 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.common-marUD02 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.common-marUD03 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.common-marUD04 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.common-marUD05 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.common-marUD06 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.common-marUD07 {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.common-marUD08 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.common-marUD10 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.common-marUD20 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.common-marLRZZ {
  margin-left: 0em;
  margin-right: 0em;
}

.common-marLR03 {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.common-marLR04 {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.common-marLR06 {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.common-marLR08 {
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.common-marLR10 {
  margin-left: 1em;
  margin-right: 1em;
}

.common-marLR20 {
  margin-left: 2em;
  margin-right: 2em;
}

.common-marDwZZ {
  margin-bottom: 0em;
}

.common-marDw02 {
  margin-bottom: 0.2em;
}

.common-marDw03 {
  margin-bottom: 0.3em;
}

.common-marDw04 {
  margin-bottom: 0.4em;
}

.common-marDw06 {
  margin-bottom: 0.6em;
}

.common-marDw08 {
  margin-bottom: 0.8em;
}

.common-marDw10 {
  margin-bottom: 1em;
}

.common-marDw20 {
  margin-bottom: 2em;
}

.common-marLtZZ {
  margin-left: 0em;
}

.common-marLt02 {
  margin-left: 0.2em;
}

.common-marLt03 {
  margin-left: 0.3em;
}

.common-marLt04 {
  margin-left: 0.4em;
}

.common-marLt05 {
  margin-left: 0.5em;
}

.common-marLt08 {
  margin-left: 0.8em;
}

.common-marLt10 {
  margin-left: 1em;
}

.common-marLt12 {
  margin-left: 1.2em;
}

.common-marLt20 {
  margin-left: 2em;
}

.common-marRt03 {
  margin-right: 0.3em;
}

.common-marRt10 {
  margin-right: 1em;
}

/*=================================*/
/* table to center */
/*=================================*/
.common-tbl-textCenter,
.common-tbl-textCenter > tbody > tr > td,
.common-tbl-textCenter > tbody > tr > th,
.common-tbl-textCenter > thead > tr > td,
.common-tbl-textCenter > thead > tr > th,
.common-tbl-textCenter > tfoot > tr > td,
.common-tbl-textCenter > tfoot > tr > th {
  text-align: center;
}

/* ============================== */
/* tab */
/*
    <div class="common-div-cushion">
        <table class="common-tbl-tab commonEvent-tbl-tab">
            <tbody>
                <tr>
                    <td class="UD-td-entity" tab="" entity_type=player data-i18n="(UD)managing player"><!-- 연동선수 --></td>
                    <td class="UD-td-entity" tab="" entity_type=team   data-i18n="(UD)managing team"  ><!-- 관리 팀 --></td>
                    <td class="UD-td-entity" tab="" entity_type=league data-i18n="(UD)managing league"><!-- 관리 리그 --></td>
                    <td tab=space></td>
                </tr>
            </tbody>
        </table>
    </div>
 */
/* ============================== */
.common-tbl-tab > tbody > tr > td {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border-radius: 2em;
  color: #020654;
  text-align: center;
}

.common-tbl-tab > tbody > tr > td[tab=space] {
  width: 90%;
  border: none;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  text-align: right;
}

.common-tbl-tab > tbody > tr > td[tab=tab] {
  color: #ffffff;
  background: #020654;
}

.common-tbl-tab > tbody > tr > td[tab=""]:active,
.common-tbl-tab > tbody > tr > td[tab=tab]:active {
  background: #020654;
}

/* ============================== */
/* common-tbl-sort */
/* ============================== */
/* 정렬 상태에 따른 컨텐츠 */
/* .common-tbl-sort > thead > tr > th[sort_status=not]:after  { content: ""; } */
/* .common-tbl-sort > thead > tr > th[sort_status=desc]:after { content: " ▼"; } */
/* .common-tbl-sort > thead > tr > th[sort_status=asc]:after  { content: " ▲"; } */
/* ============================== */
/* common-tbl-normal */
/* ============================== */
.common-tbl-normal {
  line-height: 1.6;
}

.common-tbl-normal > thead > tr > th,
.common-tbl-normal > tbody > tr > th,
.common-tbl-normal > tfoot > tr > th,
.common-tbl-normal > tfoot > tr > td {
  padding: 0.4em;
  background-color: rgb(211.6631578947, 214.9605263158, 226.7368421053);
  text-align: center;
  font-weight: bold;
}

.common-tbl-normal > thead > tr > td,
.common-tbl-normal > tfoot > tr > td,
.common-tbl-normal > tbody > tr > td {
  padding: 0.4em;
}

/*
    class="common-tbl-normal" tbl-type=noborder
*/
.common-tbl-normal[tbl-type=normal] {
  border: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=normal] > thead > tr > th {
  border: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=normal] > tbody > tr > th {
  border: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=normal] > tbody > tr > td {
  border: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=normal] > tfoot > tr > td {
  border: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=noborder] {
  border: none;
}

.common-tbl-normal[tbl-type=noborder] > thead > tr > th {
  border: none;
}

.common-tbl-normal[tbl-type=noborder] > tbody > tr > th {
  border: none;
}

.common-tbl-normal[tbl-type=noborder] > tbody > tr > td {
  border: none;
}

.common-tbl-normal[tbl-type=noborder] > tfoot > tr > td {
  border: none;
}

.common-tbl-normal[tbl-type=rowborder] {
  border-top: 1px solid #c4c7ce;
  border-bottom: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=rowborder] > thead > tr > th {
  border-top: 1px solid #c4c7ce;
  border-bottom: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=rowborder] > tbody > tr > th {
  border-top: 1px solid #c4c7ce;
  border-bottom: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=rowborder] > tbody > tr > td {
  border-top: 1px solid #c4c7ce;
  border-bottom: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=rowborder] > tfoot > tr > td {
  border-top: 1px solid #c4c7ce;
  border-bottom: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=colborder] > thead > tr > th {
  border-left: 1px solid #c4c7ce;
  border-right: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=colborder] > thead > tr > th:nth-child(1) {
  border-left: none;
  border-right: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=colborder] > thead > tr > th:nth-last-child(1) {
  border-left: 1px solid #c4c7ce;
  border-right: none;
}

.common-tbl-normal[tbl-type=colborder] > tbody > tr > th {
  border-left: 1px solid #c4c7ce;
  border-right: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=colborder] > tbody > tr > td {
  border-left: 1px solid #c4c7ce;
  border-right: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=colborder] > tbody > tr > td:nth-child(1) {
  border-left: none;
  border-right: 1px solid #c4c7ce;
}

.common-tbl-normal[tbl-type=colborder] > tbody > tr > td:nth-last-child(1) {
  border-left: 1px solid #c4c7ce;
  border-right: none;
}

.common-tbl-normal[tbl-type=colborder] > tfoot > tr > td {
  border-left: 1px solid #c4c7ce;
  border-right: 1px solid #c4c7ce;
}

/* ============================== */
/* 슬라이드 입력폼용 테이블 */
/* ============================== */
.common-tbl-slideformFooterBtn {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.common-tbl-slideformFooterBtn > thead > tr > th,
.common-tbl-slideformFooterBtn > tbody > tr > th {
  padding: 0em;
  background-color: rgb(211.6631578947, 214.9605263158, 226.7368421053);
  text-align: center;
}

.common-tbl-slideformFooterBtn > thead > tr > td,
.common-tbl-slideformFooterBtn > tfoot > tr > td,
.common-tbl-slideformFooterBtn > tbody > tr > td {
  padding: 0em;
}

.common-tbl-slideformFooterBtn {
  border: none;
}

.common-tbl-slideformFooterBtn > thead > tr > th {
  border: none;
}

.common-tbl-slideformFooterBtn > tbody > tr > th {
  border: none;
}

.common-tbl-slideformFooterBtn > tbody > tr > td {
  border: none;
}

.common-tbl-slideformFooterBtn[tbl-type=button1] > tbody > tr > td {
  width: 100%;
}

.common-tbl-slideformFooterBtn[tbl-type=button1] > tbody > tr > td > button {
  width: 100%;
  padding: 0.6em;
}

.common-tbl-slideformFooterBtn[tbl-type=button2] > tbody > tr > td:nth-child(1) {
  width: 20%;
  padding-right: 0.3em;
}

.common-tbl-slideformFooterBtn[tbl-type=button2] > tbody > tr > td:nth-child(2) {
  width: 100%;
  padding-left: 0.3em;
}

.common-tbl-slideformFooterBtn[tbl-type=button2] > tbody > tr > td > button {
  width: 100%;
  padding: 0.6em;
}

.common-tbl-slideformFooterBtn[tbl-type=liner2] > tbody > tr > td:nth-child(1) {
  width: 50%;
  padding-right: 0.3em;
}

.common-tbl-slideformFooterBtn[tbl-type=liner2] > tbody > tr > td:nth-child(2) {
  width: 50%;
  padding-left: 0.3em;
}

.common-tbl-slideformFooterBtn[tbl-type=liner2] > tbody > tr > td > button {
  width: 100%;
  padding: 0.6em;
}

/* ============================== */
/* TABLE: 세로형 테이블 */
/* ============================== */
.common-tbl-vertical {
  text-align: center;
  line-height: 1.4;
}

.common-tbl-vertical > thead > tr > th,
.common-tbl-vertical > tbody > tr > th,
.common-tbl-vertical > tbody > tr > td {
  padding: 0.4em;
}

.common-tbl-vertical[tbl-type=normal] {
  border: 1px solid #c4c7ce;
}

.common-tbl-vertical[tbl-type=normal] > tbody > tr > th {
  background-color: rgba(60, 67, 92, 0.8);
  border: 1px solid #c4c7ce;
}

.common-tbl-vertical[tbl-type=normal] > tbody > tr > th {
  width: 5%;
  text-align: right;
  font-weight: bold;
}

.common-tbl-vertical[tbl-type=normal] > tbody > tr > td {
  width: 95%;
  text-align: left;
  border: 1px solid #c4c7ce;
}

.common-tbl-vertical[tbl-type=minimal] {
  border: 1px solid #c4c7ce;
}

.common-tbl-vertical[tbl-type=minimal] > tbody > tr > th {
  background-color: rgba(60, 67, 92, 0.8);
  border: 1px solid #c4c7ce;
}

.common-tbl-vertical[tbl-type=minimal] > tbody > tr > th {
  width: 5%;
  text-align: right;
  font-weight: normal;
}

.common-tbl-vertical[tbl-type=minimal] > tbody > tr > td {
  width: 95%;
  text-align: left;
  border: 1px solid #c4c7ce;
}

.common-tbl-vertical[tbl-type=noborder] {
  border: none;
}

.common-tbl-vertical[tbl-type=noborder] > tbody > tr > th {
  width: 5%;
  text-align: right;
  border: none;
  font-weight: bold;
}

.common-tbl-vertical[tbl-type=noborder] > tbody > tr > td {
  width: 95%;
  text-align: left;
  border: none;
}

.common-tbl-vertical[tbl-type=rowborder] {
  border: none;
}

.common-tbl-vertical[tbl-type=rowborder] > thead > tr > th {
  border: none;
}

.common-tbl-vertical[tbl-type=rowborder] > tbody > tr > th {
  width: 5%;
  text-align: right;
  border: none;
  font-weight: bold;
}

.common-tbl-vertical[tbl-type=rowborder] > tbody > tr > td {
  width: 95%;
  text-align: left;
  border: none;
}

.common-tbl-vertical[tbl-type=rowborder] > tbody > tr > th {
  border-top: 1px solid #c4c7ce;
}

.common-tbl-vertical[tbl-type=rowborder] > tbody > tr > td {
  border-top: 1px solid #c4c7ce;
}

.common-tbl-vertical[tbl-type=rowborder] > tbody > tr:nth-child(1) > th {
  border-top: none;
}

.common-tbl-vertical[tbl-type=rowborder] > tbody > tr:nth-child(1) > td {
  border-top: none;
}

.common-tbl-vertical[tbl-width=auto] > thead > tr > td {
  width: auto;
}

.common-tbl-vertical[tbl-width=auto] > thead > tr > th {
  width: auto;
}

.common-tbl-vertical[tbl-width=auto] > tbody > tr > td {
  width: auto;
}

.common-tbl-vertical[tbl-width=auto] > tbody > tr > th {
  width: auto;
}

/* ============================== */
/* TABLE: 유형입력용 */
/* ============================== */
.common-tbl-type > tbody > tr > th {
  text-align: left;
}

.common-tbl-type > tbody > tr > th > button {
  min-width: 6.5em;
}

.common-tbl-type > tbody > tr > td {
  font-size: 0.9em;
  color: #3c435c;
}