@charset "UTF-8";
/* ========================= */
/* font main */
/* ========================= */
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #1B4BB8 */
/* rgb(2   , 6   , 84  ); #020654 */
/* rgb(2   , 6   , 84  ); #020654 */
/* rgb(27  , 42  , 107 ); #1B2A6B */
/* rgb(61  , 107 , 245 ); #3D6BF5 */
/* rgb(122 , 128 , 153 ); #7A8099 */
/* rgb(122 , 128 , 153 ); #7A8099 */
/* rgb(228 , 231 , 240 ); #E4E7F0 */
/* rgb(228 , 231 , 240 ); #E4E7F0 */
/* rgb(0   , 2   , 120 ); #000278 */
/* rgb(0   , 150 , 0   ); #009600 */
/* rgb(3   , 154 , 0   ); #039a00 */
/* rgb(40  , 101 , 255 ); #d9e4ff */
/* rgb(40  , 101 , 255 ); #d9e4ff */
/* rgb(234 , 240 , 255 ); #EAF0FF */
/* rgb(212 , 173 , 0   ); #d4ad00 */
/* rgb(255 , 116 , 21  ); #FF7415 */
/* rgb(255 , 116 , 21  ); #FF7415 */
/* rgb(206 , 39  , 39  ); #ce2727 */
/* rgb(120 , 0   , 0   ); #780000 */
/* rgb(100 , 100 , 100 ); #636363 */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
.common-mar03 {
  margin: 0.3em;
}

.common-mar04 {
  margin: 0.4em;
}

.common-mar05 {
  margin: 0.5em;
}

.common-mar06 {
  margin: 0.6em;
}

.common-mar08 {
  margin: 0.8em;
}

.common-mar10 {
  margin: 1em;
}

.common-marZZ {
  margin: 0em;
}

.common-marAuto {
  margin-left: auto;
  margin-right: auto;
}

.common-marUpZZ {
  margin-top: 0em;
}

.common-marUp02 {
  margin-top: 0.2em;
}

.common-marUp04 {
  margin-top: 0.4em;
}

.common-marUp05 {
  margin-top: 0.5em;
}

.common-marUp06 {
  margin-top: 0.6em;
}

.common-marUp08 {
  margin-top: 0.8em;
}

.common-marUp10 {
  margin-top: 1em;
}

.common-marUp20 {
  margin-top: 2em;
}

.common-marUp40 {
  margin-top: 4em;
}

.common-marUDZZ {
  margin-top: 0em;
  margin-bottom: 0em;
}

.common-marUD01 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.common-marUD02 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.common-marUD03 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.common-marUD04 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.common-marUD05 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.common-marUD06 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.common-marUD07 {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.common-marUD08 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.common-marUD10 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.common-marUD20 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.common-marLRZZ {
  margin-left: 0em;
  margin-right: 0em;
}

.common-marLR03 {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.common-marLR04 {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.common-marLR06 {
  margin-left: 0.6em;
  margin-right: 0.6em;
}

.common-marLR08 {
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.common-marLR10 {
  margin-left: 1em;
  margin-right: 1em;
}

.common-marLR20 {
  margin-left: 2em;
  margin-right: 2em;
}

.common-marDwZZ {
  margin-bottom: 0em;
}

.common-marDw02 {
  margin-bottom: 0.2em;
}

.common-marDw03 {
  margin-bottom: 0.3em;
}

.common-marDw04 {
  margin-bottom: 0.4em;
}

.common-marDw06 {
  margin-bottom: 0.6em;
}

.common-marDw08 {
  margin-bottom: 0.8em;
}

.common-marDw10 {
  margin-bottom: 1em;
}

.common-marDw20 {
  margin-bottom: 2em;
}

.common-marLtZZ {
  margin-left: 0em;
}

.common-marLt02 {
  margin-left: 0.2em;
}

.common-marLt03 {
  margin-left: 0.3em;
}

.common-marLt04 {
  margin-left: 0.4em;
}

.common-marLt05 {
  margin-left: 0.5em;
}

.common-marLt08 {
  margin-left: 0.8em;
}

.common-marLt10 {
  margin-left: 1em;
}

.common-marLt12 {
  margin-left: 1.2em;
}

.common-marLt20 {
  margin-left: 2em;
}

.common-marRt03 {
  margin-right: 0.3em;
}

.common-marRt10 {
  margin-right: 1em;
}

/* =============== */
/* 검색용 인풋박스 */
/* =============== */
.common-search-div-top > input[type=text] {
  width: 13em;
  font-size: 1em;
  line-height: 1.6;
  vertical-align: middle;
}

.common-search-div-top > button {
  line-height: 1.6;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: middle;
}