@charset "UTF-8";
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #020654 */
/* #1B2A6B */
/* #3D6BF5 */
/* #7A8099 */
/* #cfd2e1 */
/* #7A8099 */
/* #000278 */
/* #009600 */
/* #039a00 */
/* #374B9B */
/* #d4ad00 */
/* #FF7415 */
/* #FF7415 */
/* #ce2727 */
/* #780000 */
/* #000000 */
/* #ffffff */
/* #636363 */
/* #e6e6e6 */
/* #bebebe */
/* #969696 */
/* #808080 */
/* #646464 */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
/* ========================= */
/* btns */
/* ========================= */
/* 스위치

<label class="common-label-switch">
    <input type=checkbox>
    <span></span>
</label>

*/
/* The switch - the box around the slider */
.common-label-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML */
.common-label-switch > input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.common-label-switch > span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(122, 128, 153);
  transition: 0.4s;
  border-radius: 34px;
}

.common-label-switch > span:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: 0.4s;
}

.common-label-switch > input:checked + span {
  background: rgb(172.1720930233, 176.1162790698, 253.0279069767);
}

.common-label-switch > input:focus + span {
  box-shadow: 1px 1px 7px 2px rgba(2, 6, 84, 0.2);
}

.common-label-switch > input:checked + span:before {
  transform: translateX(26px);
}