@charset "UTF-8";
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #020654 */
/* #1B2A6B */
/* #3D6BF5 */
/* #7A8099 */
/* #cfd2e1 */
/* #7A8099 */
/* #000278 */
/* #009600 */
/* #039a00 */
/* #374B9B */
/* #d4ad00 */
/* #FF7415 */
/* #FF7415 */
/* #ce2727 */
/* #780000 */
/* #000000 */
/* #ffffff */
/* #636363 */
/* #e6e6e6 */
/* #bebebe */
/* #969696 */
/* #808080 */
/* #646464 */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
/* ========================= */
/* btns */
/* ========================= */
/*
    よく使われるHTMLのCSSを定義する
*/
* {
  font-family: -apple-system, "higashiome", "SCDream3", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  /* font-size: inherit; */
  vertical-align: middle;
}

/* ============================== */
/* 클릭 시, 백그라운드 색으로 액션을 표현 */
/* ============================== */
.common-tap:active {
  background: rgb(172.1720930233, 176.1162790698, 253.0279069767);
}

.common-text-insertPage {
  width: 70%;
  text-align: center;
}

.common-text-insertPage[device_kind=web] {
  width: 50%;
}

/* ============================== */
/* INPUT */
/* ============================== */
.common-text {
  text-align: center;
}

pre, xmp {
  display: inline-block;
  margin: 0em;
  line-height: 1.6;
  word-break: break-all;
  white-space: pre-wrap;
  font-family: -apple-system, "higashiome", "SCDream3", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}

textarea {
  font-family: -apple-system, "higashiome", "SCDream3", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
}

table {
  white-space: nowrap;
  border-collapse: collapse;
}