@charset "UTF-8";
/* 메인색상 */
/* 상태색상 */
/* ------ */
/* margin */
/* ------ */
/* mixin */
.common-hr-card {
  margin: 0.8em;
  border: 1px dashed #ccc;
} /* card 사이의 hr */
.common-hr-padding06 {
  margin: 0.6em;
  border: 1px dashed #ccc;
} /* 일반 html 사이의 hr */
.common-hr-paddingLR {
  margin-left: 0.6em;
  margin-right: 0.6em;
  border: 1px dashed #ccc;
} /* 일반 html 사이의 hr */
.common-hr-paddingUD06 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  border: 1px dashed #ccc;
} /* 일반 html 사이의 hr */
.common-hr-paddingUD03 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  border: 1px dashed #ccc;
} /* 일반 html 사이의 hr */
.common-hr-paddingUp06 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  border: 1px dashed #ccc;
} /* 일반 html 사이의 hr */
.common-hr-margin {
  margin: 0em 0em 0em 0em;
  border: 1px dashed #ccc;
} /* 일반 html 사이의 hr */
.common-hr-marginSAll {
  margin: 0.3em 0.3em 0.3em 0.3em;
  border: 1px dashed #ccc;
} /* 일반 html 사이의 hr */
.common-hr-marginSUDw {
  margin: 0.3em 0em 0.3em 0em;
  border: 1px dashed #ccc;
} /* 일반 html 사이의 hr */
.common-hr-card[type=strong] {
  margin: 1em 1em 1.4em 0.8em;
  border: 1px dashed rgb(2, 6, 84);
} /* card 사이의 hr */
.common-hr-padding[type=strong] {
  margin: 0.6em 0.6em;
  border: 1px dashed rgb(2, 6, 84);
} /* 일반 html 사이의 hr */
.common-hr-normal[type=strong] {
  margin: 0.8em 0em 0.6em;
  border: 1px dashed rgb(2, 6, 84);
} /* 일반 html 사이의 hr */
.common-hr-full[type=strong] {
  margin: 0.6em 0em;
  border: 1px dashed rgb(2, 6, 84);
} /* 일반 html 사이의 hr */