@charset "UTF-8";
/* ========================= */
/* font main */
/* ========================= */
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #1B4BB8 */
/* rgb(2   , 6   , 84  ); #020654 */
/* rgb(2   , 6   , 84  ); #020654 */
/* rgb(27  , 42  , 107 ); #1B2A6B */
/* rgb(61  , 107 , 245 ); #3D6BF5 */
/* rgb(122 , 128 , 153 ); #7A8099 */
/* rgb(122 , 128 , 153 ); #7A8099 */
/* rgb(228 , 231 , 240 ); #E4E7F0 */
/* rgb(228 , 231 , 240 ); #E4E7F0 */
/* rgb(0   , 2   , 120 ); #000278 */
/* rgb(0   , 150 , 0   ); #009600 */
/* rgb(3   , 154 , 0   ); #039a00 */
/* rgb(40  , 101 , 255 ); #d9e4ff */
/* rgb(40  , 101 , 255 ); #d9e4ff */
/* rgb(234 , 240 , 255 ); #EAF0FF */
/* rgb(212 , 173 , 0   ); #d4ad00 */
/* rgb(255 , 116 , 21  ); #FF7415 */
/* rgb(255 , 116 , 21  ); #FF7415 */
/* rgb(206 , 39  , 39  ); #ce2727 */
/* rgb(120 , 0   , 0   ); #780000 */
/* rgb(120 , 0   , 0   ); #780000 */
/* rgb(100 , 100 , 100 ); #636363 */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
/* 마진 - 꽉 */
/* 마진 - 꽉 */
/* 마진 - 많음 */
/* 마진 - 기본 */
/* 마진 - 반 */
/* 마진 - 약간 */
/* 마진 - 아주 약간 */
/* 마진 - 아주 더 약간 */
/* 패딩 - 꽉 */
/* 패딩 - 꽉 */
/* 패딩 - 큰 */
/* 패딩 - 기본 */
/* 패딩 - 반 */
/* 패딩 - 약간 */
/* 패딩 - 아주 약간 */
/* 패딩 - 아주 더 약간 */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap'); */
* {
  font-family: "Noto Sans KR", sans-serif;
  vertical-align: middle;
  /* font-size: inherit; */
}

table {
  font-size: inherit;
}

button {
  font-size: inherit;
}

/* ============================== */
/* 클릭 시, 백그라운드 색으로 액션을 표현 */
/* ============================== */
.common-tap:active {
  background: rgba(2, 6, 84, 0.2);
}

.common-text-insertPage {
  width: 70%;
  text-align: center;
}

.common-text-insertPage[device_kind=web] {
  width: 50%;
}

/* ============================== */
/* INPUT */
/* ============================== */
.common-text {
  text-align: center;
}

pre, xmp {
  display: inline-block;
  margin: 0em;
  line-height: 1.6;
  word-break: break-all;
  white-space: pre-wrap;
  font-family: "Noto Sans KR", sans-serif;
}

textarea {
  font-family: "Noto Sans KR", sans-serif;
}

table {
  white-space: nowrap;
  border-collapse: collapse;
}