@charset "UTF-8";
/* 메인색상 */
/* 상태색상 */
/* mixin */
.common-indent04 {
  padding-left: 0.4em;
}

.common-indent08 {
  padding-left: 0.8em;
}

.common-indent12 {
  padding-left: 1.2em;
}

.common-marginTop10 {
  margin-top: 1em;
}

.common-marginUp {
  display: block;
  margin-top: 0.4em;
}

.common-marginUp06 {
  display: block;
  margin-top: 0.6em;
}

.common-marginUp08 {
  display: block;
  margin-top: 0.8em;
}

.common-marginUD {
  display: block;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.common-padding06 {
  padding: 0.6em;
}

.common-paddingRight04 {
  padding-right: 0.4em;
}

.common-paddingUD {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.common-padding04 {
  padding: 0.4em;
}

.common-cushion {
  margin: 0.6em;
}

.common-cushionUp {
  margin: 0.6em 0em 0em 0em;
}

.common-cushionUD {
  margin: 0.6em 0em 0.6em 0em;
}

.common-cushionDw {
  margin-bottom: 0.4em;
}

/* 모든 태그에 적용이 가능한 클래스 모음 */
.common-strong {
  font-weight: bold;
  font-size: 1.1em;
}

.common-textCenter {
  text-align: center;
}

.common-blockCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.common-alignC {
  text-align: center;
}

.common-alignR {
  text-align: right;
}

.common-alignL {
  text-align: left;
}

.common-fontLight {
  color: #666;
  font-weight: normal;
}

/* ============================== */
/* 색칠 */
/* ============================== */
.common-bgcolorGray {
  background-color: rgba(2, 6, 84, 0.2);
}

.common-bgcolorSign04 {
  background-color: rgba(2, 6, 84, 0.4);
}

/* ============================== */
/* 쿠션 */
/* ============================== */
.common-block {
  display: block;
  line-height: 1.6;
}

.common-inlineBlock {
  display: inline-block;
  line-height: 1.6;
}

/* ============================== */
/* fixed 고정 TAG */
/* ============================== */
.common-fixedTopRight {
  display: inline-block;
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}

.common-announce {
  display: block;
  padding: 0.4em;
  text-align: left;
  line-height: 1.4;
  background-color: #ddd;
}

/* ============================== */
/* 글자크기 */
/* ============================== */
.common-fontsize08 {
  font-size: 0.8em;
}

.common-fontsize09 {
  font-size: 0.9em;
}

.common-fontsize11 {
  font-size: 1.1em;
}

.common-fontsize12 {
  font-size: 1.2em;
}

.common-bold {
  font-weight: bold;
}

.common-colorWarn {
  color: rgb(255, 116, 21);
}

.common-colorPstv {
  color: rgb(0, 128, 0);
}

.common-colorNgtv {
  color: rgb(255, 0, 0);
}

.common-colorGrey {
  color: rgb(128, 128, 128);
}

.common-colorGray {
  color: rgb(128, 128, 128);
}

.common-font[font-color=hold] {
  color: rgb(212, 173, 0);
  border: none;
  background-color: none;
}

.common-font[font-color=prog] {
  color: rgb(3, 154, 0);
  border: none;
  background-color: none;
}

.common-font[font-color=pstv] {
  color: rgb(0, 2, 120);
  border: none;
  background-color: none;
}

.common-font[font-color=ngtv] {
  color: rgb(120, 0, 0);
  border: none;
  background-color: none;
}

.common-card {
  display: inline-block;
  font-weight: 600;
  padding: 0.3em 0.6em;
}

.common-card[card-color=hold] {
  color: rgb(212, 173, 0);
  border: 2px solid rgb(212, 173, 0);
  background-color: rgba(212, 173, 0, 0.3);
}

.common-card[card-color=prog] {
  color: rgb(3, 154, 0);
  border: 2px solid rgb(3, 154, 0);
  background-color: rgba(3, 154, 0, 0.3);
}

.common-card[card-color=pstv] {
  color: rgb(0, 2, 120);
  border: 2px solid rgb(0, 2, 120);
  background-color: rgba(0, 2, 120, 0.3);
}

.common-card[card-color=ngtv] {
  color: rgb(120, 0, 0);
  border: 2px solid rgb(120, 0, 0);
  background-color: rgba(120, 0, 0, 0.3);
}

.common-positionAbsUR {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.common-me[me=y] {
  background-color: rgba(2, 6, 84, 0.1);
}

.common-span-me[me=y] {
  font-weight: bold;
  color: rgb(2, 6, 84);
}

.tag-color-sign {
  color: rgb(27, 42, 107);
}

.tag-color-cornflowerBlue {
  color: #8898CC;
}

.tag-color-gray {
  color: #7A8099;
}

.common-color-main {
  color: rgb(2, 6, 84);
}

.common-color-body {
  color: #7A8099;
}