@charset "UTF-8";
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #020654 */
/* #1B2A6B */
/* #3D6BF5 */
/* #7A8099 */
/* #cfd2e1 */
/* #7A8099 */
/* #000278 */
/* #009600 */
/* #039a00 */
/* #374B9B */
/* #d4ad00 */
/* #FF7415 */
/* #FF7415 */
/* #ce2727 */
/* #780000 */
/* #000000 */
/* #ffffff */
/* #636363 */
/* #e6e6e6 */
/* #bebebe */
/* #969696 */
/* #808080 */
/* #646464 */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
/* ========================= */
/* btns */
/* ========================= */
/* Samplecode */
/*
    <label class="common-label-checkbox">
        <input
            type=checkbox
            name=""
            value="5"
        />
        <span></span>
    </label>
    <span>맛있어요</span>
*/
/* Customize the label (the container) */
.common-label-checkbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  height: 26px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox button */
.common-label-checkbox > input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox button */
.common-label-checkbox > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background: #fafafa;
}

/* On mouse-over, add a gray background color */
.common-label-checkbox:hover input[type=checkbox] ~ span {
  background: #f2f2f2;
}

/* When the checkbox button is checked, add a blue background */
.common-label-checkbox > input[type=checkbox]:checked ~ span {
  background: rgb(172.1720930233, 176.1162790698, 253.0279069767);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.common-label-checkbox > span:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.common-label-checkbox > input[type=checkbox]:checked ~ span:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.common-label-checkbox > span:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  color: rgb(255, 255, 255);
}