@charset "UTF-8";
/* ========================= */
/* font main */
/* ========================= */
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #1B4BB8 */
/* rgb(2   , 6   , 84  ); #020654 */
/* rgb(2   , 6   , 84  ); #020654 */
/* rgb(27  , 42  , 107 ); #1B2A6B */
/* rgb(61  , 107 , 245 ); #3D6BF5 */
/* rgb(122 , 128 , 153 ); #7A8099 */
/* rgb(122 , 128 , 153 ); #7A8099 */
/* rgb(228 , 231 , 240 ); #E4E7F0 */
/* rgb(228 , 231 , 240 ); #E4E7F0 */
/* rgb(0   , 2   , 120 ); #000278 */
/* rgb(0   , 150 , 0   ); #009600 */
/* rgb(3   , 154 , 0   ); #039a00 */
/* rgb(40  , 101 , 255 ); #d9e4ff */
/* rgb(40  , 101 , 255 ); #d9e4ff */
/* rgb(234 , 240 , 255 ); #EAF0FF */
/* rgb(212 , 173 , 0   ); #d4ad00 */
/* rgb(255 , 116 , 21  ); #FF7415 */
/* rgb(255 , 116 , 21  ); #FF7415 */
/* rgb(206 , 39  , 39  ); #ce2727 */
/* rgb(120 , 0   , 0   ); #780000 */
/* rgb(120 , 0   , 0   ); #780000 */
/* rgb(100 , 100 , 100 ); #636363 */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
/* 마진 - 꽉 */
/* 마진 - 꽉 */
/* 마진 - 많음 */
/* 마진 - 기본 */
/* 마진 - 반 */
/* 마진 - 약간 */
/* 마진 - 아주 약간 */
/* 마진 - 아주 더 약간 */
/* 패딩 - 꽉 */
/* 패딩 - 꽉 */
/* 패딩 - 큰 */
/* 패딩 - 기본 */
/* 패딩 - 반 */
/* 패딩 - 약간 */
/* 패딩 - 아주 약간 */
/* 패딩 - 아주 더 약간 */
/* ============================== */
/* main button */
/* ============================== */
/* ============================== */
/* button common */
/* ============================== */
button > i {
  padding-top: 0.2em;
}

/* ============================== */
/* buttons */
/* ============================== */
.common-btn-light,
.common-btn-outer,
.common-btn-inner,
.common-btn-round,
.common-btn-radio,
.common-btn-flat {
  display: inline-block;
  padding: 0.2em 0.3em 0.3em;
  text-decoration: none;
  border-radius: 0.3em;
  background: #ffffff;
  line-height: 1.5;
}

.common-btn-round {
  border-radius: 100%;
}

.common-btn-flat {
  background-color: transparent;
  color: #3c435c;
  border: 1px solid #020654;
}

.common-btn-light:hover,
.common-btn-outer:hover,
.common-btn-inner:hover,
.common-btn-round:hover,
.common-btn-radio:hover,
.common-btn-flat:hover {
  outline: none;
  cursor: pointer;
}

/* round */
.common-btn-round {
  border: 1px solid #020654;
  background: rgb(250.8586046512, 251.0558139535, 254.9013953488);
  color: #020654;
}

.common-btn-round:active {
  border-color: rgba(2, 6, 84, 0.3);
  background: rgba(2, 6, 84, 0.3);
}

/* round */
.common-btn-round[btn-type=choosed] {
  border: 1px solid #020654;
  background: rgb(250.8586046512, 251.0558139535, 254.9013953488);
  color: #020654;
}

.common-btn-round[btn-type=choosed]:active {
  border-color: rgba(2, 6, 84, 0.3);
  background: rgba(2, 6, 84, 0.3);
}

/* round */
.common-btn-round[btn-type=cancel] {
  border: 1px solid #ff7415;
  background: rgb(255, 253.61, 252.66);
  color: #ff7415;
}

.common-btn-round[btn-type=cancel]:active {
  border-color: rgba(255, 116, 21, 0.3);
  background: rgba(255, 116, 21, 0.3);
}

/* round */
.common-btn-round[btn-type=warning] {
  border: 1px solid #ff7415;
  background: rgb(255, 253.61, 252.66);
  color: #ff7415;
}

.common-btn-round[btn-type=warning]:active {
  border-color: rgba(255, 116, 21, 0.3);
  background: rgba(255, 116, 21, 0.3);
}

/* round */
.common-btn-round[btn-type=error] {
  border: 1px solid #ce2727;
  background: rgb(254.5781632653, 252.7718367347, 252.7718367347);
  color: #ce2727;
}

.common-btn-round[btn-type=error]:active {
  border-color: rgba(206, 39, 39, 0.3);
  background: rgba(206, 39, 39, 0.3);
}

/* round */
.common-btn-round[btn-type=error] {
  border: 1px solid #ce2727;
  background: rgb(254.5781632653, 252.7718367347, 252.7718367347);
  color: #ce2727;
}

.common-btn-round[btn-type=error]:active {
  border-color: rgba(206, 39, 39, 0.3);
  background: rgba(206, 39, 39, 0.3);
}

/* outer */
.common-btn-outer {
  border: 1px solid #020654;
  background: rgb(250.8586046512, 251.0558139535, 254.9013953488);
  color: #020654;
}

.common-btn-outer:active {
  border-color: rgba(2, 6, 84, 0.3);
  background: rgba(2, 6, 84, 0.3);
}

/* outer */
.common-btn-outer[btn-type=choosed] {
  border: 1px solid #020654;
  background: rgb(250.8586046512, 251.0558139535, 254.9013953488);
  color: #020654;
}

.common-btn-outer[btn-type=choosed]:active {
  border-color: rgba(2, 6, 84, 0.3);
  background: rgba(2, 6, 84, 0.3);
}

/* outer */
.common-btn-outer[btn-type=cancel] {
  border: 1px solid #ff7415;
  background: rgb(255, 253.61, 252.66);
  color: #ff7415;
}

.common-btn-outer[btn-type=cancel]:active {
  border-color: rgba(255, 116, 21, 0.3);
  background: rgba(255, 116, 21, 0.3);
}

/* outer */
.common-btn-outer[btn-type=warning] {
  border: 1px solid #ff7415;
  background: rgb(255, 253.61, 252.66);
  color: #ff7415;
}

.common-btn-outer[btn-type=warning]:active {
  border-color: rgba(255, 116, 21, 0.3);
  background: rgba(255, 116, 21, 0.3);
}

/* outer */
.common-btn-outer[btn-type=error] {
  border: 1px solid #ce2727;
  background: rgb(254.5781632653, 252.7718367347, 252.7718367347);
  color: #ce2727;
}

.common-btn-outer[btn-type=error]:active {
  border-color: rgba(206, 39, 39, 0.3);
  background: rgba(206, 39, 39, 0.3);
}

/* outer */
.common-btn-outer[btn-type=delete] {
  border: 1px solid #ce2727;
  background: rgb(254.5781632653, 252.7718367347, 252.7718367347);
  color: #ce2727;
}

.common-btn-outer[btn-type=delete]:active {
  border-color: rgba(206, 39, 39, 0.3);
  background: rgba(206, 39, 39, 0.3);
}

/* light */
.common-btn-light {
  border: 1px solid #3c435c;
  background: rgb(252.8331578947, 252.9980263158, 253.5868421053);
  color: #3c435c;
}

.common-btn-light:active {
  border-color: rgba(60, 67, 92, 0.3);
  background: rgba(60, 67, 92, 0.3);
}

/* inner */
.common-btn-inner {
  border: 1px solid rgb(1.5, 4.5, 63);
  background: #020654;
  color: rgb(250.8586046512, 251.0558139535, 254.9013953488);
}

.common-btn-inner:active {
  border-color: rgba(2, 6, 84, 0.3);
  background: rgba(2, 6, 84, 0.3);
}

/* inner */
.common-btn-inner[btn-type=cancel] {
  border: 1px solid rgb(207, 84.0384615385, 0);
  background: #ff7415;
  color: rgb(255, 253.61, 252.66);
}

.common-btn-inner[btn-type=cancel]:active {
  border-color: rgba(255, 116, 21, 0.3);
  background: rgba(255, 116, 21, 0.3);
}

/* inner */
.common-btn-inner[btn-type=delete] {
  border: 1px solid rgb(154.5, 29.25, 29.25);
  background: #ce2727;
  color: rgb(254.5781632653, 252.7718367347, 252.7718367347);
}

.common-btn-inner[btn-type=delete]:active {
  border-color: rgba(206, 39, 39, 0.3);
  background: rgba(206, 39, 39, 0.3);
}

/* inner */
.common-btn-inner[btn-type=detail] {
  border: 1px solid rgb(111.75, 152.6785714286, 255);
  background: #EAF0FF;
  color: rgb(0, 34.9285714286, 122.25);
}

.common-btn-inner[btn-type=detail]:active {
  border-color: rgba(234, 240, 255, 0.3);
  background: rgba(234, 240, 255, 0.3);
}

/* radio */
.common-btn-radio[tab=""] {
  border: 1px solid #020654;
  background: rgb(250.8586046512, 251.0558139535, 254.9013953488);
  color: #020654;
}

.common-btn-radio:disabled[tab=""] {
  border: 1px solid #2b2b2b;
  background: #ffffff;
  color: #020654;
}

/* radio */
.common-btn-radio[tab=tab] {
  border: 1px solid rgb(1.5, 4.5, 63);
  background: #020654;
  color: rgb(250.8586046512, 251.0558139535, 254.9013953488);
}

.common-btn-radio:disabled[tab=tab] {
  border: 1px solid #2b2b2b;
  background: #2b2b2b;
  color: #020654;
}

/* radio */
.common-btn-radio[btn-type=cancel][tab=""] {
  border: 1px solid #ff7415;
  background: rgb(255, 253.61, 252.66);
  color: #ff7415;
}

.common-btn-radio:disabled[btn-type=cancel][tab=""] {
  border: 1px solid #8a8a8a;
  background: #ffffff;
  color: #ff7415;
}

/* radio */
.common-btn-radio[btn-type=cancel][tab=tab] {
  border: 1px solid rgb(207, 84.0384615385, 0);
  background: #ff7415;
  color: rgb(255, 253.61, 252.66);
}

.common-btn-radio:disabled[btn-type=cancel][tab=tab] {
  border: 1px solid #8a8a8a;
  background: #8a8a8a;
  color: #ff7415;
}

.common-btn-light:disabled {
  border: 1px solid #4c4c4c;
  background: #ffffff;
  color: #3c435c;
}

.common-btn-outer:disabled {
  border: 1px solid #2b2b2b;
  background: #ffffff;
  color: #020654;
}

.common-btn-inner:disabled {
  border: 1px solid #2b2b2b;
  background: #2b2b2b;
  color: #020654;
}

/* button size */
.common-btn-outer[btn-size=large] {
  display: block;
  margin: 0.3em auto;
  padding: 0.8em;
  min-width: 12em;
  max-width: 90%;
}

.common-btn-inner[btn-size=large] {
  display: block;
  margin: 0.3em auto;
  padding: 0.8em;
  min-width: 12em;
  max-width: 90%;
}

/* -------------------- */
/* noline */
/* -------------------- */
.common-btn-noline,
.common-btn-nolineSave {
  display: inline-block;
  padding: 0.3em 0.4em;
  background-color: transparent;
  border: none;
  line-height: 1.5;
}

.common-btn-nolineSave:hover,
.common-btn-noline:hover {
  border: none;
  cursor: pointer;
}

/* noline */
.common-btn-noline {
  color: #020654;
}

.common-btn-noline:active {
  background: rgba(2, 6, 84, 0.2);
}

/* noline */
.common-btn-noline[btn-type=cancel] {
  color: #ff7415;
}

.common-btn-noline:active[btn-type=cancel] {
  background: rgba(255, 116, 21, 0.2);
}

/* noline */
.common-btn-noline[btn-type=warning] {
  color: #ff7415;
}

.common-btn-noline:active[btn-type=warning] {
  background: rgba(255, 116, 21, 0.2);
}

/* noline */
.common-btn-noline[btn-type=error] {
  color: #ce2727;
}

.common-btn-noline:active[btn-type=error] {
  background: rgba(206, 39, 39, 0.2);
}

/* noline */
.common-btn-noline[btn-type=body] {
  color: #3c435c;
}

.common-btn-noline:active[btn-type=body] {
  background: rgba(60, 67, 92, 0.2);
}

/* -------------------- */
/* 페이지 바닥에 깔리는 버튼 */
/* -------------------- */
.common-btn-footer {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #020654;
  color: #ffffff;
  font-size: 1.1em;
  line-height: 1.6;
  padding: 0.8em;
  border: none;
}

.common-btn-footer:hover {
  cursor: pointer;
}

.common-btn-footer:active {
  background: rgba(2, 6, 84, 0.2);
}