@charset "UTF-8";
/* ========================= */
/* font main */
/* ========================= */
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #1B4BB8 */
/* rgb(2   , 6   , 84  ); #020654 */
/* rgb(2   , 6   , 84  ); #020654 */
/* rgb(27  , 42  , 107 ); #1B2A6B */
/* rgb(61  , 107 , 245 ); #3D6BF5 */
/* rgb(122 , 128 , 153 ); #7A8099 */
/* rgb(122 , 128 , 153 ); #7A8099 */
/* rgb(228 , 231 , 240 ); #E4E7F0 */
/* rgb(228 , 231 , 240 ); #E4E7F0 */
/* rgb(0   , 2   , 120 ); #000278 */
/* rgb(0   , 150 , 0   ); #009600 */
/* rgb(3   , 154 , 0   ); #039a00 */
/* rgb(40  , 101 , 255 ); #d9e4ff */
/* rgb(40  , 101 , 255 ); #d9e4ff */
/* rgb(234 , 240 , 255 ); #EAF0FF */
/* rgb(212 , 173 , 0   ); #d4ad00 */
/* rgb(255 , 116 , 21  ); #FF7415 */
/* rgb(255 , 116 , 21  ); #FF7415 */
/* rgb(206 , 39  , 39  ); #ce2727 */
/* rgb(120 , 0   , 0   ); #780000 */
/* rgb(120 , 0   , 0   ); #780000 */
/* rgb(100 , 100 , 100 ); #636363 */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
/* 마진 - 꽉 */
/* 마진 - 꽉 */
/* 마진 - 많음 */
/* 마진 - 기본 */
/* 마진 - 반 */
/* 마진 - 약간 */
/* 마진 - 아주 약간 */
/* 마진 - 아주 더 약간 */
/* 패딩 - 꽉 */
/* 패딩 - 꽉 */
/* 패딩 - 큰 */
/* 패딩 - 기본 */
/* 패딩 - 반 */
/* 패딩 - 약간 */
/* 패딩 - 아주 약간 */
/* 패딩 - 아주 더 약간 */
/* =============== */
/* 검색용 인풋박스 */
/* =============== */
.common-search-div-top > input[type=text] {
  display: inline-block;
  box-sizing: border-box;
  height: 2.2em;
  width: 13em;
  font-size: 1em;
  line-height: 1.6;
  vertical-align: middle;
}

.common-search-div-top > button {
  display: inline-block;
  box-sizing: border-box;
  height: 2.2em;
  line-height: 1.6;
  padding: 0em 1em;
  vertical-align: middle;
}