@charset "UTF-8";
/* ========================= */
/* font main */
/* ========================= */
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #1B4BB8 */
/* rgb(2   , 6   , 84  ); #020654 */
/* rgb(2   , 6   , 84  ); #020654 */
/* rgb(27  , 42  , 107 ); #1B2A6B */
/* rgb(61  , 107 , 245 ); #3D6BF5 */
/* rgb(122 , 128 , 153 ); #7A8099 */
/* rgb(122 , 128 , 153 ); #7A8099 */
/* rgb(228 , 231 , 240 ); #E4E7F0 */
/* rgb(228 , 231 , 240 ); #E4E7F0 */
/* rgb(0   , 2   , 120 ); #000278 */
/* rgb(0   , 150 , 0   ); #009600 */
/* rgb(3   , 154 , 0   ); #039a00 */
/* rgb(40  , 101 , 255 ); #d9e4ff */
/* rgb(40  , 101 , 255 ); #d9e4ff */
/* rgb(234 , 240 , 255 ); #EAF0FF */
/* rgb(212 , 173 , 0   ); #d4ad00 */
/* rgb(255 , 116 , 21  ); #FF7415 */
/* rgb(255 , 116 , 21  ); #FF7415 */
/* rgb(206 , 39  , 39  ); #ce2727 */
/* rgb(120 , 0   , 0   ); #780000 */
/* rgb(120 , 0   , 0   ); #780000 */
/* rgb(100 , 100 , 100 ); #636363 */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
/* 마진 - 꽉 */
/* 마진 - 꽉 */
/* 마진 - 많음 */
/* 마진 - 기본 */
/* 마진 - 반 */
/* 마진 - 약간 */
/* 마진 - 아주 약간 */
/* 마진 - 아주 더 약간 */
/* 패딩 - 꽉 */
/* 패딩 - 꽉 */
/* 패딩 - 큰 */
/* 패딩 - 기본 */
/* 패딩 - 반 */
/* 패딩 - 약간 */
/* 패딩 - 아주 약간 */
/* 패딩 - 아주 더 약간 */
/* Customize the label (the container) */
.common-label-radio {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  height: 26px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.common-label-radio > input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.common-label-radio > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background: rgba(60, 67, 92, 0.2);
  border-radius: 50%;
}

/* On mouse-over, add a gray background color */
.common-label-radio:hover input[type=radio] ~ span {
  background: rgba(61, 107, 245, 0.2);
}

/* When the radio button is checked, add a blue background */
.common-label-radio > input[type=radio]:checked ~ span {
  background: rgba(2, 6, 84, 0.2);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.common-label-radio > span:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.common-label-radio > input[type=radio]:checked ~ span:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.common-label-radio > span:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  color: #ffffff;
}