@charset "UTF-8";
/* ========================= */
/* font main */
/* ========================= */
/* ========================= */
/* colors main */
/* ========================= */
/* ========================= */
/* colors */
/* ========================= */
/* #1B4BB8 */
/* rgb(2   , 6   , 84  ); #020654 */
/* rgb(2   , 6   , 84  ); #020654 */
/* rgb(27  , 42  , 107 ); #1B2A6B */
/* rgb(61  , 107 , 245 ); #3D6BF5 */
/* rgb(122 , 128 , 153 ); #7A8099 */
/* rgb(122 , 128 , 153 ); #7A8099 */
/* rgb(228 , 231 , 240 ); #E4E7F0 */
/* rgb(228 , 231 , 240 ); #E4E7F0 */
/* rgb(0   , 2   , 120 ); #000278 */
/* rgb(0   , 150 , 0   ); #009600 */
/* rgb(3   , 154 , 0   ); #039a00 */
/* rgb(40  , 101 , 255 ); #d9e4ff */
/* rgb(40  , 101 , 255 ); #d9e4ff */
/* rgb(234 , 240 , 255 ); #EAF0FF */
/* rgb(212 , 173 , 0   ); #d4ad00 */
/* rgb(255 , 116 , 21  ); #FF7415 */
/* rgb(255 , 116 , 21  ); #FF7415 */
/* rgb(206 , 39  , 39  ); #ce2727 */
/* rgb(120 , 0   , 0   ); #780000 */
/* rgb(120 , 0   , 0   ); #780000 */
/* rgb(100 , 100 , 100 ); #636363 */
/* ========================= */
/* spacing */
/* ========================= */
/* ========================= */
/* styles */
/* ========================= */
/* ========================= */
/* margin / padding */
/* ========================= */
/* 마진 - 꽉 */
/* 마진 - 꽉 */
/* 마진 - 많음 */
/* 마진 - 기본 */
/* 마진 - 반 */
/* 마진 - 약간 */
/* 마진 - 아주 약간 */
/* 마진 - 아주 더 약간 */
/* 패딩 - 꽉 */
/* 패딩 - 꽉 */
/* 패딩 - 큰 */
/* 패딩 - 기본 */
/* 패딩 - 반 */
/* 패딩 - 약간 */
/* 패딩 - 아주 약간 */
/* 패딩 - 아주 더 약간 */
div {
  display: block;
}

/*=================================*/
/* flex */
/*=================================*/
.common-div-flex {
  display: flex;
  align-items: center;
  gap: 0.8em;
}

/*=================================*/
/* dot */
/*=================================*/
.common-div-dot {
  width: 0.6em;
  height: 0.6em;
  background: #2865ff;
  border-radius: 50%;
  flex-shrink: 0;
}

/*=================================*/
/* header */
/*=================================*/
.common-div-headerTop {
  display: block;
  padding: 0.6em 0.8em;
  background: #ffffff;
  border-bottom: 0.5px solid #e4e7f0;
}

.common-div-sectionHeader {
  font-weight: normal;
  color: #3c435c;
  margin-bottom: 0.6em;
}

/*=================================*/
/* header - toolbar */
/*=================================*/
.common-div-toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
  height: 3em;
  /* justify-content: center; */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 0.5px solid #e4e7f0;
}

.common-div-toolbar > div:nth-child(2) {
  padding-left: 0.5em;
}

.common-div-toolbar > div:nth-child(2) > span {
  font-size: 1.2em;
  font-weight: bold;
}

.common-div-toolbar > div:nth-child(3) {
  margin-left: auto;
}

/*=================================*/
/* div for button list */
/*=================================*/
.common-div-btnList > button {
  margin-bottom: 0.2em;
}

/*=================================*/
/* div for yearToMin */
/*=================================*/
.common-div-yearToMin > input {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.common-div-yearToMin > input:nth-child(1) {
  width: 8em;
}

.common-div-yearToMin > input:nth-child(2) {
  width: 3em;
}

.common-div-yearToMin > input:nth-child(3) {
  width: 3em;
}

/* ============================== */
/* 입력 폼 전용 */
/* ============================== */
/* 폼에 연동된 프로그래스 */
.common-div-progressContainer {
  width: 100%;
  height: 6px;
  background: rgba(60, 67, 92, 0.2);
  overflow: hidden;
  box-shadow: inset 0 2px 5px rgb(211.6631578947, 214.9605263158, 226.7368421053);
  margin-bottom: 0.8em;
}

.common-div-progressBar {
  width: 0%;
  height: 100%;
  background-color: #020654;
  border-radius: 1em 0 0 1em;
  transition: width 0.4s ease; /* 부드러운 애니메이션 */
}

/* 폼 자체 */
.common-div-slideformParent {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0em;
  padding: 0em;
  overflow-x: hidden;
}

.common-div-slideformChild {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4em);
  height: auto;
  padding: 1em 2em;
}

.common-div-slideformChild[slideform-status=exit] {
  transform: translateX(-100%);
  transition: transform 0.3s ease; /* display: none; */
}

.common-div-slideformChild[slideform-status=open] {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.common-div-slideformChild[slideform-status=wait] {
  transform: translateX(100%);
  transition: transform 0.3s ease; /* display: none; */
}

/* 일반 폼 */
.common-div-formChild {
  display: block;
  width: calc(100% - 4em);
  height: auto;
  padding: 1em 2em;
}

.common-div-formChild > .common-div-formField:nth-child(1) {
  margin-top: 1em;
}

/* 폼 내 */
.common-div-formTitle {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0em;
}

.common-div-formTitle > span:nth-child(1) {
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  color: #020654;
}

.common-div-formTitle > span:nth-child(2) {
  display: block;
}

.common-div-formField {
  text-align: left;
  margin: 2em 0em;
  padding: 0em;
  box-sizing: content-box;
}

.common-div-formField > span:nth-child(1) {
  display: block;
  font-size: 1.1em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-weight: bold;
  line-height: 1.6;
}

.common-div-formField > span:nth-child(2) {
  display: block;
  font-size: 0.9em;
  margin-top: 0em;
  margin-bottom: 0.4em;
  font-weight: normal;
  line-height: 1.6;
}

/* ============================== */
/* 입력 폼 전용 */
/* ============================== */
.common-div-form {
  text-align: center;
  margin: 1em;
  padding: 0em;
  box-sizing: content-box;
}

.common-div-form > span:nth-child(1) {
  font-size: 1.2em;
  font-weight: bold;
}

.common-div-form > span:nth-child(2) {
  font-size: 1em;
  font-weight: normal;
}

/* ============================== */
/* 인덴트 */
/* ============================== */
.common-div-indent {
  display: block;
  margin: 0.4em;
  padding: 0em;
}

.common-div-indent > span {
  display: block;
}

.common-div-indent > span::before {
  content: "・";
  vertical-align: middle;
}

/* ============================== */
/* 목록형 버튼을 위한 DIV */
/* ============================== */
.common-div-manages {
  text-align: center;
}

.common-div-manages > button {
  display: block;
  width: 15em;
  max-width: 80%;
  margin-top: 0.6em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.6em;
}

/* ============================== */
/* gg-html.js 의 svg 부모 */
/* ============================== */
.common-div-svgTop {
  display: inline-block;
  margin: 0.4em;
  vertical-align: middle;
}

/* ============================== */
/* 그림자진 DIV */
/* ============================== */
.common-div-card {
  position: relative;
  border-radius: 0.6em;
  padding: 0.6em;
  box-sizing: content-box;
  text-align: left;
  /* color: $colorSnow; */
  background: white;
  border: 0.04em solid #e4e7f0;
}

.common-div-card[card-type=warning] {
  color: #ff7415;
  background: rgb(255, 227.2, 208.2);
}

.common-div-card[card-type=notice] {
  color: #2865ff;
  background: rgb(212, 224.2, 255);
}

.common-div-card[card-type=hero] {
  color: #020654;
  background: rgb(172.1720930233, 176.1162790698, 253.0279069767);
}

.common-div-card:first-child {
  margin-top: 0em;
}

.common-div-card ~ .common-div-card {
  margin-top: 0.6em;
}

/* ============================== */
/* 에러 메시지용 */
/* ============================== */
.common-div-msg {
  margin: 0.8em;
  padding: 0.6em;
  box-sizing: content-box;
  text-align: left;
  line-height: 1.6;
}

.common-div-msg[common-div-msg-type=error] {
  color: #ce2727;
  background: rgb(246.5632653061, 210.4367346939, 210.4367346939);
}

.common-div-msg[common-div-msg-type=warning] {
  color: #ff7415;
  background: rgb(255, 227.2, 208.2);
}

.common-div-msg[common-div-msg-type=allow] {
  color: #009600;
  background: #b7ffb7;
}

/* ============================== */
/* 패드를 사용하지 않는 DIV */
/* ============================== */
.common-div-mobile {
  display: block;
  max-width: 600px;
  padding: 0em;
  margin: 0em auto;
  box-sizing: content-box;
}

/* -------------------- */
/* 툴바 */
/* -------------------- */
.common-div-headerPadding {
  width: 100%;
  height: 3em;
}

.common-div-header {
  z-index: 10000;
  position: absolute;
  left: 0;
  right: 0;
  /* color: $colorSnow; */
  width: 100%;
  height: 3em;
}

.common-div-header > div[header=back] {
  display: inline-block;
  width: auto;
  line-height: 3em;
}

.common-div-header > div[header=title] {
  display: inline-block;
  width: auto;
  line-height: 3em;
  padding-left: 0.6em;
  font-size: 1.2em;
  font-weight: bold;
}

/* ============================== */
/* 페이지네이션 */
/* ============================== */
.common-div-pagenationTop {
  margin: 0.6em auto;
  text-align: center;
  box-sizing: content-box;
}

.common-div-pagenationBtnTop {
  display: inline-block;
  border-radius: 2.4em;
  background-color: #e4e7f0;
}

.common-btn-pagenationBtn {
  display: inline-block;
  width: 2.4em;
  height: 2.4em;
  background-color: #e4e7f0;
  border-radius: 100%;
  border: none;
  line-height: 2.4em;
  text-align: center;
  vertical-align: middle;
}

.common-btn-pagenationBtn[tab=tab] {
  background-color: #020654;
  color: #ffffff;
  /* font-weight: bold; */
}

/* ============================== */
/* block 상태가 되며, 다른 div에 간섭하지 않도록 쿠션이 생긴다.  */
/* ============================== */
.common-div-empty {
  height: 1em;
  box-sizing: border-box;
}

.common-div-mass {
  margin: 0.4em;
  padding: 0.4em;
  box-sizing: content-box;
  text-align: center;
}

.common-div-mass > table {
  margin-left: auto;
  margin-right: auto;
}

.common-div-scrollX {
  width: 100%;
  overflow-x: scroll;
  box-sizing: border-box;
  padding-bottom: 0.4em;
}

.common-div-cushion {
  display: block;
  margin: 0.6em;
  padding: 0em;
  box-sizing: border-box;
  text-align: left;
}

.common-div-cushionUD {
  display: block;
  margin: 0.6em 0em;
  padding: 0em;
  box-sizing: border-box;
}

.common-div-cushionLR {
  display: block;
  margin: 0em 0.6em;
  padding: 0em;
  box-sizing: border-box;
}

.common-div-cushionDw {
  display: block;
  margin-bottom: 0.6em;
  padding: 0em;
  box-sizing: border-box;
}

/* 쿠션 아래의 첫번째 쿠션은 위에 공백을 두지 않는다. */
.common-div-cushion > .common-div-cushionUD:nth-child(1) {
  margin-bottom: 0.6em;
}

/* 쿠션 아래의 첫번째, formField 는 marginTop: 0.4em; */
.common-div-cushion > .common-div-formField:nth-child(1) {
  margin-top: 0.6em;
}

/* 페이지 아래에 무조건 공백을 삽입 */
.common-div-cushionFooter {
  height: 4em;
  width: 100%;
}

/* ============================== */
/* 설명문구 삽입 시 */
/* ============================== */
.common-div-announce {
  margin: 0.6em;
  padding: 0.4em;
  text-align: left;
  line-height: 1.6;
  background: rgba(60, 67, 92, 0.2);
}

/* ============================== */
/* 캘린더 달력용 DIV */
/* ============================== */
.common-div-calendarSquareYear {
  font-size: 1.2em;
  font-weight: bold;
  color: #020654;
}

.common-div-calendarSquare {
  background: linear-gradient(135deg, #020654 0%, #0a2472 100%);
  color: #ffffff;
  width: 3.6em;
  height: 3.6em;
  padding: 0.4em;
  border-radius: 1em;
}

.common-div-calendarSquare > div:nth-child(1) {
  font-size: 0.9em;
  line-height: 1.4;
  text-align: center;
  font-weight: normal;
}

.common-div-calendarSquare > div:nth-child(2) {
  font-size: 1.4em;
  line-height: 1.4;
  text-align: center;
  font-weight: bold;
}

/* ByPoint */
.common-div-calendarSquare[point-of-date=passed] {
  background: rgba(60, 67, 92, 0.2);
  color: #3c435c;
}

/* ByPoint */
.common-div-calendarSquare[point-of-date=within] {
  background: rgba(2, 6, 84, 0.2);
  color: #ffffff;
}

/* ByPoint */
.common-div-calendarSquare[point-of-date=upcoming] {
  background: rgba(255, 255, 255, 0.2);
  color: #3c435c;
}

/* ByType */
.common-div-calendarSquare[common-type=alone] {
  width: 2.6em;
  height: 2.6em;
  padding: 0.4em;
}

/* ByType */
.common-div-calendarSquare[common-type=alone] > div:nth-child(1) {
  line-height: 2.6em;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
}

/* ByType */
.common-div-calendarSquare[common-type=alone] > div:nth-child(1) > span {
  font-size: 1.2em;
}

.common-div-calendarSquareWeekTop > button {
  color: #ffffff;
  border: 2px solid #3c435c;
  color: #3c435c;
  padding: 0.4em 0.8em;
  border-radius: 0.3em;
  font-weight: normal;
  cursor: pointer;
  /* transition: all 0.3s ease; */
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-left: 0.4em;
}

.common-div-calendarSquareWeekTop > button:nth-child(1) {
  margin-left: 0em;
}

/* ByPoint */
.common-div-calendarSquareWeekTop > button[point-of-date=passed] {
  background: rgba(60, 67, 92, 0.2);
  color: #3c435c;
  border: 2px solid #3d6bf5;
}

/* ByPoint */
.common-div-calendarSquareWeekTop > button[point-of-date=within] {
  color: #020654;
  border: 2px solid #020654;
}

/* ByPoint */
.common-div-calendarSquareWeekTop > button[point-of-date=upcoming] {
  color: #3c435c;
  border: 2px solid #3c435c;
}