/* ============================== */
/* screen background */
/* ============================== */
.page { background-color: #ffffff; }
.page__content { background-color: #ffffff; }
.page__background { background-color: #ffffff; }