/* ============================== */
/* screen background */
/* ============================== */
.page { background-color: #F0F2F8; }
.page__content
{
    line-height: 1.6;
    vertical-align: middle;
    background-color: #F0F2F8;
}
.page__background { background-color: #F0F2F8; }

input { line-height: 1.5; }

.right
{
    display: flex;
    align-items: center;
    font-size:inherit;
    padding-right: 0.4em;
}

i
{
    /* margin-right: 0.3em; */
}