/* ============================== */
/* screen background */
/* ============================== */
.page { background-color: #f8f9fa; }
.page__content
{
    line-height: 1.6;
    vertical-align: middle;
    background-color: #f8f9fa;
}
.page__background { background-color: #f8f9fa; }

input { line-height: 1.5; }