/* ========================= */
/* 각종입력 */
/* ========================= */
#PMenuUpdate-textarea-menuComment                  { width:90%; }
#PMenuUpdate-textarea-menuComment[device_kind=web] { width:50%; }

/* ========================= */
/* 매뉴 옵션 */
/* ========================= */
.PMenuUpdate-div-menuopt
{
    padding:0.4em;
}
.PMenuUpdate-tbl-menuopt { margin-left:auto; margin-right:auto; }
.PMenuUpdate-tbl-menuopt > tbody > tr > td { padding:0.5em 0.4em; white-space: nowrap; }

.PMenuUpdate-tbl-optdetail
{
    margin-left:auto;
    margin-right:auto;
}
.PMenuUpdate-tbl-optdetail   > tbody > tr > td { padding:0.3em 0.3em; white-space: nowrap; }
.PMenuUpdate-tbl-optdetail   > thead > tr > td
{
    text-align: center;
    border-bottom:1px solid rgb(220,220,220);
    white-space: nowrap;
}
/* 메뉴옵션 삭제 */
.PMenuUpdate-btn-deleteMenuopt
{
    position:absolute;
    top:0.3em;
    right:0.3em;
}
/* 선택가능한 메뉴 수 */
.PMenuUpdate-span-menuoptChooseAbleCount
{
    vertical-align: middle;
    padding:0.2em;
    font-size:1.1em;
}

/* 메뉴옵션상세 menuopt_detail */
.PMenuUpdate-tr-optdetail > td[col=optdetailIdx]   { display:none; }
.PMenuUpdate-tr-optdetail > td[col=changePosition] { text-align: center; }

/* 추천메뉴 */
.PMenuUpdate-tr-recommend
{
    white-space: nowrap;
}