/* ========================== */
/* 템플레이트 전용 다이얼로그 */
/* ========================== */
.common-div-templateDialog-mask
{
    z-index:997;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
    height:100%;
    width:100%;
}
.common-div-templateDialog-container
{
    z-index:998;
    position: absolute;
    width:100%;
    height:90%;
    overflow-y: scroll;
    background-color: white;
    border-radius: 1em 1em 0em 0em;
    box-shadow: 5px -5px 5px rgb(150,150,150);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    left: 0%;
    bottom: 0%;
}

/* ========================== */
/* 단독형 */
/* ========================== */
.common-div-aDialogMask
{
    z-index:997;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
    height:100%;
    width:100%;
}
.common-div-aDialogContainer
{
    z-index:998;
    position:fixed;
    width:90%;
    height:85%;
    overflow-y: scroll;
    background-color: white;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.common-dialog-div-btns
{
    display: inline-block;
    z-index: 998;
    /* background-color:white; */
    position: absolute;
    top: 10px;
    right: 10px;
}


/* ========================== */
/* dialog */
/* ========================== */
.common-div-dialogMask
{
    z-index:997;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
    height:100%;
    width:100%;
}
.common-div-dialogContainer
{
    z-index:998;
    position:fixed;
    width:90%;
    height:85%;
    overflow-y: scroll;
    background-color: white;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/* ========================== */
/* dialog : 다이얼로그 */
/* ========================== */
.common-div-fullDialogContainer
{
    z-index:998;
    position:fixed;
    width:100%;
    height:90%;
    overflow-y: auto;
    background-color: white;
    border-radius: 1em 1em 0em 0em;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    bottom:200%;
}
.common-div-fullDialogContainer[device_kind="pc"]
{
    width:auto;
    width:800px;
    height: 800px;
    border-radius: 0em;
    left: 50%;
    margin-left: -400px;
    margin-bottom: -400px;
}


/* ========================== */
/* progress */
/* ========================== */
.common-div-progressMask
{
    z-index:999;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
    height:100%;
    width:100%;
}
.common-div-progress
{
    z-index:1000;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------ */
/* 다이어로그 천천히 끌어올리기 */
/* ------------ */
.index-dialog-bringUp
{
    animation-name: index-dialog-bringUpAction;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes index-dialog-bringUpAction
{
    0%      { bottom: -100%; }
    100%    { bottom: 0%; }
}
.web-index-dialog-bringUp
{
    animation-name: web-index-dialog-bringUpAction;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes web-index-dialog-bringUpAction
{
    0%      { bottom: -100%; }
    100%    { bottom: 50%; }
}

/* ------------ */
/* 다이어로그 천천히 끌어내리기 */
/* ------------ */
.index-dialog-pullDown
{
    animation-name: index-dialog-pullDownAction;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes index-dialog-pullDownAction
{
    0%      { bottom: 0%; }
    100%    { bottom: -100%; }
}

/* ------------ */
/* 다이어로그 빠르게 끌어올리기 */
/* ------------ */
.index-dialog-bringUpFast
{
    animation-name: index-dialog-bringUpFastAction;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes index-dialog-bringUpFastAction
{
    0%      { bottom: -100%; }
    100%    { bottom: 0%; }
}

/* ------------ */
/* 다이어로그 빠르게 끌어내리기 */
/* ------------ */
.index-dialog-pullDownFast
{
    animation-name: index-dialog-pullDownFastAction;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes index-dialog-pullDownAction
{
    0%      { bottom: 0%; }
    100%    { bottom: -100%; }
}

/* ------------ */
/* [페이크] 다이어로그 -> 다이어로그 "앞으로" 이동시 페이크로 끌어올리기 */
/* ------------ */
.index-dialog-fakeBringUp
{
    animation-name: index-dialog-fakeBringUpAction;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes index-dialog-fakeBringUpAction
{
    0%      { bottom: -100%; }
    100%    { bottom: 0%; display:none; }
}

/* ============================ */
/* 스마트폰 (최대 600px 일 경우) */
/* ============================ */
@media (max-width: 768px)
{


}

/* ============================ */
/* 스마트폰 이상 (최소 600px 초과일경우) */
/* ============================ */
@media (min-width: 768px)
{

}