/* ============================== */
/* 라벨 */
/* ============================== */
.common-tbl-label { display:block; }
.common-tbl-label[label-size="3rd"] > tbody > tr > td { padding:0.2em; vertical-align:middle; }
.common-tbl-label[label-size="3rd"] > tbody > tr:nth-child(1) > td:nth-child(1) { width:2em; }
.common-tbl-label[label-size="3rd"] > tbody > tr:nth-child(1) > td:nth-child(1) > .common-img-label { width: 2.0em; height: 2.0em; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

/* ============================== */
/* 최상위 TBL */
/* ============================== */
.entity-common-tbl
{
    width:100%;
    border-collapse: collapse;
    box-sizing: border-box;
}
.entity-common-tbl > tbody > tr > td { padding:0.1em; }

/* ============================== */
/* 선택용 테이블 */
/* ============================== */
.entity-tbl-forChoose
{
    width:100%;
    border-collapse: collapse;
}
.entity-tbl-forChoose > tbody > tr > td[col="index"]  { width:5%; }
.entity-tbl-forChoose > tbody > tr > td[col="button"] { width:5%; }
.entity-tbl-forChoose > tbody > tr > td[col="main"]   { width:90%; }