/* ==================== */
/* 카테고리 선택 테이블 */
/*
    - 메인 페이지에서 카테고리 선택 시
*/
/* ==================== */
.MBank-makeBankForChoose-tbl-forChoose
{
    border-collapse: collapse;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.MBank-makeBankForChoose-tbl-forChoose > tbody > tr > td
{
    padding:0.4em 0.8em;
    text-align: center;
    border:1px solid rgb(220,220,220);
}
.MBank-makeBankForChoose-tbl-forChoose > tbody > tr > td[tab=tab]
{
    background-color: rgb(220,220,220);
}