.MSchedulebyweek-makeTimeTable-tbl-top
{
    width:100%;
    white-space: nowrap;
}
.MSchedulebyweek-makeTimeTable-tbl-top > tbody > tr > th { font-weight:normal; font-size:0.9em; padding:0.3em; color:#666; width:2em; }
.MSchedulebyweek-makeTimeTable-tbl-top > thead > tr > th { font-weight:normal; font-size:0.9em; padding:0.3em; color:#222; }