.MClssettlehist-makeTable-mainTable > tbody > tr > td {
        text-align: center;
        line-height: 1.5;
        padding: 0.4em 0.6em;
}
.MClssettlehist-makeTable-mainTable > tbody > tr > td[col="histno"]          { white-space:nowrap; word-break: keep-all; text-align: center; font-weight: normal; }
.MClssettlehist-makeTable-mainTable > tbody > tr > td[col="histtype"]        { white-space:nowrap; word-break: keep-all; text-align: center; font-weight: normal; }
.MClssettlehist-makeTable-mainTable > tbody > tr > td[col="username"]        { white-space:nowrap; word-break: keep-all; text-align: center; font-weight: normal; }
.MClssettlehist-makeTable-mainTable > tbody > tr > td[col="billstandard"]    { white-space:nowrap; word-break: keep-all; text-align: right;  font-weight: normal; }
.MClssettlehist-makeTable-mainTable > tbody > tr > td[col="billadjustment"]  { white-space:nowrap; word-break: keep-all; text-align: right;  font-weight: normal; }
.MClssettlehist-makeTable-mainTable > tbody > tr > td[col="billpointed"]     { white-space:nowrap; word-break: keep-all; text-align: right;  font-weight: normal; }
.MClssettlehist-makeTable-mainTable > tbody > tr > td[col="billfinal"]       { white-space:nowrap; word-break: keep-all; text-align: right;  font-weight: bold; }
.MClssettlehist-makeTable-mainTable > tbody > tr > td[col="billmemo"]        { white-space:normal; word-break: keep-all; text-align: left;   font-weight: normal; }
.MClssettlehist-makeTable-mainTable > tbody > tr > td[col="regdt"]           { white-space:nowrap; word-break: keep-all; text-align: center; font-weight: normal; }