.common-div-backBtn::before
{
    background-image: url('../../res/icon/back.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width : 100%;
    height: 100%;
    vertical-align: middle;
    margin-right: 0.3em;
    margin-bottom: 0.2em;
    content: "";
}
.common-div-backBtn
{
    position:fixed;
    display:block;
    top:0.5em;
    left:0.5em;
    border-radius: 100%;
    background-color: white;
    width:2.6em;
    height:2.6em;
    box-shadow: 0.1em 0.1em 0.1em grey;
}
.common-div-backBtn:active
{
    background-color: rgb(0,0,0,0.3);
}