/* 스위치

<label class="common-label-switch">
    <input type="checkbox">
    <span></span>
</label>

*/

/* The switch - the box around the slider */
.common-label-switch
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML */
.common-label-switch > input
{
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.common-label-switch > span
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.common-label-switch > span:before
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.common-label-switch > input:checked + span { background-color: rgba(2, 6, 84, 0.8); }
.common-label-switch > input:focus   + span { box-shadow: 0 0 1px rgba(2, 6, 84, 0.8); }
.common-label-switch > input:checked + span:before
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);

}