/* =============== */
/* 검색용 인풋박스 */
/* =============== */
.common-search-div-top > input[type="text"]
{
    width:13em;
    font-size:1em;
    line-height:1.5;
    vertical-align: middle;
}
.common-search-div-top > button
{
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    line-height: 1.5;
    vertical-align: middle;
}