@use "../../_import/scss/__import" as *;

.common-select-outer
{
    max-width: 15em;
    padding: $padTiny $padHuge $padTiny $padTiny;
    outline: none;
    text-align-last: left;
    vertical-align: middle;
    @include fontDefault;
    border-radius: 0.5em;
    @include fonth16;
    text-align: left;
    height: 2.2em;
    /* color: $colorSnow; */
}