@use "../../_import/scss/__import" as *;

/* ========================= */
/* 각 인풋박스 */
/* ========================= */
.common-div-formField > .common-input-field { width: 100%; max-width: 500px; box-sizing: border-box; outline: none; background-color: transparent; }
.common-input-field
{
    padding: $padHalf;
    border: none;
    border-bottom: 0.07em solid $colorSept;
    background-color: transparent;
    @include fonts11;
    text-align: left;
}
.common-input-field:focus { border: none; border-bottom: 3px solid $colorMain; }

.common-div-formField > .common-textarea-field { width: 100%; max-width: 500px; box-sizing: border-box; outline: none; background-color: $colorSnow; }
.common-textarea-field
{
    padding: $padHalf;
    border: 0.07em solid $colorSept;
    background-color: $colorSnow;
    @include fonts11;
}
.common-textarea-field:focus { border: 0.07em solid $colorMain; border-bottom: 3px solid $colorMain; }

/* ========================= */
/* 각 인풋박스 (기존) */
/* ========================= */
.common-input-text
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    /* box-sizing: content-box; */
    padding: $padHalf;
    padding-bottom: calc(#{$padHalf} + 0.1em);
    @include fonts11;
    border: 0.07em solid $colorSept;
}

.common-input-text:focus
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    border: 0.07em solid $colorMain;
}

.common-text
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    box-sizing: initial;
    padding: $padHalf;
    @include fonts11;
    border: none;
}

.common-textarea
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    /* box-sizing: content-box; */
    padding: $padHalf;
    @include fonts11;
    border: 0.07em solid $colorSept;
}

.common-textarea:focus
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    border: 0.07em solid $colorMain;
}

