@use "../../_import/scss/__import" as *;

div { display: block; }

/*=================================*/
/* flex */
/*=================================*/
.common-div-flex
{
    display: flex;
    align-items: center;
    gap: 0.8em;
}

/*=================================*/
/* dot */
/*=================================*/
.common-div-dot
{
    width: 0.6em;
    height: 0.6em;
    @include colorNtceBackSolid;
    border-radius: 50%;
    flex-shrink: 0;
}


/*=================================*/
/* header */
/*=================================*/
.common-div-headerTop
{
    display: block;
    padding: $padBase $padMore;
    @include colorSnowBackSolid;
    border-bottom: 0.5px solid $colorLine;
}

.common-div-sectionHeader
{
    font-weight: normal;
    @include colorBodyFont;
    margin-bottom: $marBase;
}

/*=================================*/
/* header - toolbar */
/*=================================*/
.common-div-toolbar
{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10000;
    height:3em;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: $colorSnow;
    border-bottom: 0.5px solid $colorLine;
}
.common-div-toolbar > div:nth-child(2) { padding-left: 0.5em; }
.common-div-toolbar > div:nth-child(2) > span { @include fonts12; font-weight:bold; }
.common-div-toolbar > div:nth-child(3) { margin-left: auto; }


/*=================================*/
/* div for button list */
/*=================================*/
.common-div-btnList > button { margin-bottom: $marLite; }

/*=================================*/
/* div for yearToMin */
/*=================================*/
.common-div-yearToMin > input
{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.common-div-yearToMin > input:nth-child(1) { width: 8em; }
.common-div-yearToMin > input:nth-child(2) { width: 3em; }
.common-div-yearToMin > input:nth-child(3) { width: 3em; }

/* ============================== */
/* 입력 폼 전용 */
/* ============================== */

/* 폼에 연동된 프로그래스 */
.common-div-progressContainer
{
    width: 100%;
    height: 6px;
    @include colorInfoBackTrans;
    overflow: hidden;
    box-shadow: inset 0 2px 5px $colorBodyBack;
    margin-bottom: $marMore;
}

.common-div-progressBar
{
    width: 0%;
    height: 100%;
    background-color: $colorMain;
    border-radius: 1em 0 0 1em;
    transition: width 0.4s ease; /* 부드러운 애니메이션 */
}

/* 폼 자체 */
.common-div-slideformParent
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0em;
    padding: 0em;
    overflow-x: hidden;
}
.common-div-slideformChild
{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4em);
    height: auto;
    @include paddingForm;
}
.common-div-slideformChild[slideform-status=exit] { transform: translateX(-100%); transition: transform 0.3s ease; /* display: none; */ }
.common-div-slideformChild[slideform-status=open] { transform: translateX(0);     transition: transform 0.3s ease; }
.common-div-slideformChild[slideform-status=wait] { transform: translateX(100%);  transition: transform 0.3s ease; /* display: none; */ }

/* 일반 폼 */
.common-div-formChild
{
    display: block;
    width: calc(100% - 4em);
    height: auto;
    @include paddingForm;
}
.common-div-formChild > .common-div-formField:nth-child(1) { margin-top: $marFull; }

/* 폼 내 */
.common-div-formTitle
{
    text-align: left;
    margin-top: $marFull;
    margin-bottom: $marHuge;
    padding: 0em;
}
.common-div-formTitle > span:nth-child(1) { display: block; @include fonts14; font-weight: bold; color: $colorMain; }
.common-div-formTitle > span:nth-child(2) { display: block; }
.common-div-formField
{
    text-align: left;
    margin: $marHuge 0em;
    padding: 0em;
    box-sizing: content-box;
}
.common-div-formField > span:nth-child(1) { display: block; @include fonts11; margin-top: $marHalf; margin-bottom: $marHalf; font-weight: bold;   @include fonth16; }
.common-div-formField > span:nth-child(2) { display: block; @include fonts09; margin-top: 0em;      margin-bottom: $marHalf; font-weight: normal; @include fonth16; }

/* ============================== */
/* 입력 폼 전용 */
/* ============================== */
.common-div-form
{
    text-align: center;
    margin: $marFull;
    padding: 0em;
    box-sizing: content-box;
}
.common-div-form > span:nth-child(1) { @include fonts12; font-weight: bold; }
.common-div-form > span:nth-child(2) { @include fonts10; font-weight: normal; }

/* ============================== */
/* 인덴트 */
/* ============================== */
.common-div-indent
{
    display: block;
    margin: $marHalf;
    padding: 0em;
}
.common-div-indent > span { display: block; }
.common-div-indent > span::before { content:"・"; vertical-align: middle;}

/* ============================== */
/* 목록형 버튼을 위한 DIV */
/* ============================== */
.common-div-manages
{
    text-align: center;
}
.common-div-manages > button
{
    display: block;
    width: 15em;
    max-width: 80%;
    margin-top: $marBase;
    margin-left: auto;
    margin-right: auto;
    padding: $padBase;
}

/* ============================== */
/* gg-html.js 의 svg 부모 */
/* ============================== */
.common-div-svgTop
{
    display: inline-block;
    margin: $marHalf;
    vertical-align: middle;
}

/* ============================== */
/* 그림자진 DIV */
/* ============================== */
.common-div-card
{
    position: relative;
    border-radius: $borderRadiusDivCard;
    padding: $padBase;
    box-sizing: content-box;
    text-align: left;
    /* color: $colorSnow; */
    background: $colorSnowBack;
    border: 0.04em solid $colorLine;
}
.common-div-card[card-type=warning] { @include colorWarnFont; background: $colorWarnBack; }
.common-div-card[card-type=notice]  { @include colorNtceFont; background: $colorNtceBack; }
.common-div-card[card-type=hero]    { color: $colorMain; background: $colorMainBack; }
.common-div-card:first-child  { margin-top: 0em; }
.common-div-card ~ .common-div-card { margin-top: $marBase; }

/* ============================== */
/* 에러 메시지용 */
/* ============================== */
.common-div-msg
{
    margin: $marMore;
    padding: $padBase;
    box-sizing: content-box;
    text-align: left;
    @include fonth16;
}
.common-div-msg[common-div-msg-type=error]   { @include colorErrrFont; background: $colorErrrBack; }
.common-div-msg[common-div-msg-type=warning] { @include colorWarnFont; background: $colorWarnBack; }
.common-div-msg[common-div-msg-type=allow]   { @include colorAllwFont; background: $colorAllwBack; }

/* ============================== */
/* 패드를 사용하지 않는 DIV */
/* ============================== */
.common-div-mobile
{
    display: block;
    max-width: 600px;
    padding: 0em;
    margin: 0em auto;
    box-sizing: content-box;
}

/* -------------------- */
/* 툴바 */
/* -------------------- */
.common-div-headerPadding { width: 100%; height: 3em; }
.common-div-header
{
    z-index: 10000;
    position: absolute;
    left: 0;
    right: 0;
    color: $colorSnow;
    width: 100%;
    height: 3em;
}
.common-div-header > div[header=back]  { display: inline-block; width: auto; line-height: 3em; }
.common-div-header > div[header=title] { display: inline-block; width: auto; line-height: 3em; padding-left: $padBase; @include fonts12; font-weight: bold; }

/* ============================== */
/* 페이지네이션 */
/* ============================== */
.common-div-pagenationTop
{
    margin: $marBase auto;
    text-align: center;
    box-sizing: content-box;
}
.common-div-pagenationBtnTop
{
    display: inline-block;
    border-radius: 2.4em;
    background-color: $colorLine;
}
.common-btn-pagenationBtn
{
    display: inline-block;
    width: 2.4em;
    height: 2.4em;
    background-color: $colorLine;
    border-radius: 100%;
    border: none;
    line-height: 2.4em;
    text-align: center;
    vertical-align: middle;
}
.common-btn-pagenationBtn[tab=tab]
{
    background-color: $colorMain;
    color: $colorSnow;
    /* font-weight: bold; */
}

/* ============================== */
/* block 상태가 되며, 다른 div에 간섭하지 않도록 쿠션이 생긴다.  */
/* ============================== */
.common-div-empty
{
    height: 1em;
    box-sizing: border-box;
}
.common-div-mass
{
    margin: $marHalf;
    padding: $padHalf;
    box-sizing: content-box;
    text-align: center;
}
.common-div-mass > table { margin-left: auto; margin-right: auto; }

.common-div-scrollX
{
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
    padding-bottom: $padHalf;
}
.common-div-cushion     { display: block; margin: $marBase;         padding: 0em; box-sizing: border-box; text-align: left;    }
.common-div-cushionUD   { display: block; margin: $marBase 0em;     padding: 0em; box-sizing: border-box; }
.common-div-cushionLR   { display: block; margin: 0em $marBase;     padding: 0em; box-sizing: border-box; }
.common-div-cushionDw   { display: block; margin-bottom: $marBase;  padding: 0em; box-sizing: border-box; }

/* 쿠션 아래의 첫번째 쿠션은 위에 공백을 두지 않는다. */
.common-div-cushion   > .common-div-cushionUD:nth-child(1) { margin-bottom: $marBase; }

/* 쿠션 아래의 첫번째, formField 는 marginTop: 0.4em; */
.common-div-cushion > .common-div-formField:nth-child(1) { margin-top: $marBase; }

/* 페이지 아래에 무조건 공백을 삽입 */
.common-div-cushionFooter
{
    height: 4em;
    width: 100%;
}

/* ============================== */
/* 설명문구 삽입 시 */
/* ============================== */
.common-div-announce
{
    margin: $marBase;
    padding: $padHalf;
    text-align: left;
    @include fonth16;
    @include colorInfoBackTrans;
}

/* ============================== */
/* 캘린더 달력용 DIV */
/* ============================== */
.common-div-calendarSquareYear
{
    @include fonts12;
    font-weight: bold;
    color: $colorMain;
}

.common-div-calendarSquare
{
    background: linear-gradient(135deg, #020654 0%, #0a2472 100%);
    color: $colorSnow;
    width: 3.6em;
    height: 3.6em;
    padding: $padHalf;
    border-radius: 1em;
}
.common-div-calendarSquare > div:nth-child(1) { @include fonts09; @include fonth14; text-align: center; font-weight: normal; }
.common-div-calendarSquare > div:nth-child(2) { @include fonts14; @include fonth14; text-align: center; font-weight: bold; }

/* ByPoint */   .common-div-calendarSquare[point-of-date=passed]    { @include colorInfoBackTrans; @include colorBodyFont; }
/* ByPoint */   .common-div-calendarSquare[point-of-date=within]    { @include colorMainBackTrans; color: $colorSnow; }
/* ByPoint */   .common-div-calendarSquare[point-of-date=upcoming]  { @include colorSnowBackTrans; @include colorBodyFont; }
/* ByType */    .common-div-calendarSquare[common-type=alone] { width: 2.6em; height: 2.6em; padding: $padHalf; }
/* ByType */    .common-div-calendarSquare[common-type=alone] > div:nth-child(1) { line-height: 2.6em; @include fonts10; text-align: center; font-weight: bold; }
/* ByType */    .common-div-calendarSquare[common-type=alone] > div:nth-child(1) > span { @include fonts12; }

.common-div-calendarSquareWeekTop > button
{
    color: $colorSnow;
    border: 2px solid $colorInfo;
    @include colorBodyFont;
    padding: $padHalf $padMore;
    border-radius: $borderRadiusDefault;
    font-weight: normal;
    cursor: pointer;
    /* transition: all 0.3s ease; */
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-left: $marHalf;
}
.common-div-calendarSquareWeekTop > button:nth-child(1) { margin-left: 0em; }
/* ByPoint */   .common-div-calendarSquareWeekTop > button[point-of-date=passed]   { @include colorInfoBackTrans; @include colorBodyFont; border: 2px solid $colorSide; }
/* ByPoint */   .common-div-calendarSquareWeekTop > button[point-of-date=within]   {                              color: $colorMain; border: 2px solid $colorMain; }
/* ByPoint */   .common-div-calendarSquareWeekTop > button[point-of-date=upcoming] {                              @include colorBodyFont; border: 2px solid $colorInfo; }