@import "../../_import/scss/__import";

.common-indent04    { @include displayBk; @include paddingLt04; }
.common-indent08    { @include displayBk; @include paddingLt08; }
.common-indent12    { @include displayBk; @include paddingLt12; }
.common-marginUp10  { @include displayBk; @include marginUp10; }
.common-marginUp08  { @include displayBk; @include marginUp08; }
.common-marginUp    { @include displayBk; @include marginUp04; }
.common-marginUD    { @include displayBk; @include marginUD04; }
.common-marginLt03  { @include displayBk; @include marginLt03; }
.common-paddingUp05 {                     @include paddingUp05; }
.common-paddingUD   {                     @include paddingUD02; }
.common-cushion     { @include displayBk; @include margin06; }
.common-cushionUp   { @include displayBk; @include marginUp06; }
.common-cushionUD   { @include displayBk; @include marginUD06; }
.common-cushionDw   { @include displayBk; @include marginDw04; }
.common-marginDw03  { @include displayBk; @include marginDw03; }

/* 모든 태그에 적용이 가능한 클래스 모음 */
.common-strong     { @include fontwb; @include fonts11; }
.common-textCenter { text-align: center; }
.common-blockCenter
{
    @include displayBk;
    @include marginAuto;
    text-align: center;
}

.common-alignC { text-align: center; }
.common-alignR { text-align: right; }
.common-alignL { text-align: left; }

.common-fontLight { color:#666; @include fontwn; }

/* ============================== */
/* 색칠 */
/* ============================== */
.common-bgcolorGray    { background-color: rgba(2, 6, 84, 0.2); }
.common-bgcolorSign04  { background-color: rgba(2, 6, 84, 0.4); }

/* ============================== */
/* 쿠션 */
/* ============================== */
.common-block
{
    @include displayBk;
    @include lineh16;
}
.common-inlineBlock
{
    @include displayIn;
    @include lineh16;
}

/* ============================== */
/* fixed 고정 TAG */
/* ============================== */
.common-fixedTopRight
{
    @include displayIn;
    position: fixed;
    top: 0.5em;
    right: 0.5em;
}

.common-announce
{
    @include displayBk;
    @include padding04;
    text-align: left;
    @include lineh14;
    background-color: #ddd;
}

/* ============================== */
/* 글자크기 */
/* ============================== */
.common-fontsize08 { @include fonts08; }
.common-fontsize09 { @include fonts09; }
.common-fontsize11 { @include fonts11; }
.common-fontsize12 { @include fonts12; }

.common-bold      { @include fontwb; }
.common-colorWarn { color: rgba(255, 116, 21, 1.0); }
.common-colorPstv { color: rgba(0, 128, 0, 1.0); }
.common-colorNgtv { color: rgba(255, 0, 0, 1.0); }
.common-colorGrey { color: rgba(128, 128, 128, 1.0); }
.common-colorGray { color: rgba(128, 128, 128, 1.0); }


.common-font[font-color=hold]      { color: rgb(212 , 173 , 0   ); border: none; background-color: none; }
.common-font[font-color=prog]      { color: rgb(  3 , 154 , 0   ); border: none; background-color: none; }
.common-font[font-color=pstv]      { color: rgb(  0 ,   2 , 120 ); border: none; background-color: none; }
.common-font[font-color=ngtv]      { color: rgb(120 ,   0 , 0   ); border: none; background-color: none; }

.common-card
{
    @include displayIn;
    @include fontwn;
    @include paddingUD03;
    @include paddingLR06;
}
.common-card[card-color=hold]      { color: rgb(212 , 173 , 0   ); border: 2px solid rgb(212 , 173 , 0   ); background-color: rgb(212 , 173 , 0   , 0.3); }
.common-card[card-color=prog]      { color: rgb(  3 , 154 , 0   ); border: 2px solid rgb(  3 , 154 , 0   ); background-color: rgb(  3 , 154 , 0   , 0.3); }
.common-card[card-color=pstv]      { color: rgb(  0 ,   2 , 120 ); border: 2px solid rgb(  0 ,   2 , 120 ); background-color: rgb(  0 ,   2 , 120 , 0.3); }
.common-card[card-color=ngtv]      { color: rgb(120 ,   0 , 0   ); border: 2px solid rgb(120 ,   0 , 0   ); background-color: rgb(120 ,   0 , 0   , 0.3); }


.common-positionAbsUR { position: absolute; top: 0.5em; right: 0.5em; }

.common-me[me=y]  { background-color: rgba(2, 6, 84, 0.1); }
.common-span-me[me=y] { @include fontwb; color: $colorMain; }

.tag-color-sign           { color: rgb(27, 42, 107); }
.tag-color-cornflowerBlue { color:#8898CC; }
.tag-color-gray           { color:#7A8099; }

.common-color-main { color: $colorMain; }
.common-color-body { color: $colorBody; }