@use "../../_import/scss/__import" as *;

div { display: block; }

/*=================================*/
/* flex */
/*=================================*/
.common-div-flex
{
    display: flex;
    align-items: center;
    gap: 0.8em;
}

/*=================================*/
/* dot */
/*=================================*/
.common-div-dot
{
    width: 0.6em;
    height: 0.6em;
    @include colorNtceBackSolid;
    @include radiusHalf;
    flex-shrink: 0;
}


/*=================================*/
/* header */
/*=================================*/
.common-div-headerTop
{
    display: block;
    @include padUD06;
    @include padLR08;
    @include colorSnowBackSolid;
    border-bottom: 0.5px solid $colorLine;
}

.common-div-sectionHeader
{
    font-weight: normal;
    @include colorBodyFont;
    margin-bottom: 0.6em;
}

/*=================================*/
/* header - toolbar */
/*=================================*/
.page__content:has(.common-div-toolbar)
{
    padding-top: 3em;
}
.common-div-toolbar
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10000;
    height:3em;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: $colorSnow;
    border-bottom: 0.5px solid $colorLine;
}
.common-div-toolbar > div:nth-child(2) { padding-left: 0.5em; }
.common-div-toolbar > div:nth-child(2) > span { @include fonts12; font-weight:bold; }
.common-div-toolbar > div:nth-child(3) { margin-left: auto; }


/*=================================*/
/* div for button list */
/*=================================*/
.common-div-btnList > *
{
    @include marDw02;
}

/*=================================*/
/* div for yearToMin */
/*=================================*/
.common-div-yearToMin > input
{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.common-div-yearToMin > input:nth-child(1) { width: 8em; }
.common-div-yearToMin > input:nth-child(2) { width: 3em; }
.common-div-yearToMin > input:nth-child(3) { width: 3em; }

/* ============================== */
/* 입력 폼 전용 */
/* ============================== */

/* 폼에 연동된 프로그래스 */
.common-div-progressContainer
{
    width: 100%;
    height: 6px;
    @include colorInfoBackTrans;
    overflow: hidden;
    box-shadow: inset 0 2px 5px $colorBodyBack;
    @include marDw08;
}

.common-div-progressBar
{
    width: 0%;
    height: 100%;
    @include colorMainBackSolid;
    border-radius: 1em 0 0 1em;
    transition: width 0.4s ease; /* 부드러운 애니메이션 */
}

/* 폼 자체 */
.common-div-slideformParent
{
    position: relative;
    width: 100%;
    height: 100%;
    @include marZZ;
    @include padZZ;
    overflow-x: hidden;
}
.common-div-slideformChild
{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4em);
    height: auto;
    @include padUD10;
    @include padLR20;
}
.common-div-slideformChild[slideform-status=exit] { transform: translateX(-100%); transition: transform 0.3s ease; /* display: none; */ }
.common-div-slideformChild[slideform-status=open] { transform: translateX(0);     transition: transform 0.3s ease; }
.common-div-slideformChild[slideform-status=wait] { transform: translateX(100%);  transition: transform 0.3s ease; /* display: none; */ }

/* 일반 폼 */
.common-div-formChild
{
    display: block;
    width: calc(100% - 4em);
    height: auto;
    @include padUD10;
    @include padLR20;
}
.common-div-formChild > .common-div-formField:nth-child(1) { @include marUp10; }

/* 폼 내 */
.common-div-formTitle
{
    text-align: left;
    @include marUp10;
    @include marDw20;
    @include padZZ;
}
.common-div-formTitle > span:nth-child(1) { display: block; @include fonts14; font-weight: bold; @include colorMainFont; }
.common-div-formTitle > span:nth-child(2) { display: block; }
.common-div-formField
{
    text-align: left;
    @include marUD20;
    @include padZZ;
    box-sizing: content-box;
}
.common-div-formField > span:nth-child(1) { display: block; @include fonts11; @include marUp04; @include marDwZZ; font-weight: bold; @include fonth16; }
.common-div-formField > span:nth-child(2) { display: block; @include fonts09; @include marUpZZ; @include marDw04; font-weight: normal; @include fonth16; }

/* ============================== */
/* 입력 폼 전용 */
/* ============================== */
.common-div-form
{
    text-align: center;
    @include mar10;
    @include padZZ;
    box-sizing: content-box;
}
.common-div-form > span:nth-child(1) { @include fonts12; font-weight: bold; }
.common-div-form > span:nth-child(2) { @include fonts10; font-weight: normal; }

/* ============================== */
/* 인덴트 */
/* ============================== */
.common-div-indent
{
    display: block;
    @include mar04;
    @include padZZ;
}
.common-div-indent > span { display: block; }
.common-div-indent > span::before { content:"・"; vertical-align: middle;}

/* ============================== */
/* 목록형 버튼을 위한 DIV */
/* ============================== */
.common-div-manages
{
    text-align: center;
}
.common-div-manages > button
{
    display: block;
    width: 15em;
    max-width: 80%;
    @include marUp06;
    @include marAuto;
    @include pad06;
}

/* ============================== */
/* gg-html.js 의 svg 부모 */
/* ============================== */
.common-div-svgTop
{
    display: inline-block;
    @include mar03;
    vertical-align: middle;
}

/* ============================== */
/* 그림자진 DIV */
/* ============================== */
.common-div-card
{
    position: relative;
    @include radiusCurv08;
    @include pad08;
    overflow-x: scroll;
    box-sizing: content-box;
    text-align: left;
    /* @include colorSnowFont; */
    background: $colorSnowBack;
    border: 0.04em solid $colorLine;
}
.common-div-card[card-type=warning] { @include colorWarnFont; background: $colorWarnBack; }
.common-div-card[card-type=notice]  { @include colorNtceFont; background: $colorNtceBack; }
.common-div-card[card-type=hero]    { @include colorMainFont; background: $colorMainBack; }
.common-div-card:first-child  { @include marUpZZ; }
.common-div-card ~ .common-div-card { @include marUp06; }

/* ============================== */
/* 에러 메시지용 */
/* ============================== */
.common-div-msg
{
    @include mar08;
    @include pad05;
    overflow-x: scroll;
    box-sizing: content-box;
    text-align: left;
    @include fonth16;
}
.common-div-msg[common-div-msg-type=error]   { @include colorErrrFont; background: $colorErrrBack; }
.common-div-msg[common-div-msg-type=warning] { @include colorWarnFont; background: $colorWarnBack; }
.common-div-msg[common-div-msg-type=allow]   { @include colorAllwFont; background: $colorAllwBack; }

/* ============================== */
/* 패드를 사용하지 않는 DIV */
/* ============================== */
.common-div-mobile
{
    max-width: 600px;
    @include padZZ;
    @include marAuto;
    box-sizing: content-box;
}

/* -------------------- */
/* 툴바 */
/* -------------------- */
.common-div-headerPadding { width: 100%; height: 52px; }
.common-div-header
{
    z-index: 10000;
    position: absolute;
    left: 0;
    right: 0;
    @include colorSnowFont;
    width: 100%;
    height: 52px;
}
.common-div-header > div[header=back]  { display: inline-block; width: auto; line-height: 52px; }
.common-div-header > div[header=title] { display: inline-block; width: auto; line-height: 52px; @include padLt05; @include fonts12; font-weight: bold; }

/* ============================== */
/* 페이지네이션 */
/* ============================== */
.common-div-pagenationTop
{
    @include marUD06;
    text-align: center;
    overflow-x: scroll;
    box-sizing: content-box;
}
.common-div-pagenationBtnTop
{
    display: inline-block;
    border-radius: 38px;
    background-color: $colorLine;
}
.common-btn-pagenationBtn
{
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: $colorLine;
    @include radiusFull;
    border: none;
    line-height: 37px;
    text-align: center;
    vertical-align: middle;;
}
.common-btn-pagenationBtn[tab=tab]
{
    @include colorMainBackSolid;
    @include colorSnowFont;
    /* font-weight: bold; */
}

/* ============================== */
/* block 상태가 되며, 다른 div에 간섭하지 않도록 쿠션이 생긴다.  */
/* ============================== */
/* common-div-cushion + text-align: center */
.common-div-empty
{
    height: 1em;
    box-sizing: border-box;
}
.common-div-mass
{
    @include mar03;
    @include pad03;
    overflow-x: scroll;
    box-sizing: content-box;
    text-align: center;
}
.common-div-mass > table { @include marAuto; }

.common-div-scrollX
{
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
    @include padDw03;
}
.common-div-cushion     { display: block; @include mar06;   @include padZZ; overflow-x: scroll; box-sizing: border-box; text-align: left;    }
.common-div-cushionUp   { display: block; @include marUp06; @include padZZ; overflow-x: scroll; box-sizing: border-box; }
.common-div-cushionUD   { display: block; @include marUD06; @include padZZ; overflow-x: scroll; box-sizing: border-box; }
.common-div-cushionLR   { display: block; @include marLR06; @include padZZ; overflow-x: scroll; box-sizing: border-box; }
.common-div-cushionDw   { display: block; @include marDw06; @include padZZ; overflow-x: scroll; box-sizing: border-box; }

/* 쿠션 아래의 첫번째 쿠션은 위에 공백을 두지 않는다. */
.common-div-cushion   > .common-div-cushionUD:nth-child(1) { @include marDw06; }

/* 쿠션 아래의 첫번째, formField 는 marginTop: 0.4em; */
.common-div-cushion > .common-div-formField:nth-child(1) { @include marUp06; }

/* 페이지 아래에 무조건 공백을 삽입 */
.common-div-cushionFooter
{
    height: 4em;
    width: 100%;
}

/* ============================== */
/* 설명문구 삽입 시 */
/* ============================== */
.common-div-announce
{
    @include mar06;
    @include pad04;
    text-align: left;
    @include fonth16;
    @include colorInfoBackTrans;
}

/* ============================== */
/* 캘린더 달력용 DIV */
/* ============================== */
.common-div-calendarSquareYear
{
    @include fonts12;
    font-weight: bold;
    @include colorMainFont;
}

.common-div-calendarSquare
{
    background: linear-gradient(135deg, #020654 0%, #0a2472 100%);
    @include colorSnowFont;
    width: 3.6em;
    height: 3.6em;
    @include pad04;
    border-radius: 1em;
}
.common-div-calendarSquare > div:nth-child(1) { @include fonts09; @include fonth14; text-align: center; font-weight: normal; }
.common-div-calendarSquare > div:nth-child(2) { @include fonts14; @include fonth14; text-align: center; font-weight: bold; }

/* ByPoint */   .common-div-calendarSquare[point-of-date=passed]    { @include colorInfoBackTrans; @include colorBodyFont; }
/* ByPoint */   .common-div-calendarSquare[point-of-date=within]    { @include colorMainBackTrans; @include colorSnowFont; }
/* ByPoint */   .common-div-calendarSquare[point-of-date=upcoming]  { @include colorSnowBackTrans; @include colorBodyFont; }
/* ByType */    .common-div-calendarSquare[common-type=alone] { width: 2.6em; height: 2.6em; @include pad03; }
/* ByType */    .common-div-calendarSquare[common-type=alone] > div:nth-child(1) { line-height: 2.6em; @include fonts10; text-align: center; font-weight: bold; }
/* ByType */    .common-div-calendarSquare[common-type=alone] > div:nth-child(1) > span { @include fonts12; }

.common-div-calendarSquareWeekTop > button
{
    @include colorSnowFont;
    border: 2px solid $colorInfo;
    @include colorBodyFont;
    @include padUD04;
    @include padLR08;
    @include radiusCurv04;
    font-weight: normal;
    cursor: pointer;
    /* transition: all 0.3s ease; */
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    @include marLt03;
}
.common-div-calendarSquareWeekTop > button:nth-child(1) {  @include marLtZZ; }
/* ByPoint */   .common-div-calendarSquareWeekTop > button[point-of-date=passed]   { @include colorInfoBackTrans; @include colorBodyFont; border: 2px solid $colorSide; }
/* ByPoint */   .common-div-calendarSquareWeekTop > button[point-of-date=within]   {                              @include colorMainFont; border: 2px solid $colorMain; }
/* ByPoint */   .common-div-calendarSquareWeekTop > button[point-of-date=upcoming] {                              @include colorBodyFont; border: 2px solid $colorInfo; }