@import "../../_import/scss/__import";

.common-div-backBtn::before
{
    background-image: url('../../res/icon/back.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    @include displayIn;
    @include widthFull;
    @include heightFull;
    @include verticalM;
    @include marRt03;
    @include marDw02;
    content: "";
}
.common-div-backBtn
{
    position: fixed;
    @include displayBk;
    top: 0.5em;
    left: 0.5em;
    @include radiusFull;
    @include colorWhit;
    width: 2.6em;
    height: 2.6em;
    box-shadow: $colorBlckShad;
}
.common-div-backBtn:active
{
    @include colorBlckBackTrans;
}