@use "../../_import/scss/__import" as *;

/*
    よく使われるHTMLのCSSを定義する
*/
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    font-weight: 300;
    font-display: swap;
}

*
{
    @include fontDefault;
    font-size: 1em;
    font-weight: 400;
    vertical-align: middle;
}

/* ============================== */
/* 클릭 시, 백그라운드 색으로 액션을 표현 */
/* ============================== */
.common-tap:active
{
    @include colorMainBackTrans;
}

.common-text-insertPage
{
    width: 70%;
    text-align: center;
}
.common-text-insertPage[device_kind=web] { width: 50%; }

/* ============================== */
/* INPUT */
/* ============================== */

.common-text
{
    text-align: center;
}

pre, xmp
{
    display: inline-block;
    @include marZZ;
    @include fonth16;
    word-break: break-all;
    white-space: pre-wrap;
    @include fontDefault;
}
textarea
{
    @include fontDefault;
}

table
{
    white-space: nowrap;
    border-collapse: collapse;
}