@import "../../_import/scss/__import";

.common-span-strong { @include fonts12; @include fontwB; }
.common-span-block  { @include displayBk; @include marUD03; }

.common-span-content
{
    @include colorHeadFont;
}
.common-span-subcontent
{
    @include fonts09;
    @include colorBodyFont;
    @include fonth14;
}

/* ============================== */
/* 유효성검사 안내문 span */
/* ============================== */
.common-span-validationAnnounce
{
    @include displayBk;
    @include marUD03;
    @include marAuto;
    @include fonts09;
}

/* ============================== */
/* 시합기록에 사용되는 각 다이어로그의 서브타이틀 */
/* ============================== */
.common-span-color { @include colorMainFont; }

/* ============================== */
/* 시합기록에 사용되는 각 다이어로그의 서브타이틀 */
/* ============================== */
.common-span-label
{
    @include displayIn;
    @include marUD01;
    @include marLRZZ;
    @include pad05;
    @include transparent;
    border-radius: 0.3em;
    @include fonts09;
    @include fonth14;
    white-space: nowrap;
    /* @include boxsizeB; */
}
.common-span-label[label_type=outline],
.common-span-label
{
    @include colorMainFont;
    @include transparent;
    border: 1px solid $colorMain;
}
.common-span-label[label_type=inline]
{
    @include colorWhitFont;
    @include colorMainBackTrans;
    border: 1px solid $colorMain;
}

/* ============================== */
/* insert 페이지에서 특정 항목을 반드시 입력해야할 때, 사용 */
/* ============================== */
.common-span-must
{
    color: red;
    @include fontwB;
}

/* ============================== */
/* 카드 형태의 span */
/* ============================== */
.common-span-card
{
    @include displayIn;
    @include fontwN;
    @include padUD03;
    @include padLR06;
}
.common-span-mini
{
    @include displayIn;
    @include fontwN;
    @include padUD01;
    @include padLR03;
}

.common-span-mini[span-type=succeed]  , .common-span-card[span-type=succeed]  { color: blue;       border: 2px solid rgb(110,110,255); background: rgb(200,200,255); }
.common-span-mini[span-type=warning]  , .common-span-card[span-type=warning]  { color: darkorange; border: 2px solid rgb(255,163,26);  background: rgb(255,224,179); }
.common-span-mini[span-type=failed]   , .common-span-card[span-type=failed]   { color: red;        border: 2px solid lightcoral;       background: rgb(255,200,200); }
.common-span-mini[span-type=nodata]   , .common-span-card[span-type=nodata]   { color: darkorange; border: 2px solid rgb(255,163,26);  background: rgb(255,224,179); }

/* 주문상태에 따른 표시 */
.common-span-card[orderstatus=apply]           { color: rgb(212 , 173 , 0   ); border: 2px solid rgb(212 , 173 , 0   ); background: rgb(212 , 173 , 0   , 0.3); } /* 견적의뢰작성중 */
.common-span-card[orderstatus=estimate]        { color: rgb(170 , 182 , 0   ); border: 2px solid rgb(170 , 182 , 0   ); background: rgb(170 , 182 , 0   , 0.3); } /* 견적중 */
.common-span-card[orderstatus=deciding]        { color: rgb(118 , 182 , 0   ); border: 2px solid rgb(118 , 182 , 0   ); background: rgb(118 , 182 , 0   , 0.3); } /* 견적마감 */
.common-span-card[orderstatus=decided]         { color: rgb( 64 , 154 , 0   ); border: 2px solid rgb( 64 , 154 , 0   ); background: rgb( 64 , 154 , 0   , 0.3); } /* 업체확정 */
.common-span-card[orderstatus=working]         { color: rgb(  3 , 154 , 0   ); border: 2px solid rgb(  3 , 154 , 0   ); background: rgb(  3 , 154 , 0   , 0.3); } /* 공사중 */
.common-span-card[orderstatus=workend]         { color: rgb( 10 ,  95 , 0   ); border: 2px solid rgb( 10 ,  95 , 0   ); background: rgb( 10 ,  95 , 0   , 0.3); } /* 공사완료 */
.common-span-card[orderstatus=claim]           { color: rgb(144 ,  19 , 0   ); border: 2px solid rgb(144 ,  19 , 0   ); background: rgb(144 ,  19 , 0   , 0.3); } /* 클레임확인대기 */
.common-span-card[orderstatus=adminworking]    { color: rgb(175 ,  76 , 0   ); border: 2px solid rgb(175 ,  76 , 0   ); background: rgb(175 ,  76 , 0   , 0.3); } /* 관리자공사중 */
.common-span-card[orderstatus=reworking]       { color: rgb(175 ,  76 , 0   ); border: 2px solid rgb(175 ,  76 , 0   ); background: rgb(175 ,  76 , 0   , 0.3); } /* 재공사중 */
.common-span-card[orderstatus=reconfirm]       { color: rgb(175 ,  76 , 0   ); border: 2px solid rgb(175 ,  76 , 0   ); background: rgb(175 ,  76 , 0   , 0.3); } /* 고객재확인중 */
.common-span-card[orderstatus=complete]        { color: rgb(  0 ,   2 , 120 ); border: 2px solid rgb(  0 ,   2 , 120 ); background: rgb(  0 ,   2 , 120 , 0.3); } /* 확인완료 */
.common-span-card[orderstatus=cancel]          { color: rgb(120 ,   0 , 0   ); border: 2px solid rgb(120 ,   0 , 0   ); background: rgb(120 ,   0 , 0   , 0.3); } /* 취소 */

/* 견적상태에 따른 표시 */
.common-span-card[eststatus=ing]               { color: rgb(  3 , 154 , 0   ); border: 2px solid rgb(  3 , 154 , 0   ); background: rgb(  3 , 154 , 0   , 0.3); } /* 공사중 */
.common-span-card[eststatus=submit]            { color: rgb(  0 ,   2 , 120 ); border: 2px solid rgb(  0 ,   2 , 120 ); background: rgb(  0 ,   2 , 120 , 0.3); } /* 확인완료 */

/* rgb( 173 , 216 , 230 ) Light Blue */
/* rgb( 135 , 206 , 235 ) Sky Blue */
/* rgb( 0   , 150 , 255 ) Bright Blue */
/* rgb( 65  , 105 , 225 ) Royal Blue */
/* rgb( 4   , 55  , 242 ) Ultramarine */
/* rgb( 34  , 139 , 34  ) Forest Green */
/* rgb( 210 , 43  , 43  ) Cadmium Red */


/* ============================== */
/* noBorder 형태의 span */
/* ============================== */
.common-span-msg
{
    @include displayIn;
    @include fontwN;
}
.common-span-msg[span-type=normal]       { color: black;                    }
.common-span-msg[span-type=success]      { @include colorMainFont;      }
.common-span-msg[span-type=warning]      { color: rgba(255, 116, 21, 1.0);  }
.common-span-msg[span-type=error]        { color: rgba(139, 0, 0, 1.0); ;   }
.common-span-msg[span-type=critical]     { color: rgba(139, 0, 0, 1.0); ;   }
