@use "../../_import/scss/__import" as *;

/* ============================== */
/* main button */
/* ============================== */
@mixin btnOuterNormal   ($color)  { border:1px solid $color;                                background:lighten($color, 90%);   color:$color; }
@mixin btnInnerNormal   ($color)  { border:1px solid scale-color($color, $lightness: -25%); background:$color;                 @if lightness($color) > 55% { color: scale-color($color, $lightness: -75%); } @else { color: scale-color($color, $lightness: 85%); } }
@mixin btnOuterActive   ($color)  { border-color: rgba($color, 0.3); background:rgba($color, 0.3); }
@mixin btnInnerActive   ($color)  { border-color: rgba($color, 0.3); background:rgba($color, 0.3); }

@mixin btnOuterDisabled ($color)  { border:1px solid grayscale($color); background:$colorWhit;        color:$color; }
@mixin btnInnerDisabled ($color)  { border:1px solid grayscale($color); background:grayscale($color); color:$color; }

.common-btn-light,
.common-btn-outer,
.common-btn-inner,
.common-btn-round,
.common-btn-radio,
.common-btn-flat
{
    @include displayIn;
    @include pad04;
    @include fonth14;
    text-decoration: none;
    @include radiusCurv04;
    @include colorWhitBackSolid;
}
.common-btn-round { @include radiusFull; }
.common-btn-flat  { background-color: transparent; color: $colorBody; border: 1px solid $colorMain; }

.common-btn-light:hover,
.common-btn-outer:hover,
.common-btn-inner:hover,
.common-btn-round:hover,
.common-btn-radio:hover,
.common-btn-flat:hover
{
    outline: none;
    cursor: pointer;
}


/* round */ .common-btn-round                               { @include btnOuterNormal($colorMain); } .common-btn-round:active                                { @include btnOuterActive($colorMain); }
/* round */ .common-btn-round[btn-type=choosed]             { @include btnOuterNormal($colorMain); } .common-btn-round[btn-type=choosed]:active              { @include btnOuterActive($colorMain); }
/* round */ .common-btn-round[btn-type=cancel]              { @include btnOuterNormal($colorCncl); } .common-btn-round[btn-type=cancel]:active               { @include btnOuterActive($colorCncl); }
/* round */ .common-btn-round[btn-type=warning]             { @include btnOuterNormal($colorCncl); } .common-btn-round[btn-type=warning]:active              { @include btnOuterActive($colorCncl); }
/* round */ .common-btn-round[btn-type=error]               { @include btnOuterNormal($colorErrr); } .common-btn-round[btn-type=error]:active                { @include btnOuterActive($colorErrr); }
/* round */ .common-btn-round[btn-type=error]               { @include btnOuterNormal($colorErrr); } .common-btn-round[btn-type=error]:active                { @include btnOuterActive($colorErrr); }
/* outer */ .common-btn-outer                               { @include btnOuterNormal($colorMain); } .common-btn-outer:active                                { @include btnOuterActive($colorMain); }
/* outer */ .common-btn-outer[btn-type=choosed]             { @include btnOuterNormal($colorMain); } .common-btn-outer[btn-type=choosed]:active              { @include btnOuterActive($colorMain); }
/* outer */ .common-btn-outer[btn-type=cancel]              { @include btnOuterNormal($colorCncl); } .common-btn-outer[btn-type=cancel]:active               { @include btnOuterActive($colorCncl); }
/* outer */ .common-btn-outer[btn-type=warning]             { @include btnOuterNormal($colorCncl); } .common-btn-outer[btn-type=warning]:active              { @include btnOuterActive($colorCncl); }
/* outer */ .common-btn-outer[btn-type=error]               { @include btnOuterNormal($colorErrr); } .common-btn-outer[btn-type=error]:active                { @include btnOuterActive($colorErrr); }
/* outer */ .common-btn-outer[btn-type=delete]              { @include btnOuterNormal($colorErrr); } .common-btn-outer[btn-type=delete]:active               { @include btnOuterActive($colorErrr); }
/* light */ .common-btn-light                               { @include btnOuterNormal($colorBody); } .common-btn-light:active                                { @include btnOuterActive($colorBody); }
/* inner */ .common-btn-inner                               { @include btnInnerNormal($colorMain); } .common-btn-inner:active                                { @include btnInnerActive($colorMain); }
/* inner */ .common-btn-inner[btn-type=cancel]              { @include btnInnerNormal($colorCncl); } .common-btn-inner[btn-type=cancel]:active               { @include btnInnerActive($colorCncl); }
/* inner */ .common-btn-inner[btn-type=delete]              { @include btnInnerNormal($colorErrr); } .common-btn-inner[btn-type=delete]:active               { @include btnInnerActive($colorErrr); }
/* inner */ .common-btn-inner[btn-type=detail]              { @include btnInnerNormal($colorDtil); } .common-btn-inner[btn-type=detail]:active               { @include btnInnerActive($colorDtil); }
/* radio */ .common-btn-radio[tab=""]                       { @include btnOuterNormal($colorMain); } .common-btn-radio:disabled[tab=""]                      { @include btnOuterDisabled($colorMain); }
/* radio */ .common-btn-radio[tab=tab]                      { @include btnInnerNormal($colorMain); } .common-btn-radio:disabled[tab=tab]                     { @include btnInnerDisabled($colorMain); }
/* radio */ .common-btn-radio[btn-type=cancel][tab=""]      { @include btnOuterNormal($colorCncl); } .common-btn-radio:disabled[btn-type=cancel][tab=""]     { @include btnOuterDisabled($colorCncl); }
/* radio */ .common-btn-radio[btn-type=cancel][tab=tab]     { @include btnInnerNormal($colorCncl); } .common-btn-radio:disabled[btn-type=cancel][tab=tab]    { @include btnInnerDisabled($colorCncl); }

.common-btn-light:disabled  { @include btnOuterDisabled($colorBody); }
.common-btn-outer:disabled  { @include btnOuterDisabled($colorMain); }
.common-btn-inner:disabled  { @include btnInnerDisabled($colorMain); }

/* button size */
.common-btn-outer[btn-size=large]    { @include displayBk; @include marUD03; @include marAuto; @include pad08; min-width: 12em; max-width: 90%; }
.common-btn-inner[btn-size=large]    { @include displayBk; @include marUD03; @include marAuto; @include pad08; min-width: 12em; max-width: 90%; }
.common-btn-outer[btn-size=search]   { @include displayIn; @include pad04; }

/* -------------------- */
/* noline */
/* -------------------- */
.common-btn-noline,
.common-btn-nolineSave
{
    @include displayIn;
    @include pad05;
    @include backgroundTrans;
    border: none;
    @include fonth14;
}
.common-btn-nolineSave:hover,
.common-btn-noline:hover
{
    border: none;
    cursor: pointer;
}

/* noline */ .common-btn-noline                          { @include colorMainFont; } .common-btn-noline:active                   { @include colorMainBackTrans; }
/* noline */ .common-btn-noline[btn-type=cancel]         { @include colorCnclFont; } .common-btn-noline:active[btn-type=cancel]  { @include colorCnclBackTrans; }
/* noline */ .common-btn-noline[btn-type=warning]        { @include colorCnclFont; } .common-btn-noline:active[btn-type=warning] { @include colorCnclBackTrans; }
/* noline */ .common-btn-noline[btn-type=error]          { @include colorErrrFont; } .common-btn-noline:active[btn-type=error]   { @include colorErrrBackTrans; }


/* -------------------- */
/* 페이지 바닥에 깔리는 버튼 */
/* -------------------- */
.common-btn-footer
{
    @include displayIn;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    @include colorMainBackSolid;
    @include colorWhitFont;
    @include fonts11;
    @include fonth16;;
    @include padUD08;
    @include padLR04;
    border: none;
}
.common-btn-footer:hover  { cursor: pointer; }
.common-btn-footer:active { @include colorMainBackTrans; }
