@use "../../_import/scss/__import" as *;

/* =============== */
/* 검색용 인풋박스 */
/* =============== */
.common-search-div-top > input[type=text]
{
    display: inline-block;
    box-sizing: border-box;
    height: 2.2em;
    width: 13em;
    @include fonts10;
    @include fonth16;
    vertical-align: middle;
}
.common-search-div-top > button
{
    display: inline-block;
    box-sizing: border-box;
    height: 2.2em;
    @include fonth16;
    padding: 0em $padFull;
    vertical-align: middle;
}