@use "../../_import/scss/__import" as *;

/* ========================= */
/* 각 인풋박스 */
/* ========================= */
.common-div-formField > .common-input-field { width: 100%; max-width: 500px; box-sizing: border-box; outline: none; @include backgroundTrans; }
.common-input-field
{
    @include padUD03;
    @include fonts11;
    border: none;
    text-align: left;
    border-bottom: 2px solid $colorEdge;
    @include backgroundTrans;
}
.common-input-field:focus { border: none; border-bottom: 3px solid $colorMain; }

.common-div-formField > .common-textarea-field { width: 100%; max-width: 500px; box-sizing: border-box; outline: none; @include backgroundTrans; }
.common-textarea-field
{
  @include pad03;
  @include fonts11;
  border: 2px solid $colorEdge;
  @include backgroundTrans;
}
.common-textarea-field:focus { border: 2px solid $colorMain; border-bottom: 3px solid $colorMain; }

/* ========================= */
/* 각 인풋박스 (기존) */
/* ========================= */
.common-input-text
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    /* box-sizing: content-box; */
    @include pad03;
    @include fonts11;
    border: 2px solid $colorEdge;
}

.common-input-text:focus
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    border: 2px solid $colorMain;
}

.common-text
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    box-sizing: initial;
    @include pad03;
    @include fonts11;
    border: none;
}

.common-textarea
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    /* box-sizing: content-box; */
    @include pad03;
    @include fonts11;
    border: 2px solid $colorEdge;
}

.common-textarea:focus
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    border: 2px solid $colorMain;
}

