@use "../../_import/scss/__import" as *;

/* ========================= */
/* 각 인풋박스 */
/* ========================= */
.common-div-formField > .common-input-field { width: 100%; max-width: 500px; @include boxsizeB; outer: none; @include backgroundTrans; }
.common-input-field
{
    @include padUD03;
    @include fonts11;
    border: none;
    border-bottom: 1px solid $colorLine;
    @include alignL;
    @include backgroundTrans;
}
.common-input-field:focus { border: none; border-bottom: 3px solid $colorMain; }

.common-div-formField > .common-textarea-field { width: 100%; max-width: 500px; @include boxsizeB; outer: none; @include backgroundTrans; }
.common-textarea-field
{
  @include pad03;
  @include fonts11;
  border: 1px solid $colorLine;
  @include backgroundTrans;
}
.common-textarea-field:focus { border: 1px solid $colorMain; border-bottom: 3px solid $colorMain; }

/* ========================= */
/* 각 인풋박스 (기존) */
/* ========================= */
.common-input-text
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    /* @include boxsizeC; */
    @include pad03;
    @include fonts11;
    border: 1px solid $colorLine;
}

.common-input-text:focus
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    border: 1px solid $colorMain;
    box-shadow: 0px 0px 5px $colorMain;
}

.common-text
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    box-sizing: initial;
    @include pad03;
    @include fonts11;
    border: none;
}

.common-textarea
{
  /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */

  /* @include boxsizeC; */
  @include pad03;
  @include fonts11;
  border: 1px solid $colorLine;
}

.common-textarea:focus
{
  /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */

  border: 1px solid $colorMain;
  box-shadow: 0px 0px 5px $colorMain;
}

