@import "../../_import/scss/__import";

.common-indent04 { padding-left: $space04; }
.common-indent08 { padding-left: $space08; }
.common-indent12 { padding-left: $space12; }

.common-marginTop10 { margin-top: 1.0em; }
.common-marginUp    { display: block; margin-top: $space04; }
.common-marginUp06  { display: block; margin-top: $space06; }
.common-marginUp08  { display: block; margin-top: $space08; }
.common-marginUD    { display: block; margin-top: $space04; margin-bottom: $space04; }
.common-padding06   { padding: $space06; }
.common-paddingRight04 { padding-right: $space04; }

.common-paddingUD { padding-top: $space02; padding-bottom: $space02; }
.common-padding04 { padding: $space04; }

.common-cushion   { margin: $space06; }
.common-cushionUp { margin: $space06 $spaceZZ $spaceZZ $spaceZZ; }
.common-cushionUD { margin: $space06 $spaceZZ $space06 $spaceZZ; }

.common-cushionDw { margin-bottom: $space04; }

/* 모든 태그에 적용이 가능한 클래스 모음 */
.common-strong     { font-weight: bold; @include fontsize11; }
.common-textCenter { text-align: center; }
.common-blockCenter
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.common-alignC { text-align: center; }
.common-alignR { text-align: right; }
.common-alignL { text-align: left; }

.common-fontLight { color:#666; font-weight: normal; }

/* ============================== */
/* 색칠 */
/* ============================== */
.common-bgcolorGray    { background-color: rgba(2, 6, 84, 0.2); }
.common-bgcolorSign04  { background-color: rgba(2, 6, 84, 0.4); }

/* ============================== */
/* 쿠션 */
/* ============================== */
.common-block
{
    display: block;
    line-height: 1.6;
}
.common-inlineBlock
{
    display: inline-block;
    line-height: 1.6;
}

/* ============================== */
/* fixed 고정 TAG */
/* ============================== */
.common-fixedTopRight
{
    display: inline-block;
    position: fixed;
    top: 0.5em;
    right: 0.5em;
}

.common-announce
{
    display: block;
    padding: $space04;
    text-align: left;
    line-height: 1.4;
    background-color: #ddd;
}

/* ============================== */
/* 글자크기 */
/* ============================== */
.common-fontsize08 { @include fontsize08; }
.common-fontsize09 { @include fontsize09; }
.common-fontsize11 { @include fontsize11; }
.common-fontsize12 { @include fontsize12; }

.common-bold      { font-weight: bold; }
.common-colorWarn { color: rgba(255, 116, 21, 1.0); }
.common-colorPstv { color: rgba(0, 128, 0, 1.0); }
.common-colorNgtv { color: rgba(255, 0, 0, 1.0); }
.common-colorGrey { color: rgba(128, 128, 128, 1.0); }
.common-colorGray { color: rgba(128, 128, 128, 1.0); }


.common-font[font-color=hold]      { color: rgb(212 , 173 , 0   ); border: none; background-color: none; }
.common-font[font-color=prog]      { color: rgb(  3 , 154 , 0   ); border: none; background-color: none; }
.common-font[font-color=pstv]      { color: rgb(  0 ,   2 , 120 ); border: none; background-color: none; }
.common-font[font-color=ngtv]      { color: rgb(120 ,   0 , 0   ); border: none; background-color: none; }

.common-card
{
    display: inline-block;
    font-weight: 600;
    padding: 0.3em $space06;
}
.common-card[card-color=hold]      { color: rgb(212 , 173 , 0   ); border: 2px solid rgb(212 , 173 , 0   ); background-color: rgb(212 , 173 , 0   , 0.3); }
.common-card[card-color=prog]      { color: rgb(  3 , 154 , 0   ); border: 2px solid rgb(  3 , 154 , 0   ); background-color: rgb(  3 , 154 , 0   , 0.3); }
.common-card[card-color=pstv]      { color: rgb(  0 ,   2 , 120 ); border: 2px solid rgb(  0 ,   2 , 120 ); background-color: rgb(  0 ,   2 , 120 , 0.3); }
.common-card[card-color=ngtv]      { color: rgb(120 ,   0 , 0   ); border: 2px solid rgb(120 ,   0 , 0   ); background-color: rgb(120 ,   0 , 0   , 0.3); }


.common-positionAbsUR { position: absolute; top: 0.5em; right: 0.5em; }

.common-me[me=y]  { background-color: rgba(2, 6, 84, 0.1); }
.common-span-me[me=y] { font-weight: bold; color: $colorMain; }

.tag-color-sign           { color: rgb(27, 42, 107); }
.tag-color-cornflowerBlue { color:#8898CC; }
.tag-color-gray           { color:#7A8099; }

.common-color-main { color: $colorMain; }
.common-color-body { color: $colorBody; }