@import "../../_import/scss/__import";

/* ------------------------------ */
/* p 타이틀 */
/* ------------------------------ */
.common-p-thankyou
{
    @include marginUD05;
    text-align: center;
    @include fonts12;
    color: $colorMain;
    @include fontwb;
}

.common-p-title
{
    @include displayBk;
    @include marginUD04;
    color: $colorMain;
    @include fontwb;
    @include lineh14;
    @include fonts11;
}
.common-div-card       > .common-p-title { @include marginUpZZ; }
.common-div-cushion    > .common-p-title { @include marginUpZZ; }

.common-p-entityTitle
{
    @include displayBk;
    @include marginUD04;
    color: gray;
    @include fontwb;
    @include lineh14;
    font-size: 1em;
}
.common-div-card       > .common-p-entityTitle { @include marginUpZZ; }
.common-div-cushion    > .common-p-entityTitle { @include marginUpZZ; }

/* ------------------------------ */
/* insert 페이지의 타이틀 */
/* ------------------------------ */
.common-p-insertTitle > span { @include displayBk; @include marginUDZZ; @include marginAuto; text-align: center; }
.common-p-insertTitle > span:nth-child(1) { @include fonts11; color: $colorMain; }
.common-p-insertTitle > span:nth-child(2) { @include fonts09; }
.common-p-insertTitle > span:nth-child(3) { @include fonts09; }