@import "../../_import/scss/__import";

/* ============================== */
/* 안내메시지 */
/* ============================== */
/*
    예제코드

    <ul class="common-ul-announce">
        <li data-i18n="(TI)uniform_announce-1"><!-- 팀의 유니폼 색상을 설정하는 곳입니다. --></li>
    </ul>
*/
.common-ul-announce
{
    @include displayBk;
    @include paddingUD10;
    @include paddingLt20;
    @include paddingRt10;
    background-color: rgb(230,230,230);
    @include fonts09;
    text-align: left;
    @include lineh16;
    list-style-type: disc;
    @include marginZZ;
}
.common-ul-announce > li {  @include marginDw03; }
.common-ul-announce > li:nth-last-child(1) { @include marginDwZZ; }
