@use "../../_import/scss/__import" as *;

/*=================================*/
/* table to center */
/*=================================*/
.common-tbl-textCenter,
.common-tbl-textCenter > tbody > tr > td,
.common-tbl-textCenter > tbody > tr > th,
.common-tbl-textCenter > thead > tr > td,
.common-tbl-textCenter > thead > tr > th,
.common-tbl-textCenter > tfoot > tr > td,
.common-tbl-textCenter > tfoot > tr > th
{
    @include alignC;
}

/* ============================== */
/* tab */
/*
    <div class="common-div-cushion">
        <table class="common-tbl-tab commonEvent-tbl-tab">
            <tbody>
                <tr>
                    <td class="UD-td-entity" tab="" entity_type=player data-i18n="(UD)managing player"><!-- 연동선수 --></td>
                    <td class="UD-td-entity" tab="" entity_type=team   data-i18n="(UD)managing team"  ><!-- 관리 팀 --></td>
                    <td class="UD-td-entity" tab="" entity_type=league data-i18n="(UD)managing league"><!-- 관리 리그 --></td>
                    <td tab=space></td>
                </tr>
            </tbody>
        </table>
    </div>
 */
/* ============================== */
.common-tbl-tab > tbody > tr > td
{
    @include padUD05;
    @include padLR06;
    @include radiusCurv30;
    @include colorMainFont;
    @include fonth16;
}
.common-tbl-tab > tbody > tr > td[tab=space]
{
    width: 90%;
    border: none;
    @include padUDZZ;
    @include padLR03;
    @include alignR;
}
.common-tbl-tab > tbody > tr > td[tab=tab]
{
    @include colorWhitFont;
    @include radiusCurv30;
    @include colorMainBackSolid;
}
.common-tbl-tab > tbody > tr > td[tab=""]:active,
.common-tbl-tab > tbody > tr > td[tab=tab]:active
{
    @include colorMainBackSolid;
}

/* ============================== */
/* common-tbl-sort */
/* ============================== */
/* 정렬 상태에 따른 컨텐츠 */
/* .common-tbl-sort > thead > tr > th[sort_status=not]:after  { content: ""; } */
/* .common-tbl-sort > thead > tr > th[sort_status=desc]:after { content: " ▼"; } */
/* .common-tbl-sort > thead > tr > th[sort_status=asc]:after  { content: " ▲"; } */

/* ============================== */
/* common-tbl-normal */
/* ============================== */
.common-tbl-normal
{
    @include fonth16;
}
.common-tbl-normal > thead > tr > th,
.common-tbl-normal > tbody > tr > th,
.common-tbl-normal > tfoot > tr > th,
.common-tbl-normal > tfoot > tr > td
{
    @include pad04;
    @include colorGrndBackSolid;
    @include alignC;
    @include fontwB;
}
.common-tbl-normal > thead > tr > td,
.common-tbl-normal > tfoot > tr > td,
.common-tbl-normal > tbody > tr > td
{
    @include pad04;
}

/*
    class="common-tbl-normal" tbl-type=noborder
*/
.common-tbl-normal[tbl-type=normal]                       { border: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=normal]    > thead > tr > th  { border: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=normal]    > tbody > tr > th  { border: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=normal]    > tbody > tr > td  { border: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=normal]    > tfoot > tr > td  { border: 1px solid $colorLine; }

.common-tbl-normal[tbl-type=noborder]                     { border: none; }
.common-tbl-normal[tbl-type=noborder]  > thead > tr > th  { border: none; }
.common-tbl-normal[tbl-type=noborder]  > tbody > tr > th  { border: none; }
.common-tbl-normal[tbl-type=noborder]  > tbody > tr > td  { border: none; }
.common-tbl-normal[tbl-type=noborder]  > tfoot > tr > td  { border: none; }

.common-tbl-normal[tbl-type=rowborder]                    { border-top: 1px solid $colorLine; border-bottom: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=rowborder] > thead > tr > th  { border-top: 1px solid $colorLine; border-bottom: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=rowborder] > tbody > tr > th  { border-top: 1px solid $colorLine; border-bottom: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=rowborder] > tbody > tr > td  { border-top: 1px solid $colorLine; border-bottom: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=rowborder] > tfoot > tr > td  { border-top: 1px solid $colorLine; border-bottom: 1px solid $colorLine; }

.common-tbl-normal[tbl-type=colborder] > thead > tr > th                      { border-left: 1px solid $colorLine; border-right: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=colborder] > thead > tr > th:nth-child(1)         { border-left: none;                 border-right: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=colborder] > thead > tr > th:nth-last-child(1)    { border-left: 1px solid $colorLine; border-right: none; }
.common-tbl-normal[tbl-type=colborder] > tbody > tr > th                      { border-left: 1px solid $colorLine; border-right: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=colborder] > tbody > tr > td                      { border-left: 1px solid $colorLine; border-right: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=colborder] > tbody > tr > td:nth-child(1)         { border-left: none;                 border-right: 1px solid $colorLine; }
.common-tbl-normal[tbl-type=colborder] > tbody > tr > td:nth-last-child(1)    { border-left: 1px solid $colorLine; border-right: none; }
.common-tbl-normal[tbl-type=colborder] > tfoot > tr > td                      { border-left: 1px solid $colorLine; border-right: 1px solid $colorLine; }

/* ============================== */
/* 슬라이드 입력폼용 테이블 */
/* ============================== */
.common-tbl-slideformFooterBtn
{
    width: calc(100%);
    @include marUD10;
    @include marAuto;
}
.common-tbl-slideformFooterBtn > thead > tr > th,
.common-tbl-slideformFooterBtn > tbody > tr > th
{
    @include padZZ;
    @include colorGrndBackSolid;
    @include alignC;
}
.common-tbl-slideformFooterBtn > thead > tr > td,
.common-tbl-slideformFooterBtn > tfoot > tr > td,
.common-tbl-slideformFooterBtn > tbody > tr > td
{
    @include padZZ;
}
.common-tbl-slideformFooterBtn                     { border: none; }
.common-tbl-slideformFooterBtn  > thead > tr > th  { border: none; }
.common-tbl-slideformFooterBtn  > tbody > tr > th  { border: none; }
.common-tbl-slideformFooterBtn  > tbody > tr > td  { border: none; }

.common-tbl-slideformFooterBtn[tbl-type=button1] > tbody > tr > td              { width: 100%; }
.common-tbl-slideformFooterBtn[tbl-type=button1] > tbody > tr > td > button     { width: 100%; @include pad06; }

.common-tbl-slideformFooterBtn[tbl-type=button2] > tbody > tr > td:nth-child(1) { width: 20%;         @include padRt03; }
.common-tbl-slideformFooterBtn[tbl-type=button2] > tbody > tr > td:nth-child(2) { width: 100%; @include padLt03; }
.common-tbl-slideformFooterBtn[tbl-type=button2] > tbody > tr > td > button     { width: 100%; @include pad06; }

.common-tbl-slideformFooterBtn[tbl-type=liner2]  > tbody > tr > td:nth-child(1) { width: 50%;         @include padRt03; }
.common-tbl-slideformFooterBtn[tbl-type=liner2]  > tbody > tr > td:nth-child(2) { width: 50%;         @include padLt03; }
.common-tbl-slideformFooterBtn[tbl-type=liner2]  > tbody > tr > td > button     { width: 100%; @include pad06; }

/* ============================== */
/* TABLE: 세로형 테이블 */
/* ============================== */
.common-tbl-vertical
{
    @include alignC;
    @include fonth14;
}
.common-tbl-vertical > thead > tr > th,
.common-tbl-vertical > tbody > tr > th,
.common-tbl-vertical > tbody > tr > td
{
    @include pad04;
}
.common-tbl-vertical[tbl-type=normal]    { border: 1px solid $colorLine; }
.common-tbl-vertical[tbl-type=normal]    > tbody > tr > th { @include colorGrndBackSolid; border: 1px solid $colorLine; }
.common-tbl-vertical[tbl-type=normal]    > tbody > tr > th { width: 5%;  @include alignR; @include fontwB; }
.common-tbl-vertical[tbl-type=normal]    > tbody > tr > td { width: 95%; @include alignL;  border: 1px solid $colorLine; }

.common-tbl-vertical[tbl-type=minimal]   { border: 1px solid $colorLine; }
.common-tbl-vertical[tbl-type=minimal]   > tbody > tr > th { @include colorGrndBackSolid; border: 1px solid $colorLine; }
.common-tbl-vertical[tbl-type=minimal]   > tbody > tr > th { width: 5%;  @include alignR; @include fontwN; }
.common-tbl-vertical[tbl-type=minimal]   > tbody > tr > td { width: 95%; @include alignL;  border: 1px solid $colorLine; }

.common-tbl-vertical[tbl-type=noborder]  { border: none; }
.common-tbl-vertical[tbl-type=noborder]  > tbody > tr > th { width: 5%;  @include alignR; border: none; @include fontwB; }
.common-tbl-vertical[tbl-type=noborder]  > tbody > tr > td { width: 95%; @include alignL;  border: none;  }

.common-tbl-vertical[tbl-type=rowborder] { border: none; }
.common-tbl-vertical[tbl-type=rowborder] > thead > tr > th { border: none; }

.common-tbl-vertical[tbl-type=rowborder] > tbody > tr > th { width: 5%;  @include alignR; border: none; @include fontwB; }
.common-tbl-vertical[tbl-type=rowborder] > tbody > tr > td { width: 95%; @include alignL;  border: none; }
.common-tbl-vertical[tbl-type=rowborder] > tbody > tr > th { border-top: 1px solid $colorLine; }
.common-tbl-vertical[tbl-type=rowborder] > tbody > tr > td { border-top: 1px solid $colorLine; }
.common-tbl-vertical[tbl-type=rowborder] > tbody > tr:nth-child(1) > th { @include borderTopNone; }
.common-tbl-vertical[tbl-type=rowborder] > tbody > tr:nth-child(1) > td { @include borderTopNone; }

.common-tbl-vertical[tbl-width=auto] > thead > tr > td { width: auto; }
.common-tbl-vertical[tbl-width=auto] > thead > tr > th { width: auto; }
.common-tbl-vertical[tbl-width=auto] > tbody > tr > td { width: auto; }
.common-tbl-vertical[tbl-width=auto] > tbody > tr > th { width: auto; }

/* ============================== */
/* TABLE: 유형입력용 */
/* ============================== */
.common-tbl-type > tbody > tr > th           { @include alignL; }
.common-tbl-type > tbody > tr > th > button  { min-width: 6.5em; }
.common-tbl-type > tbody > tr > td           { @include fonts09; @include colorBodyFont; }