@use "../../_import/scss/__import" as *;

/* ============================== */
/* 안내메시지 */
/* ============================== */
/*
    예제코드

    <ul class="common-ul-announce">
        <li data-i18n="(TI)uniform_announce-1"><!-- 팀의 유니폼 색상을 설정하는 곳입니다. --></li>
    </ul>
*/
.common-ul-announce
{
    display: block;
    padding: $padFull $padFull $padFull $padHuge;
    @include colorInfoBackTrans;
    @include fonts09;
    text-align: left;
    @include fonth16;
    list-style-type: disc;
    margin: 0em;
}
.common-ul-announce > li { margin-bottom: $marHalf; }
.common-ul-announce > li:nth-last-child(1) { margin-bottom: 0em; }
