@import "../../_import/scss/__import";

.common-select-outline
{
    max-width: 15em;
    @include padUD02;
    @include padRt10;
    @include padLt02;
    outline: none;
    text-align-last: center;
    @include verticalM;
    font-family: -apple-system, 'higashiome', 'SCDream3', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    border-radius: 0.5em;
    @include fonth16;
    @include alignC;
    height: 2.2em;
    background-color: white;
}