@use "sass:color";
@use "../../_import/scss/__import" as *;

/* ============================== */
/* main button */
/* ============================== */
@mixin btnOuterNormal   ($color)  { border:1px solid $color; background:color.scale($color, $lightness: 99%); color:$color; }
@mixin btnInnerNormal   ($color)  { border:1px solid color.scale($color, $lightness: -25%); background:$color; @if color.channel($color, "lightness", $space: hsl) > 55% { color:color.scale($color, $lightness: -75%); } @else { color:color.scale($color, $lightness: 99%); } }
@mixin btnOuterActive   ($color)  { border-color: rgba($color, 0.3); background:rgba($color, 0.3); }
@mixin btnInnerActive   ($color)  { border-color: rgba($color, 0.3); background:rgba($color, 0.3); }
@mixin btnOuterDisabled ($color)  { border:1px solid color.grayscale($color); background:$colorSnow; color:$color; }
@mixin btnInnerDisabled ($color)  { border:1px solid color.grayscale($color); background:color.grayscale($color); color:$color; }

.common-btn-light,
.common-btn-outer,
.common-btn-inner,
.common-btn-round,
.common-btn-radio,
.common-btn-flat
{
    display: inline-block;
    padding: $padUDbtn $padLRbtn calc($padUDbtn + 0.1em);
    text-decoration: none;
    border-radius: $borderRadiusDefault;
    @include colorSnowBackSolid;
    line-height: 1.5;
}
.common-btn-round { border-radius: 100%; }
.common-btn-flat  { background-color: transparent; color: $colorBody; border: 1px solid $colorMain; }

.common-btn-light:hover,
.common-btn-outer:hover,
.common-btn-inner:hover,
.common-btn-round:hover,
.common-btn-radio:hover,
.common-btn-flat:hover
{
    outline: none;
    cursor: pointer;
}


/* round */ .common-btn-round                               { @include btnOuterNormal($colorMain); } .common-btn-round:active                                { @include btnOuterActive($colorMain); }
/* round */ .common-btn-round[btn-type=choosed]             { @include btnOuterNormal($colorMain); } .common-btn-round[btn-type=choosed]:active              { @include btnOuterActive($colorMain); }
/* round */ .common-btn-round[btn-type=cancel]              { @include btnOuterNormal($colorCncl); } .common-btn-round[btn-type=cancel]:active               { @include btnOuterActive($colorCncl); }
/* round */ .common-btn-round[btn-type=warning]             { @include btnOuterNormal($colorCncl); } .common-btn-round[btn-type=warning]:active              { @include btnOuterActive($colorCncl); }
/* round */ .common-btn-round[btn-type=error]               { @include btnOuterNormal($colorErrr); } .common-btn-round[btn-type=error]:active                { @include btnOuterActive($colorErrr); }
/* round */ .common-btn-round[btn-type=error]               { @include btnOuterNormal($colorErrr); } .common-btn-round[btn-type=error]:active                { @include btnOuterActive($colorErrr); }
/* outer */ .common-btn-outer                               { @include btnOuterNormal($colorMain); } .common-btn-outer:active                                { @include btnOuterActive($colorMain); }
/* outer */ .common-btn-outer[btn-type=choosed]             { @include btnOuterNormal($colorMain); } .common-btn-outer[btn-type=choosed]:active              { @include btnOuterActive($colorMain); }
/* outer */ .common-btn-outer[btn-type=cancel]              { @include btnOuterNormal($colorCncl); } .common-btn-outer[btn-type=cancel]:active               { @include btnOuterActive($colorCncl); }
/* outer */ .common-btn-outer[btn-type=warning]             { @include btnOuterNormal($colorCncl); } .common-btn-outer[btn-type=warning]:active              { @include btnOuterActive($colorCncl); }
/* outer */ .common-btn-outer[btn-type=error]               { @include btnOuterNormal($colorErrr); } .common-btn-outer[btn-type=error]:active                { @include btnOuterActive($colorErrr); }
/* outer */ .common-btn-outer[btn-type=delete]              { @include btnOuterNormal($colorErrr); } .common-btn-outer[btn-type=delete]:active               { @include btnOuterActive($colorErrr); }
/* light */ .common-btn-light                               { @include btnOuterNormal($colorBody); } .common-btn-light:active                                { @include btnOuterActive($colorBody); }
/* inner */ .common-btn-inner                               { @include btnInnerNormal($colorMain); } .common-btn-inner:active                                { @include btnInnerActive($colorMain); }
/* inner */ .common-btn-inner[btn-type=cancel]              { @include btnInnerNormal($colorCncl); } .common-btn-inner[btn-type=cancel]:active               { @include btnInnerActive($colorCncl); }
/* inner */ .common-btn-inner[btn-type=delete]              { @include btnInnerNormal($colorErrr); } .common-btn-inner[btn-type=delete]:active               { @include btnInnerActive($colorErrr); }
/* inner */ .common-btn-inner[btn-type=detail]              { @include btnInnerNormal($colorDtil); } .common-btn-inner[btn-type=detail]:active               { @include btnInnerActive($colorDtil); }
/* radio */ .common-btn-radio[tab=""]                       { @include btnOuterNormal($colorMain); } .common-btn-radio:disabled[tab=""]                      { @include btnOuterDisabled($colorMain); }
/* radio */ .common-btn-radio[tab=tab]                      { @include btnInnerNormal($colorMain); } .common-btn-radio:disabled[tab=tab]                     { @include btnInnerDisabled($colorMain); }
/* radio */ .common-btn-radio[btn-type=cancel][tab=""]      { @include btnOuterNormal($colorCncl); } .common-btn-radio:disabled[btn-type=cancel][tab=""]     { @include btnOuterDisabled($colorCncl); }
/* radio */ .common-btn-radio[btn-type=cancel][tab=tab]     { @include btnInnerNormal($colorCncl); } .common-btn-radio:disabled[btn-type=cancel][tab=tab]    { @include btnInnerDisabled($colorCncl); }

.common-btn-light:disabled  { @include btnOuterDisabled($colorBody); }
.common-btn-outer:disabled  { @include btnOuterDisabled($colorMain); }
.common-btn-inner:disabled  { @include btnInnerDisabled($colorMain); }

/* button size */
.common-btn-outer[btn-size=large]    { display: block; margin: $marHalf auto; padding: $padMore; min-width: 12em; max-width: 90%; }
.common-btn-inner[btn-size=large]    { display: block; margin: $marHalf auto; padding: $padMore; min-width: 12em; max-width: 90%; }

/* -------------------- */
/* noline */
/* -------------------- */
.common-btn-noline,
.common-btn-nolineSave
{
    display: inline-block;
    padding: 0.3em 0.4em;
    background-color: transparent;
    border: none;
    line-height: 1.5;
}
.common-btn-nolineSave:hover,
.common-btn-noline:hover
{
    border: none;
    cursor: pointer;
}

/* noline */ .common-btn-noline                          { color: $colorMain; } .common-btn-noline:active                   { @include colorMainBackTrans; }
/* noline */ .common-btn-noline[btn-type=cancel]         { @include colorCnclFont; } .common-btn-noline:active[btn-type=cancel]  { @include colorCnclBackTrans; }
/* noline */ .common-btn-noline[btn-type=warning]        { @include colorCnclFont; } .common-btn-noline:active[btn-type=warning] { @include colorCnclBackTrans; }
/* noline */ .common-btn-noline[btn-type=error]          { @include colorErrrFont; } .common-btn-noline:active[btn-type=error]   { @include colorErrrBackTrans; }
/* noline */ .common-btn-noline[btn-type=body]           { @include colorBodyFont; } .common-btn-noline:active[btn-type=body]    { @include colorBodyBackTrans; }


/* -------------------- */
/* 페이지 바닥에 깔리는 버튼 */
/* -------------------- */
.common-btn-footer
{
    display: inline-block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: $colorMain;
    color: $colorSnow;
    @include fonts11;
    @include fonth16;
    padding: $padMore;
    border: none;
}
.common-btn-footer:hover  { cursor: pointer; }
.common-btn-footer:active { @include colorMainBackTrans; }
