@use "../../_import/scss/__import" as *;

/* ============================== */
/* main button */
/* ============================== */
@mixin btnOutlineNormal   ($color) { border:1px solid $color;                        color:$color;     } @mixin btnOutlineActive ($color) { border-color: rgba($color, 0.3); background:rgba($color, 0.3); }
@mixin btnInlineNormal    ($color) { border:1px solid $color; background:$color;     color:$colorWhit; } @mixin btnInlineActive  ($color) { border-color: rgba($color, 0.3); background:rgba($color, 0.3); }
@mixin btnOutlineDisabled ($color) { border:1px solid $color; background:$colorWhit; color:$color;     }
@mixin btnInlineDisabled  ($color) { border:1px solid $color; background:$colorDiss; color:$colorWhit; }

.common-btn-light,
.common-btn-outline,
.common-btn-inline,
.common-btn-round,
.common-btn-radio,
.common-btn-flat
{
    @include displayIn;
    @include pad04;
    @include fonth14;
    text-decoration: none;
    /* @include colorMainShad; */
    /* @include colorWhitFont; */
    @include radiusCurv04;
    @include colorWhitBackSolid;
}
.common-btn-round { @include radiusFull; }
.common-btn-flat  { background-color: transparent; color: $colorBody; border: 1px solid $colorMain; }

.common-btn-light:hover,
.common-btn-outline:hover,
.common-btn-inline:hover,
.common-btn-round:hover,
.common-btn-radio:hover,
.common-btn-flat:hover
{
    outline: none;
    cursor: pointer;
}


/* round */
.common-btn-round                                       { @include btnOutlineNormal($colorMain); }
.common-btn-round[btn-type=choosed]                     { @include btnOutlineNormal($colorMain); }
.common-btn-round[btn-type=cancel]                      { @include btnOutlineNormal($colorCncl); }
.common-btn-round[btn-type=warning]                     { @include btnOutlineNormal($colorCncl); }
.common-btn-round[btn-type=error]                       { @include btnOutlineNormal($colorErrr); }
.common-btn-round[btn-type=error]                       { @include btnOutlineNormal($colorErrr); }
.common-btn-round:active                                { @include btnOutlineActive($colorMain); }
.common-btn-round[btn-type=choosed]:active              { @include btnOutlineActive($colorMain); }
.common-btn-round[btn-type=cancel]:active               { @include btnOutlineActive($colorCncl); }
.common-btn-round[btn-type=warning]:active              { @include btnOutlineActive($colorCncl); }
.common-btn-round[btn-type=error]:active                { @include btnOutlineActive($colorErrr); }
.common-btn-round[btn-type=error]:active                { @include btnOutlineActive($colorErrr); }

/* outline */
.common-btn-outline                                     { @include btnOutlineNormal($colorMain); }
.common-btn-outline[btn-type=choosed]                   { @include btnOutlineNormal($colorMain); }
.common-btn-outline[btn-type=cancel]                    { @include btnOutlineNormal($colorCncl); }
.common-btn-outline[btn-type=warning]                   { @include btnOutlineNormal($colorCncl); }
.common-btn-outline[btn-type=error]                     { @include btnOutlineNormal($colorErrr); }
.common-btn-outline[btn-type=delete]                    { @include btnOutlineNormal($colorErrr); }
.common-btn-outline:active                              { @include btnOutlineActive($colorMain); }
.common-btn-outline[btn-type=choosed]:active            { @include btnOutlineActive($colorMain); }
.common-btn-outline[btn-type=cancel]:active             { @include btnOutlineActive($colorCncl); }
.common-btn-outline[btn-type=warning]:active            { @include btnOutlineActive($colorCncl); }
.common-btn-outline[btn-type=error]:active              { @include btnOutlineActive($colorErrr); }
.common-btn-outline[btn-type=delete]:active             { @include btnOutlineActive($colorErrr); }
.common-btn-outline:disabled                            { @include btnOutlineDisabled($colorMain); }

/* outline */
.common-btn-light                                       { @include btnOutlineNormal($colorBody); }
.common-btn-light:active                                { @include btnOutlineActive($colorBody); }
.common-btn-light:disabled                              { @include btnOutlineDisabled($colorBody); }

/* inline */
.common-btn-inline                                      { @include btnInlineNormal($colorMain); }
.common-btn-inline[btn-type=cancel]                     { @include btnInlineNormal($colorCncl); }
.common-btn-inline[btn-type=delete]                     { @include btnInlineNormal($colorErrr); }
.common-btn-inline:active                               { @include btnInlineActive($colorMain); }
.common-btn-inline[btn-type=cancel]:active              { @include btnInlineActive($colorCncl); }
.common-btn-inline[btn-type=delete]:active              { @include btnInlineActive($colorErrr); }
.common-btn-inline:disabled                             { @include btnInlineDisabled($colorMain); }


/* radio */
.common-btn-radio[tab=""]                               { @include btnOutlineNormal($colorMain); }
.common-btn-radio[tab=tab]                              { @include btnInlineNormal($colorMain); }
.common-btn-radio[btn-type=cancel][tab=""]              { @include btnOutlineNormal($colorCncl); }
.common-btn-radio[btn-type=cancel][tab=tab]             { @include btnInlineNormal($colorCncl); }
.common-btn-radio:disabled[tab=""]                      { @include btnOutlineDisabled($colorMain); }
.common-btn-radio:disabled[tab=tab]                     { @include btnInlineDisabled($colorMain); }
.common-btn-radio:disabled[btn-type=cancel][tab=""]     { @include btnOutlineDisabled($colorCncl); }
.common-btn-radio:disabled[btn-type=cancel][tab=tab]    { @include btnInlineDisabled($colorCncl); }

/* button size */
.common-btn-outline[btn-size=large]   { @include displayBk; @include marUD03; @include marAuto; @include pad08; min-width: 12em; max-width: 90%; }
.common-btn-inline[btn-size=large]    { @include displayBk; @include marUD03; @include marAuto; @include pad08; min-width: 12em; max-width: 90%; }
.common-btn-outline[btn-size=search]  { @include displayIn; @include pad04; }

/* -------------------- */
/* noline */
/* -------------------- */
.common-btn-noline,
.common-btn-nolineSave
{
    @include displayIn;
    @include pad05;
    @include backgroundTrans;
    border: none;
    @include fonth14;
}
.common-btn-nolineSave:hover,
.common-btn-noline:hover
{
    outline: none;
    cursor: pointer;
}

.common-btn-noline                          { @include colorMainFont; }
.common-btn-noline[btn-type=cancel]         { @include colorCnclFont; }
.common-btn-noline[btn-type=warning]        { @include colorCnclFont; }
.common-btn-noline[btn-type=error]          { @include colorErrrFont; }
.common-btn-noline:active                   { @include colorMainBackTrans; }
.common-btn-noline:active[btn-type=cancel]  { @include colorCnclBackTrans; }
.common-btn-noline:active[btn-type=warning] { @include colorCnclBackTrans; }
.common-btn-noline:active[btn-type=error]   { @include colorErrrBackTrans; }

/* -------------------- */
/* 페이지 바닥에 깔리는 버튼 */
/* -------------------- */
.common-btn-footer
{
    @include displayIn;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    @include colorMainBackSolid;
    @include colorWhitFont;
    @include fonts11;
    @include fonth16;;
    @include padUD08;
    @include padLR04;
    border: none;
}
.common-btn-footer:hover  { cursor: pointer; }
.common-btn-footer:active { @include colorMainBackTrans; }
