@import "../../_import/scss/__import";

/* ========================= */
/* 각 인풋박스 */
/* ========================= */
.common-div-formField > .common-input-field { @include widthFull; max-width: 500px; @include boxsizeB; outline: none; background-color: transparent; }
.common-input-field
{
    @include padUD03;
    @include fonts11;
    border: none;
    border-bottom: 1px solid #ccc;
    @include alignL;
    background-color: transparent;
}
.common-input-field:focus { border: none; border-bottom: 3px solid rgb(2, 6, 84); }

.common-div-formField > .common-textarea-field { @include widthFull; max-width: 500px; @include boxsizeB; outline: none; background-color: transparent; }
.common-textarea-field
{
  @include pad03;
  @include fonts11;
  border: 1px solid #ccc;
  background-color: transparent;
}
.common-textarea-field:focus { border: 1px solid rgb(2, 6, 84); border-bottom: 3px solid rgb(2, 6, 84); }

/* ========================= */
/* 각 인풋박스 (기존) */
/* ========================= */
.common-input-text
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    /* @include boxsizeC; */
    @include pad03;
    @include fonts11;
    border: 1px solid #ccc;
}

.common-input-text:focus
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    border: 1px solid rgb(255, 215, 0);
    box-shadow: 0px 0px 5px rgb(255, 215, 0);
}

.common-text
{
    /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */

    box-sizing: initial;
    @include pad03;
    @include fonts11;
    border: none;
}

.common-textarea
{
  /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */

  /* @include boxsizeC; */
  @include pad03;
  @include fonts11;
  border: 1px solid #ccc;
}

.common-textarea:focus
{
  /* cordova를 포팅하였을 때, 발생하는 특징을 무시하기 위함 */
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */

  border: 1px solid rgb(255, 215, 0);
  box-shadow: 0px 0px 5px rgb(255, 215, 0);
}

