@use "../../_import/scss/__import" as *;

.common-select-outer
{
    max-width: 15em;
    @include padUD02;
    @include padRt10;
    @include padLt02;
    outline: none;
    text-align-last: center;
    @include verticalM;
    @include fontDefault;
    border-radius: 0.5em;
    @include fonth16;
    @include alignC;
    height: 2.2em;
    @include colorWhitFont;
}