/* ============================== */
/* 공지사항 배너형 */
/* ============================== */
.MSystemBoard-makeMainBanner-div-top
{
    display:block;
    width:100%;
}

.MSystemBoard-makeMainBanner-img
{
    display:block;
    width:100%;
}


/* ============================== */
/* 공지사항 가로형 (썸네일 없이 카드형 리스트) */
/* ============================== */
.MSystemBoard-makeHorizon-div-top
{
    cursor:pointer;
}