@use "sass:color";
@use "../../_import/scss/__import" as *;

/* ========================= */
/* MCls-make */
/* ========================= */
.MCls-make-top
{
    position: relative;
}

.MCls-make-clsno
{
    position: absolute;
    top: 0.4em;
    right: 0.6em;
}